<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passwordpolicy.title">Password policy</h2>
    </header>
    <jhi-alert></jhi-alert>
</section>

<div class="container">

    <form class="form-horizontal">
        <!--<div class="col-md-8 col-md-offset-1">-->

            <div class="form-group">
                <label class="control-label" translate="passwordpolicy.session_timeout">Session timeout</label>
                <div class="control-container">
                    <div style="width: 500px;">
                        <div style="margin-top: 8px;" >
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: right; padding-right: 10px;">
                                {{minSessionTimeout}}
                            </div>
                            <div style="display: inline-block; padding-top: 5px; width: auto">
                                <pt-slider class="slider"
                                           ng-model="vm.sessionTimeout"
                                           p-min="parseFloat(minSessionTimeout)"
                                           p-max="parseFloat(maxSessionTimeout)"
                                           p-step="parseFloat(sessionTimeoutStep)"
                                           p-show-value-as-label="false"
                                           p-auto-tooltip="true" p-disabled="false" p-range="false"
                                           p-length="380"></pt-slider>
                            </div>
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: left">
                                {{maxSessionTimeout}}
                            </div>
                        </div>
                        <div style="width: 100%; text-align: center">
                            <span>{{vm.sessionTimeout}}</span>
                            <span translate="passwordpolicy.unit_minutes">minutes</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="passwordpolicy.password_minimum_length">Password minimum length</label>
                <div class="control-container">
                    <div style="width: 500px;">
                        <div style="margin-top: 8px;" >
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: right; padding-right: 10px;">
                                {{minPasswordLength}}
                            </div>
                            <div style="display: inline-block; padding-top: 5px; width: auto">
                                <pt-slider class="slider"
                                           ng-model="vm.passwordLength"
                                           p-min="parseFloat(minPasswordLength)"
                                           p-max="parseFloat(maxPasswordLength)"
                                           p-step="parseFloat(defaultStep)"
                                           p-show-value-as-label="false"
                                           p-auto-tooltip="true" p-disabled="false" p-range="false"
                                           p-length="380"></pt-slider>
                            </div>
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: left">
                                {{maxPasswordLength}}
                            </div>
                        </div>
                        <div style="width: 100%; text-align: center">
                            <span>{{vm.passwordLength}}</span>
                            <span translate="passwordpolicy.unit_characters">characters</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="passwordpolicy.password_lifetime">Password lifetime</label>
                <div class="control-container">
                    <div style="width: 500px;">
                        <div style="margin-top: 8px;" >
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: right; padding-right: 10px;">
                                {{minPasswordLifetime}}
                            </div>
                            <div style="display: inline-block; padding-top: 5px; width: auto">
                                <pt-slider class="slider"
                                           ng-model="vm.passwordLifetime"
                                           p-min="parseFloat(minPasswordLifetime)"
                                           p-max="parseFloat(maxPasswordLifetime)"
                                           p-step="parseFloat(defaultStep)"
                                           p-show-value-as-label="false"
                                           p-auto-tooltip="true" p-disabled="false" p-range="false"
                                           p-length="380"></pt-slider>
                            </div>
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: left">
                                {{maxPasswordLifetime}}
                            </div>
                        </div>
                        <div style="width: 100%; text-align: center">
                            <span>{{vm.passwordLifetime}}</span>
                            <span translate="passwordpolicy.unit_days">days</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="passwordpolicy.password_expiration_warning">Password expiration warning</label>
                <div class="control-container">
                    <div style="width: 500px;">
                        <div style="margin-top: 8px;" >
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: right; padding-right: 10px;">
                                {{minPasswordExpirationThreshold}}
                            </div>
                            <div style="display: inline-block; padding-top: 5px; width: auto">
                                <pt-slider class="slider"
                                           ng-model="vm.passwordExpirationThreshold"
                                           p-min="parseFloat(minPasswordExpirationThreshold)"
                                           p-max="parseFloat(maxPasswordExpirationThreshold)"
                                           p-step="parseFloat(defaultStep)"
                                           p-show-value-as-label="false"
                                           p-auto-tooltip="true" p-disabled="false" p-range="false"
                                           p-length="380"></pt-slider>
                            </div>
                            <div style="display: inline-block; vertical-align: top; width: 50px; text-align: left">
                                {{maxPasswordExpirationThreshold}}
                            </div>
                        </div>
                        <div style="width: 100%; text-align: center">
                            <span>{{vm.passwordExpirationThreshold}}</span>
                            <span translate="passwordpolicy.unit_days">days</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="passwordpolicy.failed_login_attempts">Lock accounts after</label>
                <div class="control-container">
                    <select class="form-control" style="display: inline-block; width: 80px;"
                            id="field_failedLoginAttempts" name="failedLoginAttempts"
                            ng-model="vm.failedLoginAttempts"
                            ng-options="value for value in failedLoginAttemptsValues">
                    </select>
                    <span translate="passwordpolicy.failed_login_attempts_period">failed login attempts in</span>
                    <select class="form-control" style="display: inline-block; width: 80px;"
                            id="field_failedLoginAttemptsPeriod" name="failedLoginAttemptsPeriod"
                            ng-model="vm.failedLoginAttemptsPeriod"
                            ng-options="value for value in failedLoginAttemptsPeriodValues">
                    </select>
                    <span translate="passwordpolicy.unit_minutes">minutes</span>
                </div>
            </div>

            <div class="pull-right">
                <!--<div class="col-md-offset-3 col-md-9" style="text-align: right">-->
                    <!--<div style="float: left">-->
                    <!--</div>-->
                    <!--<div style="float: right">-->
                        <button type="button" ng-click="vm.save()" ng-disabled="vm.isSaving" class="btn pr-btn pr-btn-primary">
                            <span translate="entity.action.save">Save</span>
                        </button>
                    <!--</div>-->
                    <!--<div style="clear: both"></div>-->
                <!--</div>-->
            </div>
        <!--</div>-->
    </form>
</div>
