<form class="form-horizontal pr-auth-password-reset" name="form" role="form" novalidate autocomplete="off">
    <div class="pr-notification-local-banner">
        <div class="alert alert-danger" ng-show="vm.error">
            <div class="alert-body">
                <span translate="activate.messages.error"><strong>Your user could not be activated.</strong> Please use the registration form to sign up.</span>
            </div>
        </div>
        <div class="alert alert-success" ng-show="vm.success">
            <div class="alert-body">
                <span translate="activate.messages.success" translate-compile><strong>Your user has been activated.</strong> Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.</span>
            </div>
        </div>
    </div>
    <fieldset ng-show="vm.showPasswordFields && !vm.success && !vm.error">
        <legend translate="activate.title">Activate user</legend>
        <div class="form-group">
            <div class="col-md-12">
                <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                       ng-model="vm.password"
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                       ng-minlength='{{vm.configuration.password.minLength}}'
                       ng-maxlength=50
                       password-strength-validator
                       required>
                <div ng-show="(form.password.$dirty || form.password.$touched) && form.password.$invalid">
                    <div class="error-block" ng-show="form.password.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                    <div class="error-block" ng-show="form.password.$error.minlength">
                        <span translate="global.messages.validate.newpassword.minlength" translate-values="{ minLength: vm.configuration.password.minLength }">Your password is required to be at least {{vm.configuration.password.minLength}} characters.</span>
                    </div>
                    <div class="error-block" ng-show="form.password.$error.maxlength">
                        <span translate="global.messages.validate.newpassword.maxlength">Your password cannot be longer than 50 characters.</span>
                    </div>
                    <div class="error-block" ng-show="form.password.$error.passwordStrength">
                        <span translate="global.messages.validate.newpassword.weak">Your password must contain 3 of the following items: uppercase letters, lowercase letters, numbers or symbols.</span>
                    </div>
                    <div class="error-block" ng-show="form.password.$error.passwordHistory">
                        <span translate="global.messages.validate.newpassword.reuse">You have used this password before. Please use a different one.</span>
                    </div>
                </div>
                <div ng-show="form.password.$pending">
                    <div class="help-block">
                        <span translate="global.messages.validate.newpassword.pending">Validating password strength...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                       ng-model="vm.confirmPassword"
                       ng-minlength='{{vm.configuration.password.minLength}}'
                       ng-maxlength=50
                       compare-to="vm.password"
                       required>
                <div ng-show="(form.confirmPassword.$dirty || form.confirmPassword.$touched) && form.confirmPassword.$invalid">
                    <div class="error-block" ng-show="form.confirmPassword.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                    <div class="error-block" ng-show="form.confirmPassword.$error.minlength">
                        <span translate="global.messages.validate.confirmpassword.minlength" translate-values="{ minLength: vm.configuration.password.minLength }">Your confirmation password is required to be at least {{vm.configuration.password.minLength}} characters.</span>
                    </div>
                    <div class="error-block" ng-show="form.confirmPassword.$error.maxlength">
                        <span translate="global.messages.validate.confirmpassword.maxlength">Your password confirmation cannot be longer than 50 characters.</span>
                    </div>
                    <div class="error-block" ng-show="form.confirmPassword.$error.compareTo">
                        <span translate="global.messages.error.dontmatch.password">The password and its confirmation do not match!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" ng-disabled="form.$invalid" class="pr-btn pr-btn-submit" ng-click="vm.activate()">
                <span translate="activate.form.button">Activate</span>
            </button>
        </div>
    </fieldset>
</form>
