<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section class="pr-section">
            <header class="pr-section-header">
                <h2 translate="password.title" translate-values="{username: '{{vm.account.login}}'}">Password for [<b>{{vm.account.login}}</b>]</h2>
            </header>
        </section>

        <form name="form" role="form" class="form-horizontal pr-auth-password-reset" autocomplete="off" novalidate ng-submit="vm.changePassword()">
            <div class="pr-notification-local-banner">
                <div class="alert alert-success" ng-show="vm.success">
                    <div class="alert-body">
                        <span translate="password.messages.success"><strong>Password changed!</strong></span>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="vm.error">
                    <div class="alert-body">
                        <span translate="password.messages.error"><strong>An error has occurred!</strong> The password could not be changed.</span>
                    </div>
                </div>
                <div class="alert alert-warning" ng-show="vm.hasExpired">
                    <div class="alert-body">
                        <span>Your password has expired!</span>
                    </div>
                </div>
            </div>
            <fieldset>
                <div class="form-group">
                    <label class="control-label control-label-required" for="password" translate="global.form.newpassword">New password</label>
                    <div class="control-container">
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="vm.password"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                               ng-minlength='{{vm.configuration.password.minLength}}'
                               ng-maxlength=50
                               password-strength-validator
                               password-history-validator login="vm.account.login"
                               required>
                        <div ng-show="(form.password.$dirty || form.password.$touched) && form.password.$invalid">
                            <div class="error-block" ng-show="form.password.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="form.password.$error.minlength">
                                <span translate="global.messages.validate.newpassword.minlength" translate-values="{ minLength: vm.configuration.password.minLength }">Your password is required to be at least {{vm.configuration.password.minLength}} characters.</span>
                            </div>
                            <div class="error-block" ng-show="form.password.$error.maxlength">
                                <span translate="global.messages.validate.newpassword.maxlength">Your password cannot be longer than 50 characters.</span>
                            </div>
                            <div class="error-block" ng-show="form.password.$error.passwordStrength">
                                <span translate="global.messages.validate.newpassword.weak">Your password must contain 3 of the following items: uppercase letters, lowercase letters, numbers or symbols.</span>
                            </div>
                            <div class="error-block" ng-show="form.password.$error.passwordHistory">
                                <span translate="global.messages.validate.newpassword.reuse">You have used this password before. Please use a different one.</span>
                            </div>
                        </div>
                        <div ng-show="form.password.$pending">
                            <div class="help-block">
                                <span translate="global.messages.validate.newpassword.pending">Validating password...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label control-label-required" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                    <div class="control-container">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="vm.confirmPassword"
                               ng-minlength='{{vm.configuration.password.minLength}}'
                               ng-maxlength=50
                               compare-to="vm.password"
                               required>
                        <div ng-show="(form.confirmPassword.$dirty || form.confirmPassword.$touched) && form.confirmPassword.$invalid">
                            <div class="error-block" ng-show="form.confirmPassword.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="form.confirmPassword.$error.minlength">
                                <span translate="global.messages.validate.confirmpassword.minlength" translate-values="{ minLength: vm.configuration.password.minLength }">Your confirmation password is required to be at least {{vm.configuration.password.minLength}} characters.</span>
                            </div>
                            <div class="error-block" ng-show="form.confirmPassword.$error.maxlength">
                                <span translate="global.messages.validate.confirmpassword.maxlength">Your confirmation password cannot be longer than 50 characters.</span>
                            </div>
                            <div class="error-block" ng-show="form.confirmPassword.$error.compareTo">
                                <span translate="global.messages.error.dontmatch.password">The password and its confirmation do not match!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="pull-right">
                <button type="submit" ng-disabled="form.$invalid" class="btn pr-btn pr-btn-primary" translate="password.form.button">Save</button>
            </div>

        </form>
    </div>
</div>
