<div id="main-navbar" class="pr-primary-navbar navbar-fixed-top" role="navigation">
    <div class="pr-primary-navbar-wrap clearfix">
        <h1 class="pr-primary-navbar-brand">
            <a href="#/" title="{{ 'global.title' | translate }}"><span translate="global.title"></span></a>
        </h1>
        <span>
            <nav class="pr-primary-navbar-app-nav">
                <ul>
                    <li ui-sref-active="active" has-authority="ROLE_USER">
                        <a ng-hide="!vm.isClinician && !vm.isSiteCoordinator" ui-sref="home" ng-click="vm.collapseNavbar()">
                            <span class="hidden-sm" translate="global.menu.dashboard">Dashboard</span>
                        </a>
                    </li>
                    <li ng-class="{active: vm.$state.includes('setup')}" has-authority="ROLE_USER">
                        <a ng-show="!vm.isClinician && !vm.isSiteCoordinator" class="disabled">
                            <span class="hidden-sm" translate="global.menu.entities.setup">Setup</span>
                        </a>
                        <a ng-hide="!vm.isClinician" ui-sref="study" ng-click="vm.collapseNavbar()">
                            <span class="hidden-sm" translate="global.menu.entities.setup">Setup</span>
                        </a>
                        <a ng-hide="!vm.isSiteCoordinator" ui-sref="monitor" ng-click="vm.collapseNavbar()">
                            <span class="hidden-sm" translate="global.menu.entities.setup">Setup</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="ROLE_USER">
                        <a ng-show="!vm.isClinician && !vm.isSiteCoordinator" class="disabled">
                            <span class="hidden-sm" translate="global.menu.entities.subject">Subject</span>
                        </a>
                        <a ng-hide="!vm.isClinician && !vm.isSiteCoordinator" ui-sref="subject" ng-click="vm.collapseNavbar()">
                            <span class="hidden-sm" translate="global.menu.entities.subject">Subject</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="ROLE_USER">
                        <a ng-show="!vm.isClinician && !vm.isSiteCoordinator" class="disabled">
                            <span class="hidden-sm" translate="global.menu.entities.monitorAssignment">Assignment</span>
                        </a>
                        <a ng-hide="!vm.isClinician && !vm.isSiteCoordinator" ui-sref="monitor-assignment" ng-click="vm.collapseNavbar()">
                            <span class="hidden-sm" translate="global.menu.entities.monitorAssignment">Assignment</span>
                        </a>
                    </li>
                    <li ng-class="{active: vm.$state.includes('admin')}" has-any-authority="ACL_COMPADMIN,ROLE_ADMIN" >
                        <a ui-sref="admin-dashboard" ng-click="vm.collapseNavbar()">
                            <span class="hidden-sm" translate="global.menu.entities.compadmin">Administration</span>
                        </a>
                    </li>
               </ul>
            </nav>
            <nav class="pr-primary-navbar-user-nav">
                <ul>
                    <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                            <div>
                                <span>
                                    <span class="hidden-sm">
                                        {{vm.account.login}}
                                    </span>
                                    <span class="pr-icon pr-icon-settings" aria-hidden="true"></span>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                    <span translate="global.menu.account.settings">Settings</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                    <span translate="global.menu.account.password">Password</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                    <span translate="global.menu.account.sessions">Sessions</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li ui-sref-active="active">
                                <a href="" ng-click="vm.about()" id="about">
                                    <span>About</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ng-click="vm.collapseNavbar()">
                                    <span translate="global.menu.entities.help">Help</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li ui-sref-active="active">
                                <a href="" ng-click="vm.logout()" id="logout">
                                    <span translate="global.menu.account.logout">Sign out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </span>
    </div>
</div>
