<div class="pr-section-nav pr-tainer-full ng-scope">
    <ul class="pr-section-nav-tabs nav nav-tabs">
        <li ui-sref-active="active" has-authority="ROLE_USER">
            <a ng-show="!vm.isClinician" class="disabled">
                <span class="hidden-sm" translate="global.menu.entities.study">Study</span>
            </a>
            <a ng-hide="!vm.isClinician" ui-sref="study">
                <span class="hidden-sm" translate="global.menu.entities.study">Study</span>
            </a>
        </li>
        <li ui-sref-active="active" has-authority="ROLE_USER">
            <a ui-sref="monitor">
                <span class="hidden-sm" translate="global.menu.entities.monitor">Monitor</span>
            </a>
        </li>
        <li ui-sref-active="active" has-authority="ROLE_USER">
            <a ng-show="!vm.isClinician" class="disabled">
                <span class="hidden-sm" translate="global.menu.entities.monitorConfiguration">Configuration</span>
            </a>
            <a ng-hide="!vm.isClinician" ui-sref="monitor-configuration">
                <span class="hidden-sm" translate="global.menu.entities.monitorConfiguration">Configuration</span>
            </a>
        </li>
    </ul>
</div>
