<div class="pr-wizard">
    <form name="editForm" class="form-horizontal" role="form" novalidate>

        <header class="modal-header">
            <h3 class="modal-title">
                <span translate="about.title">About</span>
            </h3>
        </header>
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" translate="about.appname">Application name</label>
                    <div class="control-container">
                        <p class="form-control-static"><span translate="global.title"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="about.version">Version</label>
                    <div class="control-container">
                        <p class="form-control-static">{{VERSION}}</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </footer>
    </form>
</div>
