<form name="deleteForm" class="form-horizontal" ng-submit="vm.confirmDelete(vm.assignment.monitorId)">
    <header class="modal-header">
        <h3 class="modal-title" translate="passApp.monitorAssignment.delete.title">Confirm unassign operation</h3>
    </header>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <fieldset>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitorAssignment.subject">Subject</label>
                <div class="control-container">
                    <p class="form-control-static">
                        <span>{{vm.assignment.subject.firstName}}</span>
                        <span>{{vm.assignment.subject.lastName}}</span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitorAssignment.subjectID">Subject ID</label>
                <div class="control-container">
                    <p class="form-control-static">{{vm.assignment.subject.externalReference}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitorAssignment.study">Study</label>
                <div class="control-container">
                    <p class="form-control-static">
                        <span>{{vm.assignment.subject.study.name}}</span>
                        <span ng-show="vm.assignment.subject.study.externalReference">({{vm.assignment.subject.study.externalReference}})</span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitorAssignment.siteID">Site</label>
                <div class="control-container">
                    <p class="form-control-static">{{vm.assignment.siteReference}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitorAssignment.monitor">Monitor</label>
                <div class="control-container">
                    <p class="form-control-static">{{vm.assignment.monitorSerialNumber}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitorAssignment.configuration">Configuration</label>
                <div class="control-container">
                    <p class="form-control-static">{{vm.assignment.configurationName}}</p>
                </div>
            </div>
        </fieldset>

        <div uib-alert ng-class="'alert-warning'" ng-show="vm.assignment.studyStatus === 'ACTIVE'">
            <p style="font-weight: bold">
                The assigned subject is in an active study.
            </p>
            <p>
                If you unassign the subject from the configuration, the system will stop uploading monitored data.
                If this is your intention then select '<span translate="entity.action.ok">Ok</span>' below to complete the unassign request.
                If not, select '<span translate="entity.action.cancel">Cancel</span>'.
            </p>
        </div>
        <div class="pr-notification-local-banner">
            <div class="alert alert-warning" ng-hide="vm.assignment.studyStatus === 'ACTIVE'">
                <div class="alert-body">
                    <span translate="passApp.monitorAssignment.delete.question">Are you sure you want to delete this assignment?</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="modal-footer">
        <div class="form-actions-left">

        </div>
        <div class="form-actions">
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                <span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" class="btn pr-btn pr-btn-primary">
                <span translate="entity.action.ok">Ok</span>
            </button>
        </div>
    </footer>
</form>
