<div class="pr-wizard">
    <form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" autocomplete="off">

        <header class="modal-header">
            <h3 class="modal-title" translate="passApp.monitorAssignment.home.createLabel">Add Assignment</h3><span></span>
        </header>
        <div class="modal-body">
            <!--<jhi-alert-error></jhi-alert-error>-->
            <input type="hidden" name="subjectId" ng-model="vm.assignment.subject.id" required >
            <input type="hidden" name="monitorId" ng-model="vm.assignment.monitorId" required >

            <fieldset>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.monitorAssignment.subject">Subject</label>
                    <div class="control-container">
                        <input id="field_subject" name="subject" type="text" class="form-control"
                               ng-model="ngModelSubjectSelected" ng-model-options="modelOptions"
                               uib-typeahead="subject as subject.displayName for subject in vm.subjects | filter:{displayName:$viewValue} | orderBy:'externalReference'"
                               typeahead-select-on-exact="true"
                               required>
                        <div ng-show="(editForm.subjectId.$invalid || editForm.subject.$invalid) && (editForm.subject.$touched || editForm.subject.$dirty)">
                            <div class="error-block" ng-show="editForm.subjectId.$error.required && editForm.subject.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.subjectId.$error.required && !editForm.subject.$error.required">
                                <span translate="passApp.monitorAssignment.validation.invalidSubject">Invalid subject.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="passApp.monitorAssignment.subjectID">Subject ID</label>
                    <div class="control-container">
                        <input type="text" class="form-control"
                               ng-model="vm.assignment.subject.externalReference"
                               ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="passApp.monitorAssignment.study">Study</label>
                    <div class="control-container">
                        <input type="text" class="form-control"
                               ng-model="vm.assignment.subject.studyName"
                               ng-disabled="true">
                        <div class="error-block" ng-show="!vm.isStudyActive">
                            <span translate="passApp.monitorAssignment.validation.inactiveStudy">Inactive Study.</span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.monitorAssignment.siteID">Site</label>
                    <div class="control-container">
                        <input id="field_site" name="site" type="text" class="form-control"
                               maxlength="25"
                               ng-model="vm.assignment.subject.siteReference"
                               ng-disabled="!vm.isStudyActive||!vm.sitesLoaded || vm.isSiteCoordinator"
                               capitalize
                               uib-typeahead="site.externalReference for site in vm.sites | filter:$viewValue | orderBy:'externalReference'"
                               typeahead-show-on-focus
                               typeahead-min-length="0" typeahead-select-on-exact="false"
                               required>
                        <div ng-show="(editForm.site.$invalid || editForm.site.$invalid) && (editForm.site.$touched || editForm.site.$dirty)">
                            <div class="error-block" ng-show="editForm.site.$error.required && editForm.site.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.monitorAssignment.monitor">Monitor</label>
                    <div class="control-container">
                        <input id="field_monitor" name="monitor" type="text" class="form-control"
                               ng-model="ngModelMonitorSelected" ng-model-options="modelOptions"
                               uib-typeahead="monitor as monitor.serialNumber for monitor in vm.monitors | filter:{serialNumber:$viewValue} | orderBy:'serialNumber'"
                               typeahead-select-on-exact="true"
                               required ng-disabled="!vm.isStudyActive">
                        <div ng-show="(!vm.isStudyActive || editForm.monitorId.$invalid || editForm.monitor.$invalid) && (editForm.monitor.$touched || editForm.monitor.$dirty)">
                            <div class="error-block" ng-show="editForm.monitorId.$error.required && editForm.monitor.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.monitorId.$error.required && !editForm.monitor.$error.required">
                                <span translate="passApp.monitorAssignment.validation.invalidMonitor">Invalid monitor.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': editForm.configuration.$invalid && (editForm.configuration.$touched || editForm.configuration.$dirty)}">
                    <label class="control-label control-label-required" translate="passApp.monitorAssignment.configuration">Configuration</label>
                    <div class="control-container">
                        <select class="form-control" id="field_configuration" name="configuration" ng-model="vm.assignment.configurationId"
                                ng-options="configuration.id as configuration.name for configuration in vm.configurations | orderBy:'name'"
                                required ng-disabled="!vm.isStudyActive">
                        </select>
                        <div ng-show="editForm.configuration.$invalid && (editForm.configuration.$touched || editForm.configuration.$dirty)">
                            <div class="error-block" ng-show="editForm.configuration.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                        <div uib-alert ng-class="'alert-info'" style="margin-top: 5px;">
                            <p>
                                This configuration assignment information will be downloaded by the mobile application to the monitor the next time the mobile application sync'ed with PASS.
                            </p>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <footer class="modal-footer">
            <div class="form-group">
                <div class="form-actions-left">

                </div>
                <div class="form-actions" style="padding-right: 10%">
                    <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                        <span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" class="btn pr-btn pr-btn-primary" ng-disabled="editForm.$invalid || isSaving || !vm.isStudyActive">
                        <span translate="entity.action.save">Save</span>
                    </button>
                    <!--<button type="button" class="btn pr-btn pr-btn-primary" ui-sref="site.new({studyId:vm.assignment.subject.studyId})">-->
                        <!--<span>Add New Site </span>-->
                    <!--</button>-->
                </div>
            </div>
        </footer>

    </form>
</div>
