<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.monitorAssignment.home.title">Device Assignments</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="monitor-assignment.new" >
                <span translate="passApp.monitorAssignment.home.createLabel">Add Assignment</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
            <!--<p>Search for assignment by ...</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" onfocus="blur()"
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" onfocus="blur()">
                    <span class="pr-icon pr-icon-search"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-right" role="button" onfocus="blur()" ng-click="vm.toggleAdvancedSearch()">
                    <span>Advanced</span>
                    <span class="pr-icon" ng-class="advancedSearchCollapsed ? 'pr-icon-toggle-on' : 'pr-icon-toggle-off'"></span>
                </button>
            </span>
        </div>
        <div style="margin-top: 5px;">
            <div id="filter-panel" uib-collapse="advancedSearchCollapsed" ng-init="advancedSearchCollapsed = true">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.configuration">Configuration</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.configuration_name" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.studyName">Study name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.study_name" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.subjectID">Subject ID</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.assignedSubject_externalReference" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.siteID">Site</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.site_externalReference" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.subjectFirstName">Subject first name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.assignedSubject_firstName" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.subjectLastName">Subject last name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.assignedSubject_lastName" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitorAssignment.serialNumber">Device SN</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.monitorSerialNumber" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="monitorConfigurationName" translate="passApp.monitorAssignment.configuration">Configuration</option>
                    <option value="assignedSubjectStudyName" translate="passApp.monitorAssignment.studyName">Study name</option>
                    <option value="assignedSubjectExternalReference" translate="passApp.monitorAssignment.subjectID">Subject ID</option>
                    <option value="assignedSubjectFirstName" translate="passApp.monitorAssignment.subjectFirstName">Subject first name</option>
                    <option value="assignedSubjectLastName" translate="passApp.monitorAssignment.subjectLastName">Subject last name</option>
                    <option value="serialNumber" translate="passApp.monitorAssignment.serialNumber">Device SN</option>
                    <option value="assignedSubjectSiteExternalReference" translate="passApp.monitorAssignment.siteID">Site</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>

    <div class="table-responsive">

        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span></span></th>
                    <th><span translate="passApp.monitorAssignment.configuration">Configuration</span></th>
                    <th><span translate="passApp.monitorAssignment.studyName">Study name</span></th>
                    <th><span translate="passApp.monitorAssignment.subjectID">Subject ID</span></th>
                    <th><span translate="passApp.monitorAssignment.subjectFirstName">Subject first name</span></th>
                    <th><span translate="passApp.monitorAssignment.subjectLastName">Subject last name</span></th>
                    <th><span translate="passApp.monitorAssignment.serialNumber">Monitor SN</span></th>
                    <th><span translate="passApp.monitorAssignment.siteID">Site</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignment in vm.assignments track by assignment.monitorId">
                    <td><a ui-sref="monitor-assignment.delete({id:assignment.monitorId})" title="Unassign assignment"><span class="pr-icon pr-icon-delete"></span></a></td>
                    <td><a ng-click="vm.navigateToConfigurationDetails(assignment.configurationId)">{{assignment.configurationName}}</a></td>
                    <td><a ng-click="vm.navigateToStudyDetails(assignment.studyId)">{{assignment.studyName}}</a></td>
                    <td><a ng-click="vm.navigateToSubjectDetails(assignment.subjectId)">{{assignment.subjectExternalReference}}</a></td>
                    <td>{{assignment.subjectFirstName}}</td>
                    <td>{{assignment.subjectLastName}}</td>
                    <td>{{assignment.monitorSerialNumber}}</td>
                    <td>{{assignment.siteReference}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>



