
<div class="pr-wizard">
    <div class="modal-header">
        <h3 class="modal-title" ng-hide="vm.configuration.id" translate="passApp.monitorConfiguration.home.createLabel">Add Configuration</h3><span></span>
        <h3 class="modal-title" ng-show="vm.configuration.id" translate="passApp.monitorConfiguration.home.editLabel">Edit Configuration</h3><span></span>

        <div id="questions-status-buttons" class="pr-wizard-steps-indicator pr-wizard-steps-3">
            <ul class="clearfix">
                <li class="pr-wizard-step"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 1}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="{{vm.baseState}}.settings">
                    <span class="pr-wizard-step-label">Configuration Settings</span>
                </li>
                <li class="pr-wizard-step" ng-show="vm.hasQuestions"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 2, 'pr-wizard-step-open': vm.currentStepIndex < 2}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="{{vm.baseState}}.questions">
                    <span class="pr-wizard-step-label" ng-show="vm.hasQuestions">Questions</span>
                </li>
                <li class="pr-wizard-step" ng-show="vm.hasQuestions"
                    ng-class="{'pr-wizard-step-open': vm.currentStepIndex < 3}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="{{vm.baseState}}.schedule">
                    <span class="pr-wizard-step-label">Schedule Feedback</span>
                </li>
            </ul>
        </div>
    </div>
    <form name="dialogForm" class="form-horizontal" role="form" autocomplete="off" novalidate>
        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view="wizard" ng-init="vm.setWizardState('settings')"></div>
    </form>

</div>

