
<div class="modal-body">
    <!--<jhi-alert-error></jhi-alert-error>-->
    <fieldset>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.monitorConfiguration.name" for="field_name">Name</label>
            <div class="control-container">
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-minlength='4'
                       maxlength="25"
                       ng-model="vm.configuration.name"
                       required />
                <div ng-show="dialogForm.name.$invalid && (dialogForm.name.$touched || dialogForm.name.$dirty)">
                    <div class="error-block" ng-show="dialogForm.name.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                    <div class="error-block" ng-show="dialogForm.name.$error.minlength">
                        <span translate="passApp.monitorConfiguration.validation.name.minLength">Configuration name is required to be at least 4 characters.</span>
                    </div>
                    <div class="error-block" ng-show="dialogForm.name.$error.maxlength">
                        <span translate="passApp.monitorConfiguration.validation.name.maxLength">Configuration name cannot be longer than 25 characters.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="control-label" translate="passApp.monitorConfiguration.questions">Questions?</label>
            <div class="control-container">
                <div class="radio-btn-group">
                    <div class="control-radio">
                        <input type="radio" ng-model="vm.hasQuestions" ng-value="true" ng-click="vm.toggleQuestions()" />
                        <label>Yes</label>
                    </div>
                    <div class="control-radio">
                        <input type="radio" ng-model="vm.hasQuestions" ng-value="false" ng-click="vm.toggleQuestions()" />
                        <label>No</label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="control-label" translate="passApp.monitorConfiguration.monitor">Monitor</label>
            <div class="control-container">
                <div class="radio-btn-group">
                    <div class="control-radio">
                        <input type="radio" name="displayBlinded" ng-model="vm.configuration.displayBlinded" ng-value="false" />
                        <label translate="passApp.monitorConfiguration.unblinded">Unblinded</label>
                    </div>
                    <div class="control-radio">
                        <input type="radio" name="displayBlinded" ng-model="vm.configuration.displayBlinded" ng-value="true" />
                        <label translate="passApp.monitorConfiguration.blinded">Blinded</label>
                    </div>
                </div>

                <div class="radio-btn-group" ng-hide="true">
                    <div class="control-radio">
                        <input type="radio" name="displayType" ng-model="vm.configuration.displayType" value="DIGITAL" />
                        <label translate="passApp.WatchDisplayType.DIGITAL">Digital watch</label>
                    </div>
                    <div class="control-radio">
                        <input type="radio" name="displayType" ng-model="vm.configuration.displayType" value="ANALOG" />
                        <label translate="passApp.WatchDisplayType.ANALOG">Analog watch</label>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <label class="control-label" translate="passApp.monitorConfiguration.mobileApp">Mobile App</label>
            <div class="control-container">
                <div class="radio-btn-group">
                    <div class="control-radio">
                        <input type="radio" name="mobileAppBlinded" ng-model="vm.configuration.mobileAppBlinded" ng-value="false" />
                        <label translate="passApp.monitorConfiguration.unblinded">Unblinded</label>
                    </div>
                    <div class="control-radio">
                        <input type="radio" name="mobileAppBlinded" ng-model="vm.configuration.mobileAppBlinded" ng-value="true" />
                        <label translate="passApp.monitorConfiguration.blinded">Blinded</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend style="margin: 0 250px 10px">Physical Activity Levels (PALs)</legend>
        <div class="form-group">
            <label class="control-label control-label-required">Sedentary</label>
            <div class="control-container">
                <input type="text" class="form-control" name="palSedentaryMin"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.palSedentaryMin"
                       required numbers-only />
                <!-- lower-than="{{vm.configuration.palSedentaryMax}} -->
                <span>to</span>
                <input type="text" class="form-control" name="palSedentaryMax"
                       style="width: 150px; display: inline"
                       higher-than="{{vm.configuration.palSedentaryMin}}"
                       ng-model="vm.configuration.palSedentaryMax"
                       required numbers-only />
                <div ng-show="dialogForm.palSedentaryMin.$invalid && (dialogForm.palSedentaryMin.$touched || dialogForm.palSedentaryMin.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palSedentaryMin.$error.required">
                        <span>Sedentary minimal value is required.</span>
                    </div>
                    <!--<div class="error-block" ng-show="dialogForm.palSedentaryMin.$error.lowerThan">-->
                        <!--<span>Sedentary minimal value should be less than the maximum value.</span>-->
                    <!--</div>-->
                </div>
                <div ng-show="dialogForm.palSedentaryMax.$invalid && (dialogForm.palSedentaryMax.$touched || dialogForm.palSedentaryMax.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palSedentaryMax.$error.required">
                        <span>Sedentary maximum value is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required">Light</label>
            <div class="control-container">
                <input type="text" class="form-control" name="palLightMin"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.palLightMin"
                       required numbers-only />
                <span>to</span>
                <input type="text" class="form-control" name="palLightMax"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.palLightMax"
                       required numbers-only />
                <div ng-show="dialogForm.palLightMin.$invalid && (dialogForm.palLightMin.$touched || dialogForm.palLightMin.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palLightMin.$error.required">
                        <span>Light minimal value is required.</span>
                    </div>
                </div>
                <div ng-show="dialogForm.palLightMax.$invalid && (dialogForm.palLightMax.$touched || dialogForm.palLightMax.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palLightMax.$error.required">
                        <span>Light maximum value is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required">Medium</label>
            <div class="control-container">
                <input type="text" class="form-control" name="palMediumMin"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.palMediumMin"
                       required numbers-only />
                <span>to</span>
                <input type="text" class="form-control" name="palMediumMax"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.palMediumMax"
                       required numbers-only />
                <div ng-show="dialogForm.palMediumMin.$invalid && (dialogForm.palMediumMin.$touched || dialogForm.palMediumMin.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palMediumMin.$error.required">
                        <span>Medium minimal value is required.</span>
                    </div>
                </div>
                <div ng-show="dialogForm.palMediumMax.$invalid && (dialogForm.palMediumMax.$touched || dialogForm.palMediumMax.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palMediumMax.$error.required">
                        <span>Medium maximum value is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required">Vigorous</label>
            <div class="control-container">
                <input type="text" class="form-control" name="palVigorousMin"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.palVigorousMin"
                       required numbers-only />
                <span>and greater</span>
                <div ng-show="dialogForm.palVigorousMin.$invalid && (dialogForm.palVigorousMin.$touched || dialogForm.palVigorousMin.$dirty)">
                    <div class="error-block" ng-show="dialogForm.palVigorousMin.$error.required">
                        <span>Vigorous minimal value is required.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label control-label-required">Sedentary Alert Enabled</label>
            <div class="control-container">
                <div class="radio-btn-group">
                    <div class="control-radio">
                        <input type="radio" name="allowSedentaryAlert"
                               ng-model="vm.configuration.sedentaryAlertEnabled" ng-value="true" />
                        <label>Yes</label>
                    </div>
                    <div class="control-radio">
                        <input type="radio" name="allowSedentaryAlert" ng-model="vm.configuration.sedentaryAlertEnabled" ng-value="false" />
                        <label>No</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-disabled="!vm.configuration.sedentaryAlertEnabled">
            <label class="control-label control-label-required">Sedentary Alert</label>
            <div class="control-container">
                <input type="number" class="form-control" name="sedentaryAlert"
                       style="width: 100px; display: inline"
                       ng-disabled="!vm.configuration.sedentaryAlertEnabled"
                       ng-model="vm.configuration.sedentaryAlert"
                       min="0" max="60"
                       required />
                <span ng-disabled="!vm.configuration.sedentaryAlertEnabled">minutes</span>
                <div ng-show="dialogForm.sedentaryAlert.$invalid && (dialogForm.sedentaryAlert.$touched || dialogForm.sedentaryAlert.$dirty)">
                    <div class="error-block" ng-show="dialogForm.sedentaryAlert.$error.required">
                        <span>Sedentary alert is required.</span>
                    </div>
                    <div class="error-block" ng-show="dialogForm.sedentaryAlert.$error.number">
                        <span>Sedentary alert is not a valid numeric value.</span>
                    </div>
                    <div class="error-block" ng-show="dialogForm.sedentaryAlert.$error.min">
                        <span>Sedentary alert cannot be less than 0.</span>
                    </div>
                    <div class="error-block" ng-show="dialogForm.sedentaryAlert.$error.max">
                        <span>Sedentary alert cannot be greater than 60.</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend style="margin: 0 250px 10px">Daily targets</legend>
        <div class="form-group">
            <label class="control-label control-label-required">Steps</label>
            <div class="control-container">
                <input type="text" class="form-control" name="targetSteps"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.targetSteps"
                       required numbers-only />
                <span>steps</span>
                <div ng-show="dialogForm.targetSteps.$invalid && (dialogForm.targetSteps.$touched || dialogForm.targetSteps.$dirty)">
                    <div class="error-block" ng-show="dialogForm.targetSteps.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required">Active Energy Expenditure</label>
            <div class="control-container">
                <input type="text" class="form-control" name="targetAee"
                       style="width: 150px; display: inline"
                       ng-model="vm.configuration.targetAee"
                       required numbers-only />
                <span>KCAL</span>
                <div ng-show="dialogForm.targetAee.$invalid && (dialogForm.targetAee.$touched || dialogForm.targetAee.$dirty)">
                    <div class="error-block" ng-show="dialogForm.targetAee.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn pr-btn pr-btn-primary" ng-click="vm.saveOrNext($event, dialogForm, 'questions')" ng-disabled="dialogForm.$invalid || isSaving">
            <span ng-hide="vm.hasQuestions" translate="entity.action.save">Save</span>
            <span ng-show="vm.hasQuestions" translate="entity.navigation.next">Next</span><span ng-show="vm.hasQuestions">&nbsp;&gt;</span>
        </button>
    </div>
</footer>

