
<div>
    <h2><span translate="passApp.monitorConfiguration.detail.title">Configuration</span>: {{vm.configuration.name}}</h2>
    <hr />
    <jhi-alert></jhi-alert>
    <div uib-alert ng-class="'alert-warning'" ng-show="vm.configuration.monitors.length != 0">
        <span translate="passApp.monitorConfiguration.warning.assigned">This configuration is assigned and can not be removed or edited!</span>
    </div>
    <dl class="dl-horizontal">
        <dt><span translate="passApp.monitorConfiguration.name">Name</span></dt>
        <dd>
            <span>{{vm.configuration.name}}</span>
        </dd>
        <dt><span>Assigned</span></dt>
        <dd>
            <span ng-show="vm.configuration.monitors.length > 0">Yes</span>
            <span ng-hide="vm.configuration.monitors.length > 0">No</span>
        </dd>
        <dt><span translate="passApp.monitorConfiguration.monitor">Device</span></dt>
        <dd>
            <span translate="{{vm.configuration.displayBlinded ? 'passApp.monitorConfiguration.blinded' : 'passApp.monitorConfiguration.unblinded'}}"></span>,
            <span translate="{{'passApp.WatchDisplayType.' + vm.configuration.displayType}}">{{vm.configuration.displayType}}</span>
        </dd>
        <dt><span translate="passApp.monitorConfiguration.mobileApp">Mobile App</span></dt>
        <dd>
            <span translate="{{vm.configuration.mobileAppBlinded ? 'passApp.monitorConfiguration.blinded' : 'passApp.monitorConfiguration.unblinded'}}"></span>
        </dd>
     </dl>

    <h4>Physical Activity Levels (PALs)</h4>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Sedentary</span></dt>
        <dd>
            <span>{{vm.configuration.palSedentaryMin}}</span>
            <span>to</span>
            <span>{{vm.configuration.palSedentaryMax}}</span>
        </dd>
        <dt><span>Light</span></dt>
        <dd>
            <span>{{vm.configuration.palLightMin}}</span>
            <span>to</span>
            <span>{{vm.configuration.palLightMax}}</span>
        </dd>
        <dt><span>Medium</span></dt>
        <dd>
            <span>{{vm.configuration.palMediumMin}}</span>
            <span>to</span>
            <span>{{vm.configuration.palMediumMax}}</span>
        </dd>
        <dt><span>Vigorous</span></dt>
        <dd>
            <span>{{vm.configuration.palVigorousMin}}</span>
            <span>and greater</span>
        </dd>

        <dt><span>Sedentary Alert Enabled</span></dt>
        <dd>
            <span>{{vm.configuration.sedentaryAlertEnabled  ?"Yes" : "No" }}</span>
        </dd>

        <dt ng-show="vm.configuration.sedentaryAlertEnabled"><span ng-show="vm.configuration.sedentaryAlertEnabled">Sedentary Alert</span></dt>
        <dd ng-show="vm.configuration.sedentaryAlertEnabled">
            <span>{{vm.configuration.sedentaryAlert}}</span>
            <span>minutes</span>
        </dd>
    </dl>

    <h4>Daily targets</h4>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Steps</span></dt>
        <dd>
            <span>{{vm.configuration.targetSteps}}</span>
            <span>steps</span>
        </dd>
        <dt><span>Active Energy Expenditure</span></dt>
        <dd>
            <span>{{vm.configuration.targetAee}}</span>
            <span>KCAL</span>
        </dd>
    </dl>

    <h4 translate="passApp.monitorConfiguration.questions">Questions</h4>
    <div class="table-responsive" style="margin-top: 20px;">
        <table class="table">
            <tbody>
            <tr ng-repeat="question in vm.configuration.questions track by question.id">
                <td>
                    <div style="color: #000">{{question.text}}</div>
                    <div style="font-style: italic;padding-left: 20px;" ng-show="question.recTime1 === ''" >
                        <span>scheduled from {{question.recurrenceStartDate | date:'shortDate'}} to {{question.recurrenceEndDate | date:'shortDate'}},</span>
                        <span translate="{{'passApp.RecurrencePattern.' + question.recurrencePattern}}">{{question.recurrencePattern}}</span>
                        <span>on</span>
                        <span ng-repeat="day in question.recurrencePatternWeekdays">
                                        <span ng-show="$index > 0">,</span>
                                        <span translate="{{'passApp.RecurrenceWeekday.' + day}}">{{day}}</span>
                                    </span>
                        <span>at</span>
                        <span>{{question.recurrenceTime1 | date:'shortTime'}}</span>
                        <span ng-show="question.recurrenceTime2">, {{question.recurrenceTime2 | date:'shortTime'}}</span>
                        <span ng-show="question.recurrenceTime3">, {{question.recurrenceTime3 | date:'shortTime'}}</span>
                    </div>

                    <div style="font-style: italic;padding-left: 20px;" ng-show="question.recTime1 != '' ">
                        <span>scheduled from {{question.recurrenceStartDate | date:'shortDate'}} to {{question.recurrenceEndDate | date:'shortDate'}},</span>
                        <span translate="{{'passApp.RecurrencePattern.' + question.recurrencePattern}}">{{question.recurrencePattern}}</span>
                        <span>on</span>
                        <span ng-repeat="day in question.recurrencePatternWeekdays">
                                        <span ng-show="$index > 0">,</span>
                                        <span translate="{{'passApp.RecurrenceWeekday.' + day}}">{{day}}</span>
                                    </span>
                        <span>at</span>
                        <span>{{question.recTime1 }}</span>
                        <span ng-show="question.recTime2">, {{question.recTime2 }}</span>
                        <span ng-show="question.recTime3">, {{question.recTime3 }}</span>
                    </div>
                </td>
                <td>
                    <span style="color: #000" translate="{{'passApp.QuestionResponseType.' + question.responseType}}">{{question.responseType}}</span>
                </td>
                <td>
                    <span style="color: #000" ng-show="question.responseType === 'FREE_TEXT'">&nbsp;</span>
                    <span style="color: #000" ng-show="question.responseType === 'EITHER_OR'">{{question.responseValue1}} / {{question.responseValue2}}</span>
                    <span style="color: #000" ng-show="question.responseType === 'RANGE'">{{question.responseRangeMin}} - {{question.responseRangeMax}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="width: 100%; text-align: right">
        <button type="submit"
                ng-disabled="vm.configuration.monitors.length != 0"
                ui-sref="monitor-configuration-detail.edit({id:vm.configuration.id})"
                class="btn pr-btn pr-btn-default">
            <span translate="entity.action.edit">Edit</span>
        </button>
        <button type="submit"
                ng-disabled="vm.configuration.monitors.length != 0"
                ui-sref="monitor-configuration-detail.delete({id:vm.configuration.id})"
                class="btn pr-btn pr-btn-alt">
            <span translate="entity.action.delete">Delete</span>
        </button>
    </div>

    <h4>Date log</h4>
    <hr />
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="passApp.monitorConfiguration.lastModifiedDate">Last modified</span></dt>
        <dd>
            <span>{{vm.configuration.lastModifiedDate | date:'medium'}} (by {{vm.configuration.lastModifiedBy}})</span>
        </dd>
    </dl>

    <hr/>
    <button type="submit"
            ng-click="vm.navigateBack()"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
