<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.monitorConfiguration.home.title">Configurations</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="monitor-configuration.new" >
                <span translate="passApp.monitorConfiguration.home.createLabel">Add Configuration</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
            <!--<p>Search for configuration by ...</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" onfocus="blur()"
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" onfocus="blur()">
                    <span class="pr-icon pr-icon-search"></span>
                </button>
            </span>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="name" translate="passApp.monitorConfiguration.name">Name</option>
                    <option value="displayBlinded" translate="passApp.monitorConfiguration.monitorBlinded">Device blinded</option>
                    <option value="mobileAppBlinded" translate="passApp.monitorConfiguration.mobileAppBlinded">Mobile App blinded</option>
                    <option value="lastModifiedDate" translate="passApp.monitorConfiguration.lastModifiedDate">Last modified</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="passApp.monitorConfiguration.name">Name</span></th>
                    <th style="width: 125px;"><span translate="passApp.monitorConfiguration.assigned">Assigned</span></th>
                    <th style="width: 125px;"><span translate="passApp.monitorConfiguration.questions">Questions</span></th>
                    <th style="width: 180px;"><span translate="passApp.monitorConfiguration.monitorBlinded">Monitor blinded</span></th>
                    <th style="width: 180px;"><span translate="passApp.monitorConfiguration.mobileAppBlinded">Mobile App blinded</span></th>
                    <th style="width: 200px;"><span translate="passApp.monitorConfiguration.lastModifiedDate">Last modified</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="configuration in vm.configurations track by configuration.id">
                    <td><a ng-click="vm.navigateToConfigurationDetails(configuration.id)">{{configuration.name}}</a></td>
                    <td>
                        <span ng-show="configuration.monitors.length > 0">Yes</span>
                        <span ng-hide="configuration.monitors.length > 0">No</span>
                    </td>
                    <td>
                        <span ng-show="configuration.questions.length > 0">Yes</span>
                        <span ng-hide="configuration.questions.length > 0">No</span>
                    </td>
                    <td>
                        <span ng-show="configuration.displayBlinded">Yes</span>
                        <span ng-hide="configuration.displayBlinded">No</span>
                     </td>
                    <td>
                        <span ng-show="configuration.mobileAppBlinded">Yes</span>
                        <span ng-hide="configuration.mobileAppBlinded">No</span>
                    </td>
                    <td>{{configuration.lastModifiedDate | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>
