
<div class="modal-body">
    <!--<jhi-alert-error></jhi-alert-error>-->
    <fieldset>
        <div ng-repeat="question in vm.questions" style="marging-left: 15px; margin-bottom: 15px;">
            <ng-form name="questionForm">
                <div class="row">
                    <div class="col-sm-6 form-group" style="margin-left: 20px; margin-right: 10px;">
                        <label ng-class="{'control-label-required': $index == 0}" style="position: absolute; left: 0px;"></label>
                        <input type="text" class="form-control" name="question"
                               maxlength="140"
                               placeholder="Question {{$index + 1}}"
                               ng-required="$index == 0"
                               ng-model="question.text"/>
                        <div ng-show="questionForm.question.$invalid && (questionForm.question.$touched || questionForm.question.$dirty)">
                            <div class="error-block" ng-show="questionForm.question.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label ng-class="{'control-label-required': question.text}" style="position: absolute; left: 0px;"></label>
                        <select class="form-control" name="type" ng-model="question.responseType"
                                ng-disabled="!question.text"
                                ng-required="question.text">
                            <option value="FREE_TEXT" translate="passApp.QuestionResponseType.FREE_TEXT">FREE_TEXT</option>
                            <option value="EITHER_OR" translate="passApp.QuestionResponseType.EITHER_OR">EITHER_OR</option>
                            <option value="RANGE" translate="passApp.QuestionResponseType.RANGE">RANGE</option>
                        </select>
                        <div ng-show="questionForm.type.$invalid && (questionForm.type.$touched || questionForm.type.$dirty)">
                            <div class="error-block" ng-show="questionForm.type.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div style="padding-top: 3px;">
                            <button  type="button" class="btn pr-btn pr-btn-alt" ng-show="question.text || question.responseType" ng-click="vm.clearQuestion(question)">
                                <span class="pr-icon pr-icon-delete" ng-init="vm.initQuestionValidation(question)"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row form-group" ng-show="question.responseType === 'EITHER_OR'">
                    <label class="col-sm-offset-4 col-sm-3 control-label control-label-required">Reponse value 1</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="responseValue1"
                               ng-required="question.responseType === 'EITHER_OR'"
                               ng-model="question.responseValue1" />
                        <div ng-show="questionForm.responseValue1.$invalid && (questionForm.responseValue1.$touched || questionForm.responseValue1.$dirty)">
                            <div class="error-block" ng-show="questionForm.responseValue1.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" ng-show="question.responseType === 'EITHER_OR'">
                    <label class="col-sm-offset-4 col-sm-3 control-label control-label-required">Reponse value 2</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="responseValue2"
                               ng-required="question.responseType === 'EITHER_OR'"
                               ng-model="question.responseValue2" />
                        <div ng-show="questionForm.responseValue2.$invalid && (questionForm.responseValue2.$touched || questionForm.responseValue2.$dirty)">
                            <div class="error-block" ng-show="questionForm.responseValue2.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" ng-show="question.responseType === 'RANGE'">
                    <label class="col-sm-offset-4 col-sm-3 control-label control-label-required">Range min value</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="responseRangeMin"
                               ng-required="question.responseType === 'RANGE'"
                               ng-model="question.responseRangeMin" />
                        <div ng-show="questionForm.responseRangeMin.$invalid && (questionForm.responseRangeMin.$touched || questionForm.responseRangeMin.$dirty)">
                            <div class="error-block" ng-show="questionForm.responseRangeMin.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" ng-show="question.responseType === 'RANGE'">
                    <label class="col-sm-offset-4 col-sm-3 control-label control-label-required">Range max value</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="responseRangeMax"
                               ng-required="question.responseType === 'RANGE'"
                               ng-model="question.responseRangeMax" />
                        <div ng-show="questionForm.responseRangeMax.$invalid && (questionForm.responseRangeMax.$touched || questionForm.responseRangeMax.$dirty)">
                            <div class="error-block" ng-show="questionForm.responseRangeMax.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
    </fieldset>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">
        <button type="button" class="btn pr-btn pr-btn-alt" ui-sref-active="active" ui-sref="{{vm.baseState}}.settings">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn pr-btn pr-btn-primary" ui-sref="{{vm.baseState}}.schedule" ng-click="vm.validateProceed($event, dialogForm);" ng-disabled="dialogForm.$invalid">
            <span translate="entity.navigation.next">Next</span>&nbsp;&gt;
        </button>
    </div>
</footer>

