<style>
    .uib-time input {
        width: 56px;
    }
</style>
<div class="modal-body">
    <!--<jhi-alert-error></jhi-alert-error>-->

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" ng-repeat="question in vm.questions" ng-if="question.text" is-open="status.open">
            <uib-accordion-heading>
                <a ng-click="vm.setSelectedQuestion(question)"  style="white-space: normal;width:300px">
                    <span class="glyphicon glyphicon-calendar"
                          ng-class="{'color-red': scheduleForm.$invalid, 'color-green': !scheduleForm.$invalid}" style="width: 800px;word-wrap: break-word">{{question.text}}<br>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </span>
                </a>


            </uib-accordion-heading>
            <ng-form name="scheduleForm">
            <div class="col-sm-12">
                <h5>Range of recurrence</h5>
                <div class="form-group">
                    <label class="col-md-2 control-label-required">Start date</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input id="field_recurrenceStartDate" type="text" class="form-control" name="recurrenceStartDate"
                                   onkeydown="if (event.keyCode === 8) event.preventDefault()"
                                   ng-click="vm.openCalendar('recurrenceStartDate')"
                                   uib-datepicker-popup="{{vm.datePicker.format}}"
                                   is-open="vm.datePickerOpenStatus.recurrenceStartDate"
                                   on-open-focus="false"
                                   show-button-bar="false"
                                   datepicker-options="vm.datePicker.dateOptions"
                                   ng-model="question.recurrenceStartDate"
                                   placeholder="dd-mmm-yyyy"
                                   required
                                   readonly
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn pr-btn pr-btn-default pr-btn-muted-alt" ng-click="vm.openCalendar('recurrenceStartDate')"><i class="pr-icon pr-icon-calendar"></i></button>
                            </span>
                        </div>
                        <div ng-show="scheduleForm.recurrenceStartDate.$invalid && (scheduleForm.recurrenceStartDate.$touched || scheduleForm.recurrenceStartDate.$dirty)">
                            <div class="error-block" ng-show="scheduleForm.recurrenceStartDate.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label-required">End date</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input id="field_recurrenceEndDate" type="text" class="form-control" name="recurrenceEndDate"
                                   onkeydown="if (event.keyCode === 8) event.preventDefault()"
                                   ng-click="vm.openCalendar('recurrenceEndDate')"
                                   uib-datepicker-popup="{{vm.datePicker.format}}"
                                   is-open="vm.datePickerOpenStatus.recurrenceEndDate"
                                   on-open-focus="false"
                                   show-button-bar="false"
                                   datepicker-options="vm.datePicker.dateOptions"
                                   ng-model="question.recurrenceEndDate"
                                   placeholder="dd-mmm-yyyy"
                                   required
                                   readonly
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn pr-btn pr-btn-default pr-btn-muted-alt" ng-click="vm.openCalendar('recurrenceEndDate')"><i class="pr-icon pr-icon-calendar"></i></button>
                            </span>
                        </div>
                        <div ng-show="scheduleForm.recurrenceEndDate.$invalid && (scheduleForm.recurrenceEndDate.$touched || scheduleForm.recurrenceEndDate.$dirty)">
                            <div class="error-block" ng-show="scheduleForm.recurrenceEndDate.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <h5>Range pattern</h5>
                <div class="form-group">
                    <label class="col-md-2 control-label-required">Recurrence</label>
                    <div class="col-md-10">
                        <div class="btn-group">
                            <label class="btn btn-primary" name="recurrencePattern" ng-model="question.recurrencePattern" uib-btn-radio="'DAILY'" ng-required="true" translate="passApp.RecurrencePattern.DAILY">Daily</label>
                            <label class="btn btn-primary" name="recurrencePattern" ng-model="question.recurrencePattern" uib-btn-radio="'WEEKLY'" ng-required="true" translate="passApp.RecurrencePattern.WEEKLY">Weekly</label>
                            <label class="btn btn-primary" name="recurrencePattern" ng-model="question.recurrencePattern" uib-btn-radio="'MONTHLY'" ng-required="true" translate="passApp.RecurrencePattern.MONTHLY">Monthly</label>
                        </div>
                        <div ng-show="scheduleForm.recurrencePattern.$invalid && (scheduleForm.recurrencePattern.$touched || scheduleForm.recurrencePattern.$dirty)">
                            <div class="error-block" ng-show="scheduleForm.recurrencePattern.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label-required">Every</label>
                    <div class="col-md-10">
                        <div class="form-control-static">
                            <label style="margin-right: 10px;" ng-repeat="day in days">
                                <input type="checkbox" name="recurrencePatternWeekdays"
                                       ng-required="!question.recurrencePatternWeekdays || question.recurrencePatternWeekdays.length === 0"
                                       checklist-model="question.recurrencePatternWeekdays"
                                       checklist-value="day">
                                <span translate="{{'passApp.RecurrenceWeekday.' + day}}">{{day}}</span>
                            </label>
                        </div>
                        <div ng-show="scheduleForm.recurrencePatternWeekdays.$invalid && (scheduleForm.recurrencePatternWeekdays.$touched || scheduleForm.recurrencePatternWeekdays.$dirty)">
                            <div class="error-block" ng-show="scheduleForm.recurrencePatternWeekdays.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <h5>Appointments</h5>
                <div class="col-sm-4 form-group">
                    <label class="control-label-required">1 - Start time</label>
                    <div style="display: inline-table">
                        <div style="display: table-cell">
                            <div uib-timepicker required name="recurrenceTime1" ng-model="question.recurrenceTime1" hour-step="1" minute-step="5" show-meridian="true"></div>
                        </div>
                        <!--<input type="time" name="recurrenceTime1" ng-model="question.recurrenceTime1"  required />-->
                        <div style="display: table-cell">
                            <button type="button" class="btn pr-btn pr-btn-alt pr-btn-clear-time"
                                    ng-click="question.recurrenceTime1 = null"><span class="pr-icon pr-icon-delete"></span></button>
                        </div>
                    </div>
                    <div ng-show="scheduleForm.recurrenceTime1.$invalid && (scheduleForm.recurrenceTime1.$touched || scheduleForm.recurrenceTime1.$dirty)">
                        <div class="error-block" ng-show="scheduleForm.recurrenceTime1.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>2 - Start time</label>
                    <div style="display: inline-table">
                        <div style="display: table-cell">
                            <div uib-timepicker ng-model="question.recurrenceTime2" hour-step="1" minute-step="5" show-meridian="true"></div>
                        </div>
                        <div style="display: table-cell">
                            <button type="button" class="btn pr-btn pr-btn-alt pr-btn-clear-time"
                                    ng-click="question.recurrenceTime2 = null"><span class="pr-icon pr-icon-delete"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>3 - Start time</label>
                    <div style="display: inline-table">
                        <div style="display: table-cell">
                            <div uib-timepicker ng-model="question.recurrenceTime3" hour-step="1" minute-step="5" show-meridian="true"></div>
                        </div>
                        <div style="display: table-cell">
                            <button type="button" class="btn pr-btn pr-btn-alt pr-btn-clear-time"
                                    ng-click="question.recurrenceTime3 = null"><span class="pr-icon pr-icon-delete"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            </ng-form>
        </div>
    </uib-accordion>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">
        <button type="button" class="btn pr-btn pr-btn-alt" ui-sref="{{vm.baseState}}.questions">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions" ng-cloak style="animation: none !important;">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn pr-btn pr-btn-primary"
                ng-click="vm.save($event, dialogForm);"
                ng-disabled="dialogForm.$invalid || isSaving">
            <span translate="entity.action.save">Save</span>
        </button>
    </div>
</footer>

