<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="global.menu.entities.compadmin">Administration</h2>
        <div class="btn-group">
            <!--<button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="user-management.new"-->
                    <!--ng-disabled="vm.isProductSupport">-->
                <!--<span translate="userManagement.home.createLabel">Add User</span>-->
            <!--</button>-->
        </div>
        <!--<div class="pr-section-header-body">-->
        <!--<p>Search for study by ...</p>-->
        <!--</div>-->
    </header>
</section>

<div class="pr-admin-dashboard">
    <div class="row-fluid">
        <div class="col-lg-4 pr-admin-dashboard-item">
            <button type="button" class="btn pr-btn" blur ui-sref="user-management">
                <span translate="passApp.admin.dashboard.actions.user">User</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">
            <button type="button" class="btn pr-btn" blur ui-sref="password-policy">
                <span translate="global.menu.admin.passwordpolicy">Password policy</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">
            <button type="button" class="btn pr-btn" blur ui-sref="company">
                <span class="hidden-sm" translate="global.menu.entities.company">Companies</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">
            <button type="button" class="btn pr-btn" blur ui-sref="pop-number">
                <span class="hidden-sm" translate="global.menu.entities.popNumber">POP numbers</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_USER">
            <button type="button" class="btn pr-btn" blur ng-disabled="true">
                <span translate="passApp.admin.dashboard.actions.data-removal">Data removal</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_USER">
            <button type="button" class="btn pr-btn" blur ng-disabled="true">
                <span translate="passApp.admin.dashboard.actions.data-deident">Data de-identification</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_USER">
            <button type="button" class="btn pr-btn" blur ui-sref="study">
                <span translate="passApp.admin.dashboard.actions.study-management">Inactivate study</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_USER">
            <button type="button" class="btn pr-btn" blur ng-disabled="true">
                <span translate="passApp.admin.dashboard.actions.rules-management">Set alert rules</span>
            </button>
        </div>
        <div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_USER">
            <button type="button" class="btn pr-btn" blur ng-disabled="true">
                <span translate="passApp.admin.dashboard.actions.tracking-log">Tracking log</span>
            </button>
        </div>
        <!--<div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">-->
            <!--<button type="button" class="btn pr-btn" blur ui-sref="jhi-tracker">-->
                <!--<span translate="global.menu.admin.tracker">User tracker</span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">-->
            <!--<button type="button" class="btn pr-btn" blur ui-sref="jhi-metrics">-->
                <!--<span translate="global.menu.admin.metrics">Metrics</span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">-->
            <!--<button type="button" class="btn pr-btn" blur ui-sref="jhi-health">-->
                <!--<span translate="global.menu.admin.health">Health</span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">-->
            <!--<button type="button" class="btn pr-btn" blur ui-sref="jhi-configuration">-->
                <!--<span translate="global.menu.admin.configuration">Configuration</span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">-->
            <!--<button type="button" class="btn pr-btn" blur ui-sref="audits">-->
                <!--<span translate="global.menu.admin.audits">Audits</span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="col-lg-4 pr-admin-dashboard-item" has-authority="ROLE_ADMIN">-->
            <!--<button type="button" class="btn pr-btn" blur ui-sref="logs">-->
                <!--<span translate="global.menu.admin.logs">Logs</span>-->
            <!--</button>-->
        <!--</div>-->
    </div>
</div>
