
<header class="modal-header">
    <h3 class="modal-title">Password expiration warning</h3>
</header>
<div class="modal-body">
    <span>Your password is about to expire in {{vm.passwordAge}} days!</span><br/>
    <span>Please change your password <a ui-sref="password" ng-click="vm.clear()">here</a></span>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-primary" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.close">Close</span>
        </button>
    </div>
</footer>
