<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.study.home.title">Studies</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="study.new" has-authority="ACL_CLINICIAN">
                <span translate="passApp.study.home.createLabel">Add Study</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
            <!--<p>Search for study by ...</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" onfocus="blur()"
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" onfocus="blur()">
                    <span class="pr-icon pr-icon-search"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-right" role="button" onfocus="blur()" ng-click="vm.toggleAdvancedSearch()">
                    <span>Advanced</span>
                    <span class="pr-icon" ng-class="advancedSearchCollapsed ? 'pr-icon-toggle-on' : 'pr-icon-toggle-off'"></span>
                </button>
            </span>
        </div>
        <div style="margin-top: 5px;">
            <div id="filter-panel" uib-collapse="advancedSearchCollapsed" ng-init="advancedSearchCollapsed = true">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.study.name">Name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.name" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.study.description">Description</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.description" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <!--<div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.study.externalReference">Study ID</label></div>-->
                            <!--<div class="col-lg-4"><input class="form-control" ng-model="searchModel.uniqueIdentifier" ng-model-options="vm.searchModelOptions"></div>-->
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.study.studyStatus">Study Status</label></div>
                            <div class="col-lg-4">
                                <select class="form-control" ng-model="searchModel.status" ng-model-options="vm.searchModelOptions">
                                    <option value="" ></option>
                                    <option value="ACTIVE" translate="passApp.StudyStatus.ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE" translate="passApp.StudyStatus.INACTIVE">INACTIVE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="name" translate="passApp.study.name">Name</option>
                    <!--<option value="uniqueIdentifier" translate="passApp.study.externalReference">Study ID</option>-->
                    <option value="description" translate="passApp.study.description">Description</option>
                    <option value="status" translate="passApp.study.studyStatus">Status</option>
                    <option value="createdDate" translate="passApp.study.dateCreated">Date Created</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th style="width: 200px;"><span translate="passApp.study.name">Name</span></th>
                    <th style="width: 100px;"><span translate="passApp.study.externalReference">Study ID</span></th>
                    <th><span translate="passApp.study.description">Description</span></th>
                    <th style="width: 100px;"><span translate="passApp.study.studyStatus">Status</span></th>
                    <th style="width: 200px;"><span translate="passApp.study.dateCreated">Date Created</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="study in vm.studies track by study.id">
                    <td><a ng-click="vm.navigateToStudyDetails(study.id)">{{study.name}}</a></td>
                    <td>{{study.uniqueIdentifier | uppercase | limitTo:8:28}}</td>
                    <td>{{study.description}}</td>
                    <td translate="{{'passApp.StudyStatus.' + study.status}}">{{study.status}}</td>
                    <td>{{study.createdDate | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>
