<div class="pr-wizard">
    <form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()">

        <header class="modal-header">
            <h3 class="modal-title" ng-hide="vm.study.id" translate="passApp.study.home.createLabel">Add Study</h3>
            <h3 class="modal-title" ng-show="vm.study.id" translate="passApp.study.home.editLabel">Edit Study</h3>
        </header>
        <div class="modal-body">
            <!--<jhi-alert-error></jhi-alert-error>-->
            <fieldset>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.study.name" for="field_name">Study Name</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="name" id="field_name"
                               maxlength="25"
                               ng-model="vm.study.name"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                               required
                               study-name-validator
                               studyid="{{vm.study.id}}"
                               valid-company="{{vm.study.companyId}}"/>
                        <div ng-show="editForm.name.$invalid && editForm.name.$touched">
                            <div class="error-block" ng-show="editForm.name.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.name.$error.studyName">
                                <span translate="passApp.study.validation.name.duplicate">Study name already in use for the current company</span>
                            </div>
                        </div>
                        <div ng-show="editForm.name.$pending">
                            <div class="help-block">
                                <span translate="passApp.study.validation.name.pending">Checking study name uniqueness...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.study.externalReference">
                    <label class="control-label" translate="passApp.study.externalReference">Study ID</label>
                    <div class="control-container">
                        <p class="form-control-static">{{vm.study.uniqueIdentifier | uppercase | limitTo:8:28}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" translate="passApp.study.description" for="field_description">Description</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="description" id="field_description"
                               maxlength="75"
                               ng-model="vm.study.description"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="passApp.study.comments" for="field_comments">Comments</label>
                    <div class="control-container">
                    <textarea class="form-control" name="comments" id="field_comments" rows="5"
                              maxlength="255"
                              ng-model="vm.study.comments"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" class="btn pr-btn pr-btn-primary" ng-disabled="editForm.$invalid || isSaving">
                    <span translate="entity.action.save">Save</span>
                </button>
            </div>
        </footer>
    </form>
</div>
