
<div>
    <div>
        <div style="float: left">
            <h2><span translate="passApp.study.detail.title">Study</span>: {{vm.study.name}}</h2>
        </div>
        <div style="float: right; padding-top: 25px;">
            <button type="button" has-authority="ACL_CLINICIAN"
                    ui-sref="site({studyId:vm.study.id})"
                    class="btn pr-btn pr-btn-primary">
                <span>Manage Sites</span>
            </button>
        </div>
        <div style="clear: both"></div>
    </div>
    <hr />
    <jhi-alert></jhi-alert>
    <dl class="dl-horizontal">
        <dt><span translate="passApp.study.name">Name</span></dt>
        <dd>
            <span>{{vm.study.name}}</span>
        </dd>
        <dt><span translate="passApp.study.externalReference">Study ID</span></dt>
        <dd>
            <span>{{vm.study.uniqueIdentifier | uppercase | limitTo:8:28}}</span>
        </dd>
        <dt><span translate="passApp.study.description">Description</span></dt>
        <dd>
            <span>{{vm.study.description}}</span>
        </dd>
        <dt><span translate="passApp.study.studyStatus">Status</span></dt>
        <dd>
            <span translate="{{'passApp.StudyStatus.' + vm.study.status}}">{{vm.study.status}}</span>
        </dd>
        <dt><span translate="passApp.study.comments">Comments</span></dt>
        <dd>
            <span>{{vm.study.comments}}</span>
        </dd>
        <dt><span translate="passApp.study.numberOfSites">Number of sites</span></dt>
        <dd>
            <span>{{vm.study.numberOfSites}}</span>
        </dd>
        <dt><span translate="passApp.study.numberOfSubjects">Number of subjects</span></dt>
        <dd>
            <span>{{vm.study.numberOfSubjects}}</span>
        </dd>
    </dl>
    <div style="width: 100%; text-align: right">
        <button type="button" has-authority="ACL_COMPADMIN" ng-disabled="vm.isSaving"
                ng-click="vm.toggleStudyStatus()"
                class="btn pr-btn pr-btn-primary">
            <span translate="passApp.study.action.activate" ng-show="vm.study.status != 'ACTIVE'">Activate</span>
            <span translate="passApp.study.action.inactivate" ng-show="vm.study.status != 'INACTIVE'">Inactivate</span>
        </button>
        <button type="button" has-authority="ACL_CLINICIAN"
                ui-sref="study-detail.edit({id:vm.study.id})"
                class="btn pr-btn pr-btn-primary">
            <span translate="entity.action.edit">Edit</span>
        </button>
        <button type="button" has-authority="ACL_CLINICIAN"
                ui-sref="study-detail.delete({id:vm.study.id})"
                class="btn pr-btn pr-btn-alt">
            <span translate="entity.action.delete">Delete</span>
        </button>
    </div>

    <h4>Date log</h4>
    <hr />
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="passApp.study.dateCreated">Date Created</span></dt>
        <dd>
            <span>{{vm.study.createdDate | date:'medium'}} (by {{vm.study.createdBy}})</span>
        </dd>
        <dt><span translate="passApp.study.dateLastModified">Date Last Modified</span></dt>
        <dd>
            <span>{{vm.study.lastModifiedDate | date:'medium'}} (by {{vm.study.lastModifiedBy}})</span>
        </dd>
        <dt ng-show="vm.study.dateClosed"><span translate="passApp.study.dateClosed">Date Inactivated</span></dt>
        <dd ng-show="vm.study.dateClosed">
            <span>{{vm.study.dateClosed | date:'medium'}}</span>
        </dd>
    </dl>

    <hr />
    <button type="submit"
            ng-click="vm.navigateBack()"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
