<header class="modal-header">
    <h3 class="modal-title">Confirm inactivate</h3>
</header>
<div class="modal-body">
    <p>Inactivating a study will delete all subject assignments from this study.<br/>Are you sure you want to proceed?</p>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.cancel()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn pr-btn pr-btn-primary" ng-click="vm.ok()">
            <span translate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</footer>
