<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.membership.title}">PASS access changed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.membership.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.membership.text1(${membership.company.name})}">
            Your PASS access has been changed for company.
        </p>
        <p>
            <span th:text="#{email.membership.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Philips Respironics.</em>
        </p>
    </body>
</html>
