<div class="eula">

    <h1 align="center">End Users Licence Agreement</h1>

    <p>Actiwatch Connect Software License Agreement</p>
    <p>It is important that you carefully read this notice in its entirety before installing this Software.</p>
    <p>THIS IS A LEGAL AGREEMENT ("Agreement") between Respironics, Inc. ("Respironics") and You (defined below).  Respironics is willing to license and allow the use of the Software (defined below) only on the condition that You accept and agree to all of the terms and conditions contained in this Agreement.  If You do not agree with this Agreement, You are not granted permission to access or otherwise use the Software.  The copy of the Actiwatch Connect Software, documentation and related materials (collectively, “Software”) being provided to You are not being sold to You but instead are licensed pursuant to the terms herein.  Title and copyrights to the Software remain solely with Respironics.
    By installing the Software, You acknowledge that You have read this Agreement, that You understand it, and that You accept and agree to the following terms and conditions.  If You are installing the Software on behalf of a company, legal entity (e.g. corporation, limited liability company, or partnership) or agency, instrumentality or department of a government (an “entity”), then You represent and warrant that You have the power and authority to bind such entity to these terms, and references to “You” and “Your” herein refer to both You, the individual end user, and the entity on whose behalf You are accepting this Agreement.
    IF YOU ARE USING THIS SOFTWARE AS A PARTICIPANT IN A STUDY, BY INSTALLING THE SOFTWARE, YOU AGREE THAT YOU ARE USING THE SOFTWARE IN CONNECTION WITH THE STUDY, AND THAT RESPIRONICS IS PROVIDING THE SOFTWARE AT THE DIRECTION OF THE SPONSOR AND/OR CLINICAL INVESTIGATOR, SUBJECT TO THE TERMS AND CONDITIONS OF THIS LICENSE.  YOU HEREBY AGREE AND ACKNOWLEDGE THAT THE SPONSOR AND/OR THE CLINICAL INVESTIGATOR IS THE CONTROLLER OF YOUR DATA AND THAT RESPIRONICS, AS THE LICENSOR HEREUNDER, IS PROCESSING YOUR DATA AS A SUBCONTRACTOR TO THE SPONSOR AND/OR CLINICAL INVESTIGATOR. YOU FURTHER  HEREBY ACKNOWLEDGE AND AGREE THAT NOTHING IN THE LICENSE AGREEMENT, NOR YOUR USE OF THIS SOFTWARE, SHALL IN ANY WAY BE DEEMED TO MAKE RESPIRONICS THE CONTROLLER OF YOUR DATA, AND THAT RESPIRONICS WILL REMAIN AT ALL TIMES THE PROCESSOR OF YOUR DATA, PROCESSED AT THE DIRECTION OF THE SPONSOR AND/OR CLINICAL INVESTIGATOR, AS THE CONTROLLER.
    </p>
    <p><strong>I.	DEFINITIONS.</strong></p>
    <p>
    “Clinical Investigator” means a person or entity that might be involved for purposes of assisting the Sponsor in carrying out the Study, and with whom You might interact.
    </p>
    <p>
    “Developments” means all content, documentation, information, material, reports, suggestions, designs, methods, processes, ideas, inventions, discoveries, derivative works, improvements, enhancements, and developments, whether patentable or not, that relate to the Software and that is/are generated or conceived or reduced to practice by You as a result of the performance of activities under this Agreement.
    </p>
    <p>
    “Equipment” means actigraphy equipment supplied by Respironics.
    </p>
    <p>
    “Intellectual Property Rights” means all present and future forms of intellectual property rights and protections, including without limitation, all right, title and interest arising under United States common and statutory law and the laws of other countries to all: (i) patents and all filed, pending or potential applications for patents, including any reissue, reexamination, division, continuation or continuation-in-part applications throughout the world now or hereafter filed; (ii) trade secret rights and equivalent rights; (iii) copyrights, other literary property or authors rights, whether or not protected by copyright or as a mask work; and (iv) proprietary indicia, trademarks, trade names, symbols, logos and/or brand names.
    </p>
    <p>
    “Intended Use” means for the purposes of transferring Your Data from Your Computer to Respironics.
    </p>
    <p>
    “Sponsor” means the entity that is sponsoring the Study.
    </p>
    <p>
    “Study” means the clinical study in which You are participating and which involves the use of the Equipment.
    </p>
    <p>
    “Your Data” means actigraphy data generated by Your use of the Equipment.
    </p>
    <p>
    <p><strong>II.	SOFTWARE LICENSE.</strong></p>
    <p>
    In consideration of Your agreement to the terms of this Agreement, Respironics hereby grants to You a limited, non-exclusive, non-sub-licensable, non-transferable and revocable license to use the Software for Your use only, but only during the term of this Agreement, for the Intended Use and in accordance with the terms of this Agreement.
    </p>
    <p><strong>III.	OBLIGATIONS AND RESTRICTIONS.</strong></p>
    <p>
    You shall install the Software on computer equipment (“Your Computer”) that complies with the specifications for such equipment that are set forth in the documentation of the Software and as may be updated from time to time by Respironics.  If Respironics elects to make available to You any updates to the Software, You agree to install such updates.
    </p>
    <p>
    The Software is proprietary to Respironics and is protected under the copyright laws.  It has been customized by Respironics and contains certain proprietary information, including but not limited to, ideas and techniques of Respironics.  To protect such proprietary information, You may use the Software solely for Your internal use, and You shall not, and shall not permit a third party to: (i) copy, reproduce, download, modify, adapt, transfer or assign the Software, or any copy, adaptation, transcription or merged portion thereof; (ii) reverse engineer, de-compile, reverse-compile, translate, disassemble or reverse assemble, or create derivative works based on, the Software or any source code or object code for all or any portion of the Software; (iii) use the Software for any purpose other than the Intended Use; (iv) outsource the use of the Software or use the Software to process data for any third party; (v) use or permit the use of the Software to operate a service bureau; or (vi) sell, lease, grant, loan, rent, give, distribute, assign, sublicense, transfer, disclose, or allow access to, the Software (in whole or in part) to any third party.  You shall not, and shall not permit a third party to, remove any proprietary notices, labels, or marks on the Software or any documentation accompanying the Software.
    </p>
    <p>
    You agree to uninstall the Software from Your Computer and destroy all copies of the Software upon completion of the Study or, if earlier, upon completion of your participation in the Study.
    In addition, You agree to abide by all applicable local, state, national, and international laws and regulations with respect to Your use of the Software.
    </p>
    <p><strong>IV.	CONSENT.</strong></p>
    <p>
    By using the Software, You understand that Your Data will be (i) transferred from Your Computer to Respironics, (ii) analyzed and processed by Respironics as a processor of Your Data on behalf of and at the direction of the Sponsor and/or Clinical Investigator, the controller of Your Data and (iii) transferred, along with the results of such analysis and processing, from Respironics to the Sponsor and/or Clinical Investigator.  You hereby agree and consent to all of the foregoing.
    </p>
    <p><strong>V.	OWNERSHIP AND INTELLECTUAL PROPERTY RIGHTS.</strong></p>
    <p>
    Except as expressly set forth herein, Respironics retains all right, title and interest in and to, and shall be the sole owner of, the Software, including, without limitation, all Intellectual Property Rights therein.  Title to, ownership of, and all rights and interest in the Software remain at all times vested in Respironics and do not pass to You.
    Respironics shall own all rights, title, and interest in and to any Developments and all Intellectual Property Rights therein.  Any such Developments shall be deemed to be confidential information of Respironics.  You agree to promptly disclose to Respironics any Developments created or made by You, to not disclose such Developments to any third party, and to not use such Developments for any purpose.  In addition, You agree to assign and hereby assign to Respironics all rights, title, and interest in and to all such Developments and any and all Intellectual Property Rights therein, and to execute all documents necessary to confirm, evidence, or perfect such assignment.  You also agree to assist Respironics, as necessary and at Respironics’ expense, in securing, procuring, perfecting, prosecuting, and/or maintaining Intellectual Property Rights in or covering such Developments.
    </p>
    <p><strong>VI.	TERMINATION.</strong></p>
    <p>
    This Agreement automatically terminates upon completion of the Study or, if earlier, upon completion of your participation in the Study.  This Agreement will automatically and immediately terminate if You breach any of the terms or conditions of this Agreement.  Upon any termination of this Agreement, all license rights under the Agreement shall automatically and immediately terminate.  All other terms and conditions of this Agreement shall survive the termination of this Agreement, and You shall continue to be bound by such terms and conditions, including, without limitation, those relating to ownership and intellectual property rights.  In no event will Respironics refund any amount received from You under this Agreement.  Upon any termination of this Agreement, You agree to promptly uninstall the Software from Your Computer and destroy all copies of the Software.
    </p>
    <p><strong>VII.	WARRANTY DISCLAIMER; LIMITATION OF LIABILITY.</strong></p>
    <p>
    THE SOFTWARE IS PROVIDED ‘AS-IS’ WITHOUT ANY WARRANTIES OF ANY KIND.  RESPIRONICS HEREBY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT OR ANY OTHER IMPLIED WARRANTY UNDER THE UNIFORM COMPUTER INFORMATION TRANSACTIONS ACT AS ENACTED BY ANY STATE.  WHILE REASONABLE EFFORTS HAVE BEEN MADE TO ENSURE THAT YOU RECEIVE SOFTWARE THAT YOU CAN USE, RESPIRONICS DOES NOT WARRANT THAT THE FUNCTIONS OF THE SOFTWARE WILL MEET YOUR REQUIREMENTS OR THAT THE OPERATION OF THE SOFTWARE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT ANY DOWNLOADABLE FILES OR INFORMATION WILL BE FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES.  YOU HEREBY AGREE TO ASSUME ALL RESPONSIBILITY FOR THE SELECTION OF THE SOFTWARE TO ACHIEVE THE RESULTS INTENDED BY YOU, THE INSTALLATION OF THE SOFTWARE, THE USE OF THE SOFTWARE AND INFORMATION CONTAINED IN THE SOFTWARE, AND THE RESULTS OF YOUR USE OF THE SOFTWARE.  RESPIRONICS IS NOT RESPONSIBLE FOR PROBLEMS CAUSED BY CHANGES IN THE OPERATING CHARACTERISTICS OF YOUR COMPUTER, OR THE FAILURE OF YOUR COMPUTER TO PERFORM CORRECTLY, OR FOR ANY PROBLEMS IN THE INTERACTION OF THE SOFTWARE WITH NON-RESPIRONICS SOFTWARE.
    UNDER NO CIRCUMSTANCES WILL RESPIRONICS BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT, INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, OR EXEMPLARY DAMAGES, COST OF COVER, LOST DATA, LOST PROFITS, ANTICIPATED PROFITS, LOST BUSINESS, LOST SALES OR OTHER ECONOMIC LOSS, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR ANY OTHER THEORY OF LIABILITY, ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE USE OF THE SOFTWARE, EVEN IF RESPIRONICS HAS BEEN ADVISED OF THE POSSIBILITY THEREOF.  BECAUSE SOME JURSIDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
    UNDER NO CIRCUMSTANCES WILL RESPIRONICS’ TOTAL LIABILITY TO YOU, WHETHER FOR BREACH OF CONTRACT OR TORT OR OTHERWISE, EXCEED THE AMOUNT PAID BY YOU TO RESPIRONICS FOR THE USE OF THE SOFTWARE.  YOU EXPRESSLY RELEASE RESPIRONICS FROM ANY LIABILITY EXCEEDING SAID LIMIT.  THE FOREGOING LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.
    </p>
    <p><strong>VIII.	INDEMNITY.</strong></p>
    <p>
    You agree to defend, indemnify, and hold harmless Respironics and its affiliates and all of their respective agents, directors, employees, officers, shareholders, attorneys, successors, and assigns from and against any and all claims, proceedings, damages, injuries, liabilities, losses, costs, and expenses (including reasonable attorneys’ fees and litigation expenses) relating to or arising from any breach by You of this Agreement.
    </p>
    <p><strong>IX.	APPLICABLE LAW AND JURISDICTION.</strong></p>
    <p>
    This Agreement is expressly made subject to any applicable export laws, orders, restrictions, or regulations.  This Agreement and all matters arising out of or related to it shall be governed by and construed in accordance with the laws of the Commonwealth of Pennsylvania, USA, without regard to conflict of laws principles.  You also acknowledge and agree that any applicable state law implementation of the Uniform Computer Information Transactions Act (including any available remedies or laws) shall not apply to this Agreement and is hereby disclaimed.  Any claim You might have against Respironics must be brought within two (2) years after the cause of action arises, or such claim or cause of action is barred.  The state and federal courts of Allegheny County, Pennsylvania shall have the exclusive jurisdiction and venue with respect to any disputes arising under this Agreement, and You hereby expressly consent to the personal jurisdiction of such courts.  You also agree to waive any right to a jury trial in connection with any action or litigation in any way arising out of or related to this Agreement and acknowledge that either party may seek attorney's fees in any proceeding.
    </p>
    <p><strong>X.	MISCELLANEOUS.</strong></p>
    <p>
    You acknowledge that any breach, threatened or actual, of this Agreement will cause irreparable injury to Respironics, such injury would not be quantifiable in monetary damages, and Respironics would not have an adequate remedy at law.  You therefore agree that Respironics shall be entitled, in addition to other available remedies, to seek and be awarded an injunction or other appropriate equitable relief from a court of competent jurisdiction restraining any breach, threatened or actual, of Your obligations under any provision of this Agreement.  Accordingly, You hereby waive any requirement that Respironics post any bond or other security in the event any injunctive or equitable relief is sought by or awarded to Respironics to enforce any provision of this Agreement.  The parties agree that this Agreement is for the benefit of the parties hereto as well as Respironics' licensors (if any).  Accordingly, this Agreement is personal to You, and You may not assign Your rights or obligations to any other person or entity without Respironics' prior written consent.  Failure by Respironics to insist on strict performance of any of the terms and conditions of this Agreement will not operate as a waiver by Respironics of that or any subsequent default or failure of performance.  If any provision (or part thereof) contained in this Agreement is determined to be void, invalid, illegal, or otherwise unenforceable by a court of competent jurisdiction or on account of a conflict with an applicable government regulation, such determination shall not affect the remaining provisions (or parts thereof) contained herein and the void, invalid, illegal, or unenforceable provision shall be modified in compliance with applicable law in a manner that most closely matches the intent of the original language.  No joint venture, partnership, employment, or agency relationship exists between You and Respironics as a result of this Agreement or Your use of the Software.  Headings herein are for convenience only.
    </p>
    <p><strong>XI.	ENTIRE AGREEMENT.</strong></p>
    <p>
    This Agreement sets forth the entire agreement between You and Respironics with respect to the licensing and use of the Software, and supersedes all prior agreements, discussions or representations made with respect to the Software.  No terms or conditions of this Agreement may be modified except in writing and signed by Respironics.  A printed version of this Agreement and of any related notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
    </p>

</div>

