<div class="pr-context-bar-tainer pr-tainer-full" style="background-color: #cccccc" has-authority="ROLE_USER" ng-show != "vm.isSiteCoordinator">
    <div class="pr-context-bar" style="padding: 0 0 8px 0">
        <div class="pr-panel pr-panel-dark" style="color: #464646">
            <header class="pr-context-bar-general clearfix">
                <div class="pr-context-bar-general-col" style="float: left">
                    {{vm.company.name}}
                </div>
                <div class="pr-context-bar-general-col" style="float: right">
                    <span ng-repeat="accessLevel in vm.membership.accessLevels">
                        <span ng-if="$index !== 0"> &amp; </span>
                        <span translate="{{'Authority.' + accessLevel.accessLevel}}">{{accessLevel.accessLevel}}</span>
                        <span ng-if="accessLevel.accessLevel === 'ACL_SITECOORD'">: {{accessLevel.studyName}} / {{accessLevel.siteReference}}</span>
                    </span>
                </div>
            </header>
        </div>
    </div>
</div>

<div class="pr-context-bar-tainer pr-tainer-full" style="background-color: #cccccc" has-authority="ROLE_USER" ng-show="vm.isSiteCoordinator">
    <div class="pr-context-bar" style="padding: 0 0 8px 0">
        <div class="pr-panel pr-panel-dark" style="color: #464646">
            <header class="pr-context-bar-general clearfix">
                <div class="pr-context-bar-general-col" style="float: left">
                    {{vm.company.name | uppercase }}
                </div>
                <div class="pr-context-bar-general-col" style="float: right">
                        <span>{{vm.studiesToDisplay}}</span>
                </div>
                <div class="pr-context-bar-general-col" style="float: right">
                    <span translate="{{'Authority.' + vm.userRoles}}">{{vm.userRoles | uppercase }}</span>
                </div>
            </header>
        </div>
    </div>
</div>

<div class="pr-context-bar-tainer pr-tainer-full" style="background-color: #cccccc" has-authority="ROLE_ADMIN">
    <div class="pr-context-bar" style="padding: 0 0 8px 0">
        <div class="pr-panel pr-panel-dark" style="color: #464646">
            <header class="pr-context-bar-general clearfix">
                <div class="pr-context-bar-general-col" style="float: left">
                    &nbsp;
                </div>
                <div class="pr-context-bar-general-col" style="float: right">
                    <span translate="{{'Authority.ROLE_ADMIN'}}">ROLE_ADMIN</span>
                </div>
            </header>
        </div>
    </div>
</div>

