<div ng-cloak>
    <div class="row">
        <div class="col-md-12">

            <div ng-if="!vm.isAuthenticated()">

                <!--<div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>-->
                    <!--If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").-->
                <!--</div>-->

                <div class="row" >
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-danger" ng-show="vm.authenticationError" translate="login.messages.error.authentication">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <form id="loginForm" class="form-horizontal" role="form" ng-submit="vm.login($event)" style="margin-top: 50px;margin-bottom: 50px;">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="username" translate="global.form.username">Login</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="password" translate="login.form.password">Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                           ng-model="vm.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <div style="float: left">
                                        <label for="rememberMe">
                                            <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                                            <span translate="login.form.rememberme">Remember me</span>
                                        </label>
                                    </div>
                                    <div style="float: right">
                                        <button type="submit" class="btn btn-primary" translate="login.form.button">Sign in</button>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </form>
                        <p></p>
                        <div class="alert alert-warning">
                            <a class="alert-link" ui-sref="requestReset" translate="login.password.forgot">Did you forget your password?</a>
                        </div>
                        <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                            You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
