<div ng-cloak ng-if="vm.isAuthenticated()">
    <!--<div class="row">
        <div class="col-md-12">

            <div class="dashboard-container" style="padding: 20px 0">
                <div class="alert alert-info">
                    <span>You are logged in as user "{{vm.account.login}}"</span>
                    <span ng-hide="vm.isProductSupport"> for company "{{vm.company.name}}"</span>.

                </div>

            </div>
        </div>

    </div>-->
    <section class="pr-section" style="margin: 5px" ng-hide="vm.isProductSupport || vm.isSiteCoordinator">
        <div class="pr-section-header" style="margin: 0px">
            <span>
                <h4 translate="passApp.study.home.title">Studies</h4>
            </span>
            <span><h5>: {{vm.queryCount}}</h5></span>
        </div>
        <div class="row">
            <div class="alert alert-info" style="margin: 0px">

                <span>
                    <div style="margin: 0px">
                        <aside class="pr-results-options clearfix">
                            <div class="form-inline">
                                <div class="pull-right">
                                    <div class="form-group form-group-sm">
                                        <label translate="global.form.sortBy">Sort By</label>:
                                        <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                                            <option value="name" translate="passApp.study.name">Name</option>
                                            <!--<option value="uniqueIdentifier" translate="passApp.study.externalReference">Study ID</option>-->
                                            <option value="status" translate="passApp.study.studyStatus">Status</option>
                                            <option value="createdDate" translate="passApp.study.dateCreated">Date Created</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.getStudies()" blur>
                                            <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                                            <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <div class="table-responsive" style="margin:0px ">
                            <table class="jh-table table table-striped" style="margin:0px">
                                <thead>
                                    <tr>
                                        <th style="width: 200px;"><span translate="passApp.study.name">Name</span></th>
                                        <!--<th style="width: 100px;"><span translate="passApp.study.externalReference">Study ID</span></th>-->
                                        <th style="width: 100px;"><span translate="passApp.study.studyStatus">Status</span></th>
                                        <th style="width: 100px;"><span translate="passApp.study.numberOfSubjects">Number of Subjects</span></th>
                                        <th style="width: 100px;"><span translate="passApp.study.numberOfSites">Number of Sites</span></th>
                                        <th style="width: 200px;"><span translate="passApp.study.dateCreated">Date Created</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="study in vm.studies track by study.id">
                                        <td><a ng-click="vm.navigateToStudyDetails(study.id)">{{study.name}}</a></td>
                                        <!--<td>{{study.uniqueIdentifier | uppercase | limitTo:8:28}}</td>-->
                                        <td translate="{{'passApp.StudyStatus.' + study.status}}">{{study.status}}</td>
                                        <td>{{study.numberOfSubjects}}</td>
                                        <td>{{study.numberOfSites}}</td>
                                        <td>{{study.createdDate | date:'medium'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right" style="margin: 0px;">
                            <!--<jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>-->
                            <ul uib-pagination class="pagination" style="margin: 0px" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </section>

    <section class="pr-section" style="margin: 5px" ng-show="vm.isSiteCoordinator">
        <div class="pr-section-header" style="margin: 0px">
            <span>
                <h4 translate="passApp.site.home.title">Sites</h4>
            </span>
            <span><h5>: {{vm.queryCountSites}}</h5></span>
        </div>
        <div class="row">
            <div class="alert alert-info" style="margin: 0px">
                <span>
                    <div style="margin: 0px">

                        <div class="table-responsive" style="margin:0px ">
                            <table class="jh-table table table-striped" style="margin:0px">
                                <thead>
                                    <tr>
                                        <!--<th style="width: 200px;"><span translate="passApp.site.externalReference">Name</span></th>-->
                                        <th style="width: 100px;"><span translate="passApp.study.numberOfSubjects">Number of Subjects</span></th>
                                        <th style="width: 200px;"><span translate="passApp.site.dateCreated">Date Created</span></th>
                                        <!--<th style="width: 100px;"><span translate="passApp.study.externalReference">Study ID</span></th>-->
                                        <th style="width: 100px;"><span translate="passApp.monitor.subjectsAssignedToMonitors">Subjects assigned to  monitors</span></th>
                                        <th style="width: 100px;"><span translate="passApp.monitor.unAssignedMonitors">Unassigned Monitors</span></th>
                                        <th style="width: 100px;"><span translate="passApp.study.studyStatus">Study Status</span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr ng-repeat="site in vm.sites track by site.id|filter:{id:vm.sitecoord.site.id}">-->
                                    <tr>
                                        <!--<td>{{vm.site.externalReference}}</td>-->
<!--                                        <td style="text-align: center">{{vm.site.numberOfSubjects}}</td>-->
                                        <td style="text-align: center">{{vm.numberOfSubjs}}
                                        <td>{{vm.site.createdDate | date:'mediumDate'}}</td>
                                        <td style="text-align: center">{{vm.site.numberOfSubjectsAssignedToMonitors}}</td>
                                        <td style="text-align: center">{{vm.site.numberOfUnassignedMonitors}}</td>
                                        <td>{{vm.site.studyStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </section>
</div>
