<div ng-if="!vm.isAuthenticated() || !vm.hasCurrentCompany()">

    <form id="loginForm" role="form" class="pr-auth-user-login" autocomplete="off"  ng-submit="vm.login($event)" ng-cloak>
        <div class="pr-notification-local-banner">
            <div class="alert alert-warning" ng-show="vm.authenticationError">
                <div class="alert-icon">
                    <span class="pr-icon pr-icon-warning"></span>
                </div>
                <div class="alert-body">
                    <span translate="{{'login.messages.error.' + vm.authenticationError}}">Invalid login attempt.</span>
                </div>
            </div>
        </div>
        <fieldset>
            <div class="form-group">
                <input autofocus type="text" class="form-control" id="username" ng-disabled="vm.isAuthenticated()"s
                       placeholder="{{'global.form.username.placeholder' | translate}}"
                       ng-change="vm.clearError()"
                       ng-model="vm.username"
                       required
                >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" ng-disabled="vm.isAuthenticated()"
                       placeholder="{{'login.form.password.placeholder' | translate}}"
                       ng-change="vm.clearError()"
                       ng-model="vm.password"
                       required
                >
            </div>
            <div class="pull-right">
                <button class="pr-btn pr-btn-submit" ng-class="{'pr-btn-primary': !vm.isAuthenticated(), 'pr-btn-success': vm.isAuthenticated()}" ng-disabled="vm.isAuthenticated()" type="submit">
                    <span>Authenticate</span>
                </button>
            </div>
        </fieldset>
        <div class="pr-notification-local-banner" style="margin-top: 10px;">
            <div class="alert alert-warning" ng-show="vm.membership && !vm.membership.enabled">
                <div class="alert-body">
                    <span translate="login.messages.error.INACTIVATED" translate-values="{ companyName: vm.membership.company.name }">Inactivated membership!</span>
                </div>
            </div>
        </div>
        <fieldset style="margin-top: 10px;" ng-show="vm.isAuthenticated()">
            <div class="form-group">
                <select class="form-control" id="field_membership" name="membership"
                        ng-model="vm.membership"
                        ng-disabled="!vm.isAuthenticated()"
                        ng-options="membership as vm.getMembershipDisplay(membership) for membership in vm.account.memberships | orderBy:'company.name'">
                    <option value="">- Select Company -</option>
                </select>
            </div>
            <div class="pull-right">
                <button type="button" class="pr-btn pr-btn-default" ng-disabled="!vm.isAuthenticated()" ng-click="vm.logout()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" class="pr-btn pr-btn-submit pr-btn-primary" ng-disabled="!vm.isAuthenticated() || !vm.membership || !vm.membership.enabled" ng-click="vm.finishLogin()">
                    <span translate="login.form.button">Log in</span>
                </button>
            </div>
        </fieldset>
        <div class="login-links" ng-hide="vm.isAuthenticated()">
            <div>
                <a class="forgot" ui-sref="requestReset" translate="login.password.forgot">Forgot password</a>
            </div>
            <div>
                <a class="register" ui-sref="register">Register a new account</a>
            </div>
        </div>
        <div class="login-links" ng-show="vm.isAuthenticated()">
            <div>
                <a class="register" ng-click="vm.registerCompany()">Register a new company</a>
            </div>
        </div>
    </form>
</div>
