<div ng-cloak ng-if="!vm.isAuthenticated()">

    <div class="container-fluid">
        <form style="text-align: center">

            <span>You have been logged out.</span><br />
            <span>Click <a ui-sref="home" style="color: #fff; text-decoration: underline">here</a> to log back in</span>

        </form>
    </div>

</div>
