<div class="pr-wizard">
    <form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()">

        <header class="modal-header">
            <h3 class="modal-title" ng-hide="vm.company.id" translate="passApp.company.home.createLabel">Add Company</h3>
            <h3 class="modal-title" ng-show="vm.company.id" translate="passApp.company.home.editLabel">Edit Company</h3>
        </header>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <fieldset>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.company.name" for="field_name">Name</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="name" id="field_name"
                               ng-model="vm.company.name"
                               required />
                        <div ng-show="(editForm.name.$dirty || editForm.name.$touched) && editForm.name.$invalid">
                            <div class="error-block" ng-show="editForm.name.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.street" for="field_streetAddress">Street Address</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                               maxlength="25"
                               ng-model="vm.company.streetAddress"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.city" for="field_city">City</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="city" id="field_city"
                               maxlength="25"
                               ng-model="vm.company.city"
                        />
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': (editForm.zipCode.$dirty || editForm.zipCode.$touched) && editForm.zipCode.$invalid}">
                    <label class="control-label" translate="global.form.zipCode" for="field_zipCode">ZIP Code</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                               maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                               ng-model="vm.company.zipCode"
                        />
                        <div ng-show="(editForm.zipCode.$dirty || editForm.zipCode.$touched) && editForm.zipCode.$invalid">
                            <div class="error-block"ng-show="editForm.zipCode.$error.pattern">
                                <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': (editForm.state.$dirty || editForm.state.$touched) && editForm.state.$invalid}">
                    <label class="control-label" translate="global.form.state" for="field_state">State</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="state" id="field_state"
                               maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                               ng-model="vm.company.state"
                        />
                        <div ng-show="(editForm.state.$dirty || editForm.state.$touched) && editForm.state.$invalid">
                            <div class="error-block" ng-show="editForm.state.$error.pattern">
                                <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.country" for="field_country">Country</label>
                    <div class="control-container">
                        <select class="form-control" id="field_country" name="country" ng-model="vm.company.country"
                                ng-options="key as value for (key , value) in vm.countries">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" class="btn pr-btn pr-btn-primary" ng-disabled="editForm.$invalid || isSaving">
                    <span translate="entity.action.save">Save</span>
                </button>
            </div>
        </footer>
    </form>
</div>
