
<div>
    <h2><span translate="passApp.company.detail.title">Company</span>: {{vm.company.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal">
        <dt><span translate="passApp.company.name">Name</span></dt>
        <dd>
            <span>{{vm.company.name}}</span>
        </dd>
        <dt><span translate="global.form.street">Street Address</span></dt>
        <dd>
            <span style="white-space: pre;">{{vm.company.streetAddress}}</span>
        </dd>
        <dt><span translate="global.form.city">City</span></dt>
        <dd>
            <span style="white-space: pre;">{{vm.company.city}}</span>
        </dd>
        <dt><span translate="global.form.zipCode">ZIP Code</span></dt>
        <dd>
            <span style="white-space: pre;">{{vm.company.zipCode}}</span>
        </dd>
        <dt><span translate="global.form.state">State/span></dt>
        <dd>
            <span style="white-space: pre;">{{vm.company.state}}</span>
        </dd>
        <dt><span translate="global.form.country">Country</span></dt>
        <dd>
            <span style="white-space: pre;">{{vm.countries[vm.company.country]}}</span>
        </dd>
        <dt><span translate="global.form.phonenumber">Phone number</span></dt>
        <dd>
            <span style="white-space: pre;">{{vm.company.contactPhoneNumber}}</span>
        </dd>
    </dl>

    <dl class="dl-horizontal" style="padding-top: 20px;">
        <dt><span>Access</span></dt>
        <dd>
            <div ng-repeat="membership in vm.company.memberships">
                <a ui-sref="user-management-detail({login:membership.user.login})">{{membership.user.login}}</a>:
                <span ng-repeat="accessLevel in membership.accessLevels">
                    {{accessLevel.accessLevel}}{{$last ? '' : ', '}}
                </span>
            </div>
        </dd>
    </dl>

    <hr/>
    <button type="submit"
            onclick="window.history.back()"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
