<form name="deleteForm" ng-submit="vm.confirmDelete(vm.company.id)">
    <header class="modal-header">
        <h3 class="modal-title" translate="entity.delete.title">Confirm delete operation</h3>
    </header>
    <div class="modal-body" ng-init="load(vm.company.id)">
        <jhi-alert-error></jhi-alert-error>
        <p translate="passApp.company.delete.question" translate-values="{name: '{{vm.company.name}}'}" ng-show="vm.hasStudy!==true">Are you sure you want to delete this Company?</p>
        <p ng-show="vm.hasStudy!==false" translate="passApp.company.delete.popup">This company can not be deleted because it has a least one study</p>
    </div>
    <footer class="modal-footer">
        <div class="form-actions-left">

        </div>
        <div class="form-actions">
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()" ng-show="vm.hasStudy!==true">
                <span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()" ng-show="vm.hasStudy!==false">
                <span translate="entity.action.ok">OK</span>
            </button>
            <button type="submit" class="btn pr-btn pr-btn-primary" ng-show="vm.hasStudy==false">
                <span translate="entity.action.delete">Delete</span>
            </button>
        </div>
    </footer>
</form>
