<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.company.home.title">Companies</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="company.new" >
                <span translate="passApp.company.home.createLabel">Add Company</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
        <!--<p>Search for monitor by ...</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="name" translate="passApp.company.name">Name</option>
                    <option value="city" translate="global.form.city">City</option>
                    <option value="country" translate="global.form.country">Country</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="passApp.company.name">Name</span></th>
                    <th><span translate="global.form.city">City</span></th>
                    <th><span translate="global.form.country">Country</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in vm.companies track by company.id">
                    <td style="vertical-align: top"><a ui-sref="company-detail({id:company.id})">{{company.name}}</a></td>
                    <td><span style="white-space: pre;">{{company.city}}</span></td>
                    <td><span style="white-space: pre;">{{vm.countries[company.country]}}</span></td>
                    <td class="text-right" style="vertical-align: top">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="company.edit({id:company.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company.delete({id:company.id,name:company.name})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>
