<div class="pr-wizard">

    <header class="modal-header">
        <h3 class="modal-title" id="mySubjectLabel" translate="passApp.subject.home.subjectDemographics">Subject Demographics</h3>
    </header>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <form name="subjectEditForm" class="form-horizontal" role="form" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" translate="passApp.subject.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                               ng-maxlength=25
                               ng-model="vm.subject.phoneNumber"
                        />
                        <div ng-show="(subjectEditForm.phoneNumber.$dirty || subjectEditForm.phoneNumber.$touched) && subjectEditForm.phoneNumber.$invalid">
                            <div class="error-block" ng-show="subjectEditForm.phoneNumber.$error.maxlength">
                                <span  translate="global.messages.validate.phonenumber.maxlength">Phone number cannot be longer than 25 characters.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="passApp.subject.email" for="field_email">Email</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="email" id="field_email"
                               maxlength="60" ng-pattern="PATTERNS.EMAIL"
                               ng-model="vm.subject.email"
                        />
                        <div ng-show="subjectEditForm.email.$invalid && subjectEditForm.email.$touched">
                            <div class="error-block" ng-show="subjectEditForm.email.$error.pattern">
                                <span translate="global.messages.validate.email.invalid">Invalid email.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.street" for="field_streetAddress">Street Address</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                               maxlength="25"
                               ng-model="vm.subject.streetAddress"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.city" for="field_city">City</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="city" id="field_city"
                               maxlength="25"
                               ng-model="vm.subject.city"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.zipCode" for="field_zipCode">ZIP Code</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                               maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                               ng-model="vm.subject.zipCode"
                        />
                        <div ng-show="(subjectEditForm.zipCode.$dirty || subjectEditForm.zipCode.$touched) && subjectEditForm.zipCode.$invalid">
                            <div class="error-block" ng-show="subjectEditForm.zipCode.$error.pattern">
                                <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.state" for="field_state">State</label>
                    <div class="control-container">
                        <input type="text" class="form-control" name="state" id="field_state"
                               maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                               ng-model="vm.subject.state"
                        />
                        <div ng-show="(subjectEditForm.state.$dirty || subjectEditForm.state.$touched) && subjectEditForm.state.$invalid">
                            <div class="error-block" ng-show="subjectEditForm.state.$error.pattern">
                                <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="global.form.country" for="field_country">Country</label>
                    <div class="control-container">
                        <select class="form-control" id="field_country" name="country" ng-model="vm.subject.country"
                                ng-options="key as value for (key , value) in vm.countries">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.subject.timezone" for="field_timezone">Time Zone</label>
                    <div class="control-container">
                        <timezone-selector id="field_timezone" name="timezone"
                                           ng-model="vm.subject.timeZone"
                                           display-utc="true"
                                           show-local="true"
                                           set-local="true"
                                           width="100%">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <footer class="modal-footer">
        <div class="form-actions-left">

        </div>
        <div class="form-actions">
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                <span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" class="btn pr-btn pr-btn-primary" ng-click="vm.save()" ng-disabled="subjectEditForm.$invalid || isSaving">
                <span translate="entity.action.save">Save</span>
            </button>
        </div>
    </footer>
</div>

