<form name="editForm" role="form" class="form-horizontal" novalidate>
        <header class="modal-header">
            <h3 class="modal-title" id="myMonitorLabel" translate="passApp.subject.subjectExport.title">Create Password</h3>
        </header>
        <div class="modal-body">
            <!--<jhi-alert-error></jhi-alert-error>-->
            <div class="form-group" style="border: #0A0A0A">
                <input type="checkbox" name="pwdChecked" ng-model="vm.checkForPwd" ng-true-value="true" check-required style="margin-right: 2px"/>
                <label translate="passApp.subject.subjectExport.checkBox" style="color:green"> Enable password protection</label>
            </div>
            <div class="form-control border" style="height: auto" ng-disabled="vm.checkForPwd != true">
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.subject.subjectExport.subject-password" for="password">Password</label>
                    <!--       translate="global.form.newpassword"-->
                    <div class="input-group">
                        <input type="password" class="editForm-control" id="password" name="password" style="padding-left: 1px"
                               placeholder="{{'passApp.subject.subjectExport.subject-password-placeholder' | translate}}"
                               ng-model="vm.password"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                               ng-minlength=4
                               ng-maxlength=10
                               ng-disabled="vm.checkForPwd != true"
                               required>
                        <div
                            ng-show="(editForm.password.$dirty || editForm.password.$touched) && editForm.password.$invalid">
                            <div class="error-block" ng-show="editForm.password.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.password.$error.minlength">
                                <span>Your password is required to be at least 4 characters.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.password.$error.maxlength">
                                <span translate="passApp.subject.subjectExport.subject-password-max-validation">Your password cannot be longer than 10 characters.</span>
                            </div>
<!--                            <div class="error-block" ng-show="vm.repeatPwd != vm.password" style="color: red">
                                <span translate="passApp.subject.subjectExport.subject-password-mismatch-validation">Passwords do not match!</span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.subject.subjectExport.subject-reenter-password" for="repeatPwd">Repeat Password</label>
                    <div class="input-group">
                        <input type="password" class="editForm-control" id="repeatPwd" name="repeatPwd" style="padding-left: 1px"
                               placeholder="{{'passApp.subject.subjectExport.subject-reenter-password-placeholder' | translate}}"
                               ng-model="vm.repeatPwd"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                               ng-minlength=4
                               ng-maxlength=10
                               ng-disabled="vm.checkForPwd != true"
                               required>
                        <div
                            ng-show="(editForm.repeatPwd.$dirty || editForm.repeatPwd.$touched) && editForm.repeatPwd.$invalid">
                            <div class="error-block" ng-show="editForm.repeatPwd.$error.required">
                                <span translate="entity.validation.required">This field is required.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.repeatPwd.$error.minlength">
                                <span>Your password is required to be at least 4 characters.</span>
                            </div>
                            <div class="error-block" ng-show="editForm.repeatPwd.$error.maxlength">
                                <span translate="passApp.subject.subjectExport.subject-password-max-validation">Your password cannot be longer than 10 characters.</span>
                            </div>
<!--                            <div class="error-block" ng-show="vm.repeatPwd != vm.password" style="color: red">
                                <span translate="passApp.subject.subjectExport.subject-password-mismatch-validation">Passwords do not match!</span>
                            </div>-->
                        </div>
                    </div>
                    <div class="error-block" ng-show="vm.pwdMismatch()" translate="passApp.subject.subjectExport.subject-password-mismatch-validation" style="color: red">
                        <hr> Passwords do not match!
                    </div>
                </div>
            </div>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">
            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.cancel()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <!--ng-disabled="editForm.$invalid || (vm.repeatPwd != vm.password)"-->
                <!--ng-disabled="vm.checkForPwd != true" ng-disabled="editForm.$invalid"-->
                <button type="submit"
                        class="btn pr-btn pr-btn-primary"
                        ng-disabled="(vm.repeatPwd != vm.password)"
                        ng-click="vm.ok()">
                    <span translate="passApp.subject.subjectExport.save-button">Save</span>
                </button>
            </div>
        </footer>
</form>

