<div class="pr-wizard">
    <header class="modal-header">
        <h3 class="modal-title" translate="passApp.subject.home.subjectHStats">Subject Attributes</h3>
    </header>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <form name="subjectEditForm" class="form-horizontal" role="form" novalidate autocomplete='off'>
            <fieldset>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.subject.height" for="field_height">Height</label>
                    <div class="control-container">
                        <div class="input-group" style="width: 100%">
                            <input type="text" maxlength="4" class="form-control" style="width: 125px; text-align: right" name="height" id="field_height"
                                   ng-model="vm.subject.height" ng-pattern="/^(0*[1-9]+0*)+$/"
                                   required numbers-only
                            />
                            <select class="form-control input-group-addon pr-btn-alt" style="width: 100px" id="field_height_unit" name="heightUnit"
                                    ng-model="vm.subject.heightUnit">
                                <option value="CM"><span translate="passApp.HeightUnit.CM">cm</span></option>
                                <option value="IN"><span translate="passApp.HeightUnit.IN">in</span></option>
                            </select>
                        </div>
                        <div ng-show="subjectEditForm.height.$invalid && subjectEditForm.height.$touched">
                            <div class="error-block" ng-show="subjectEditForm.height.$error.required">
                                <span  translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" translate="passApp.subject.weight" for="field_weight">Weight</label>
                    <div class="control-container">
                        <div class="input-group" style="width: 100%">
                            <input type="text" maxlength="4" class="form-control" style="width: 125px; text-align: right" name="weight" id="field_weight"
                                   ng-model="vm.subject.weight" ng-pattern="/^(0*[1-9]+0*)+$/"
                                   required numbers-only
                            />
                            <select class="form-control input-group-addon pr-btn-alt" style="width: 100px" id="field_weight_unit" name="weightUnit"
                                    ng-model="vm.subject.weightUnit">
                                <option value="KG"><span translate="passApp.WeightUnit.KG">kg</span></option>
                                <option value="LB"><span translate="passApp.WeightUnit.LB">lb</span></option>
                            </select>
                        </div>
                        <div ng-show="subjectEditForm.weight.$invalid && subjectEditForm.weight.$touched">
                            <div class="error-block" ng-show="subjectEditForm.weight.$error.required">
                                <span  translate="entity.validation.required">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" name="wearingPos" translate="passApp.subject.wearingPosition" for="field_wearing_position">Wearing Position</label>
                    <div class="control-container">
                        <select class="form-control" style="width:225px" id="field_wearing_position" name="wearingPosition"
                                ng-model="vm.subject.wearingPosition"  required>
                            <option value="LEFT" translate="passApp.WearingPosition.LEFT" setde>Left</option>
                            <option value="RIGHT" translate="passApp.WearingPosition.RIGHT">Right</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-required" name="wearingPos" translate="passApp.subject.dominantHand" for="field_dominant_hand">Dominant Hand</label>
                    <div class="control-container" >
                        <select class="form-control" style="width:225px" name="dominantHand" ng-model="vm.subject.dominantHand" id="field_dominant_hand" required>
                            <option value="Left" translate="passApp.DominantHand.LEFT">Left</option>
                            <option value="Right" translate="passApp.DominantHand.RIGHT">Right</option>
                            <option value="Both" translate="passApp.DominantHand.BOTH">Both</option>
                        </select>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <footer class="modal-footer">
        <div class="form-actions-left">

        </div>
        <div class="form-actions">
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                <span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" class="btn pr-btn pr-btn-primary" ng-click="vm.save()" ng-disabled="subjectEditForm.$invalid || isSaving">
                <span translate="entity.action.save">Save</span>
            </button>
        </div>
    </footer>
</div>
