<div class="pr-patient-patient-detail-header pr-context-bar-tainer pr-tainer-full">
    <div class="pr-context-bar">
        <div class="pr-panel pr-panel-dark">
            <header class="pr-context-bar-general clearfix" style="font-size: 12px">
                <div class="col-sm-4" style="-webkit-align-content: flex-start">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.name" style="text-align: left">Name</dt>
                        <dd class="force-word-break"><span>{{vm.subject.firstName}} {{vm.subject.lastName}}</span></dd>
                        <dt translate="passApp.subject.dateOfBirth" style="text-align: left">Date Of Birth</dt>
                        <dd class="force-word-break">{{vm.subject.dateOfBirth | date:'mediumDate'}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.externalReference" style="text-align: left">Subject ID</dt>
                        <dd class="force-word-break">{{vm.subjectReference}}</dd>
                        <dt translate="passApp.subject.uniqueIdentifier" style="text-align: left">Unique Identifier</dt>
                        <dd class="force-word-break">{{vm.displayUUID}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.study" style="text-align: left">Study</dt>
                        <dd class="force-word-break">{{vm.subject.studyName}}</dd>
                        <dt translate="passApp.subject.siteId" style="text-align: left">Site</dt>
                        <dd class="force-word-break">{{vm.subject.siteReference}}</dd>
                    </dl>
                </div>
            </header>
            <section class="pr-context-bar-details clearfix">
                <div ui-view="information"></div>
            </section>
        </div>
    </div>
</div>

<div ui-view="analysis"></div>

<div style="margin-top: 10px;">
    <button type="submit"
            ng-click="vm.navigateBack()"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
