<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <fieldset>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.height" for="field_height">Height</label>
            <div class="control-container">
                <div class="input-group" style="width: 100%">
                    <input type="text" maxlength="4" class="form-control" style="width: 125px; text-align: right" name="height" id="field_height"
                           ng-model="vm.subject.height"
                           required numbers-only
                    />
                    <select class="form-control input-group-addon pr-btn-alt" style="width: 100px" id="field_height_unit" name="heightUnit"
                            ng-model="vm.subject.heightUnit">
                        <option value="CM"><span translate="passApp.HeightUnit.CM">cm</span></option>
                        <option value="IN"><span translate="passApp.HeightUnit.IN">in</span></option>
                    </select>
                </div>
                <div ng-show="subjectWizardForm.height.$invalid && subjectWizardForm.height.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.height.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.weight" for="field_weight">Weight</label>
            <div class="control-container">
                <div class="input-group" style="width: 100%">
                    <input type="text" maxlength="4" class="form-control" style="width: 125px; text-align: right" name="weight" id="field_weight"
                           ng-model="vm.subject.weight"
                           required numbers-only
                    />
                    <select class="form-control input-group-addon pr-btn-alt" style="width: 100px" id="field_weight_unit" name="weightUnit"
                            ng-model="vm.subject.weightUnit">
                        <option value="KG"><span translate="passApp.WeightUnit.KG">kg</span></option>
                        <option value="LB"><span translate="passApp.WeightUnit.LB">lb</span></option>
                    </select>
                </div>
                <div ng-show="subjectWizardForm.weight.$invalid && subjectWizardForm.weight.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.weight.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" name="wearingPos" translate="passApp.subject.wearingPosition" for="field_wearing_position">Wearing Position</label>
            <div class="control-container">
                <select class="form-control" style="width:225px" name="wearingPosition" ng-model="vm.subject.wearingPosition" id="field_wearing_position" required>
                    <option value="Left" translate="passApp.WearingPosition.LEFT">Left</option>
                    <option value="Right" translate="passApp.WearingPosition.RIGHT">Right</option>
                </select>
                <!--<div ng-show="(subjectWizardForm.wearingPosition.$touched || subjectWizardForm.wearingPosition.$dirty) && subjectWizardForm.wearingPosition.$invalid">
                    <div class="error-block" ng-show="subjectWizardForm.wearingPosition.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" name="wearingPos" translate="passApp.subject.dominantHand" for="field_dominant_hand">Wearing Position</label>
            <div class="control-container" >
                <select class="form-control" style="width:225px" name="dominantHand" ng-model="vm.subject.dominantHand" id="field_dominant_hand" required>
                    <option value="Left" translate="passApp.DominantHand.LEFT">Left</option>
                    <option value="Right" translate="passApp.DominantHand.RIGHT">Right</option>
                    <option value="Both" translate="passApp.DominantHand.BOTH">Both</option>
                </select>
              <!--  <div ng-show="(subjectWizardForm.dominantHand.$touched || subjectWizardForm.dominantHand.$dirty) && subjectWizardForm.dominantHand.$invalid">
                    <div class="error-block" ng-show="subjectWizardForm.dominantHand.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>-->
            </div>
        </div>

    </fieldset>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">
        <button class="btn pr-btn pr-btn-alt" ui-sref="subject.new.demographics">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn pr-btn pr-btn-alt" ng-click="vm.save()" ng-disabled="subjectWizardForm.$invalid || isSaving">
            <span translate="entity.action.save">Save</span>
        </button>
        <button type="button" class="btn pr-btn pr-btn-alt" ng-click="vm.saveAndNew()" ng-disabled="subjectWizardForm.$invalid || isSaving">
            <span translate="entity.action.saveAndNew">Save & Add New</span>
        </button>
    </div>
</footer>
