<form xmlns:padding-right="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:padding-left="http://www.w3.org/1999/xhtml" name="subjectAnalysisForm"
      class="form form-horizontal" role="form"
      novalidate>
    <jhi-alert></jhi-alert>
    <div class="form-control border" style="height: auto">
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <label style="padding-top: 7px; padding-left: 0px" translate="passApp.subject.startDate">Start
                        Date</label>
                </div>
                <div class="input-group" style="width: 275px; height: 27px;">
                    <input id="startDate" type="text" class="form-control" style="height:27px" name="startDate"
                           onkeydown="if (event.keyCode === 8) event.preventDefault()"
                           ng-click="vm.openStartDateCalendar()"
                           ng-change="vm.validateEndDate(vm.startDate, vm.endDate)"
                           uib-datepicker-popup="{{vm.startDatePicker.format}}"
                           is-open="vm.startDatePickerOpenStatus"
                           on-open-focus="false"
                           show-button-bar="true"
                           close-text="Close"
                           clear-doShow="false"
                           show-clear="false"
                           datepicker-options="vm.startDatePicker.dateOptions"
                           ng-model="vm.startDate"
                           placeholder="mm/dd/yyyy"
                           required
                           readonly
                    />
                    <span class="input-group-btn" style="width: 10px">
                        <button type="button" class="btn pr-btn pr-btn-default pr-btn-muted-alt"
                                ng-click="vm.openStartDateCalendar()">
                            <span class="pr-icon pr-icon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <label style="padding-top: 7px;" translate="passApp.subject.endDate">End Date</label>
                </div>
                <div class="input-group" style="width: 275px; height: 27px;">
                    <input id="endDate" type="text" class="form-control" style="height: 27px;" name="endDate"
                           onkeydown="if (event.keyCode === 8) event.preventDefault()"
                           ng-click="vm.openEndDateCalendar()"
                           ng-change="vm.validateEndDate(vm.startDate, vm.endDate)"
                           uib-datepicker-popup="{{vm.endDatePicker.format}}"
                           is-open="vm.endDatePickerOpenStatus"
                           on-open-focus="false"
                           show-button-bar="true"
                           datepicker-options="vm.endDatePicker.dateOptions"
                           ng-model="vm.endDate"
                           placeholder="mm/dd/yyyy"
                           required
                           readonly
                           useCurrent="true"
                    />
                    <span class="input-group-btn" style="width: 10px">
                      <button type="button" class="btn pr-btn pr-btn-default pr-btn-muted-alt"
                              ng-click="vm.openEndDateCalendar()">
                          <span class="pr-icon pr-icon-calendar"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 2px; padding-bottom: 2px">
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <label style="padding-top: 7px;" translate="passApp.subject.device">Device SN</label>
                </div>
                <div class="input-group" style="width: 275px; height: 27px;">
                    <select class="form-control" ng-change="vm.deviceSerialNumberChange(vm.selectedMonitor)"
                            ng-model="vm.selectedMonitor">
                        <option ng-repeat="monitor in vm.monitors track by $index" value="{{monitor.serialNumber}}">
                            {{monitor.serialNumber}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <label style="padding-top: 7px;" translate="passApp.subject.analysisType.title">Analysis
                        Type</label>
                </div>
                <div class="input-group" style="width: 275px; height: 27px;">
                    <select class="form-control" ng-change="vm.reportChange(vm.reportType)" ng-model="vm.reportType">
                        <option translate="passApp.subject.analysisType.dataList" value="DATA_LIST" selected>Data List
                        </option>
                        <option translate="passApp.subject.analysisType.feedback" value="FEEDBACK">Feedback</option>
                        <option translate="passApp.subject.analysisType.actogram" value="ACTOGRAM">
                            Actogram
                        </option>
                        <option translate="passApp.subject.analysisType.graph" value="GRAPH">Graph
                        </option>
                        <option translate="passApp.subject.analysisType.statistics" value="STATISTICS">Statistics
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 2px; padding-bottom: 2px">
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <label style="padding-top: 7px;" translate="passApp.subject.timeZone">Subject Time Zone</label>
                </div>
                <div class="input-group" style="width: 275px; height: 27px;padding-top:  7px;">
                    <span>{{vm.timeZone}}</span>
                </div>
            </div>
        </div>

        <div class="row" style='margin-top: 5px; margin-bottom: 0px;'>
            <div class="col-lg-8" style="color: red; padding-left: 22px;" ng-show="vm.errorMessage !== ''">
                <span>{{vm.errorMessage}}</span>
            </div>
            <div class="col-lg-10" style="color: green; padding-left: 22px;" ng-show="vm.successMessage !== ''">
                <span> {{vm.successMessage}} </span>
                <!--                <span>
                                    <a href = {{vm.successMessage}}></a>
                                </span>-->
            </div>
            <div class="pull-right input-group input-group-sm" style="width: 120px; height: 25px;">
                <button type="button" class="btn pr-btn pr-btn-primary"
                        ng-click="vm.processDataList(vm.startDate, vm.endDate, vm.reportType, vm.selectedMonitor)"
                        style="padding-left: 5px; padding-right: 5px; font-size: 12px; width: 127px; height: 26px">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </div>
    <body>
    <br>
    <div>

        <div class="form-control" style="padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 0px;
                    border-top-width: 0px;
                    border-left-width: 0px;
                    border-right-width: 0px;
                    border-bottom-width: 0px;" ng-show="vm.reportType === 'DATA_LIST'">
            <!-- AGGrid CSV implementation -->
            <div class="pull-right input-group input-group-sm" style="width: 120px; height: 25px;">
                <button type="button"
                        class="btn pr-btn pr-btn-primary"
                        ng-disabled="vm.dataLoadedCheck === false"
                        ng-click="vm.exportToCsv()"
                        style="padding-left: 5px; padding-right: 5px; font-size: 12px; width: 127px; height: 26px">
                    <span>Export to CSV</span>
                </button>
            </div>
            <div class="pull-right input-group input-group-sm" style="width: 120px;height: 25px;padding-right: 10px;">
                <button type="button"
                        class="btn pr-btn pr-btn-primary"
                        ng-disabled="vm.dataLoadedCheck === false"
                        ng-click="vm.exportFile()"
                        style="padding-left: 5px; padding-right: 5px; font-size: 12px; width: 127px; height: 26px">
                    <span translate="passApp.subject.subjectExport.main-button">Export to Excel (xlsx)</span>
                </button>
            </div>
        </div>
        <div
            style="height: 600px;font-size: 12px;font-family: 'centrale_sans_book', verdana, arial, helvetica, sans-serif;"
            ag-grid="gridOptions"
            class="ag-theme-blue">
        </div>
        <!-- pager -->
        <div ng-if="vm.pager.pages.length" class="text-center">
            <nav>
                <!--<ul ng-if="vm.pager.pages.length" style="font-weight: bold; padding-top: 5px;"> Showing {{vm.dataCount}} of {{vm.dataListTotal}} items </ul>-->
                <ul ng-if="vm.pager.pages.length"
                    style="font-weight: bold;padding-top: 5px;padding-left: 0px; margin-bottom: 0px; color: blue"
                    translate="passApp.subject.subjectExport.countShow"
                    translate-values="{startIndex: vm.pager.startIndex, endIndex: vm.pager.endIndex, totalItems: vm.pager.totalItems}">
                    Showing {{startIndex}} to {{endIndex}} of {{totalItems}} items
                </ul>
                <ul ng-if="vm.pager.pages.length" class="pagination pagination-lg"
                    style="margin-top: 2px; margin-bottom: 2px;">
                    <li class="page-item" ng-class="{disabled:vm.pager.currentPage === 1}">
                        <a class="page-link" aria-label="First" ng-click="vm.setPage(1, vm.reportType)">
                            <span aria-hidden="true">&Lang;</span>
                            <span class="sr-only">First</span>
                            <!--<a ng-click="vm.setPage(1)">First</a>-->
                        </a>
                    </li>
                    <li class="page-item" ng-class="{disabled:vm.pager.currentPage === 1}">
                        <a class="page-link" aria-label="Previous"
                           ng-click="vm.setPage(vm.pager.currentPage - 1, vm.reportType)">
                            <span aria-hidden="true">&lang;</span>
                            <span class="sr-only">Previous</span>
                            <!--<a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>-->
                        </a>
                    </li>
                    <li class="page-item" ng-repeat="page in vm.pager.pages"
                        ng-class="{active:vm.pager.currentPage === page}">
                        <a ng-click="vm.setPage(page, vm.reportType)">{{page}}</a>
                    </li>
                    <li class="page-item" ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                        <a class="page-link" aria-label="Next"
                           ng-click="vm.setPage(vm.pager.currentPage + 1, vm.reportType)">
                            <span aria-hidden="true">&rang;</span>
                            <span class="sr-only">Next</span>
                            <!--<a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>-->
                        </a>
                    </li>
                    <li class="page-item" ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                        <a class="page-link" aria-label="Last"
                           ng-click="vm.setPage(vm.pager.totalPages, vm.reportType)">
                            <span aria-hidden="true">&Rang;</span>
                            <span class="sr-only">Last</span>
                            <!--<a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>-->
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    </div>

    </div>
    </div>
    </body>
</form>
