<div class="modal-body">
    <!--<jhi-alert-error></jhi-alert-error>-->
    <fieldset>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.study" for="field_study">Study</label>
            <div class="control-container" has-authority="ACL_CLINICIAN">
                <select class="form-control" id="field_study" name="study" ng-model="vm.subject.studyId"
                        ng-options="study.id as study.name for study in vm.studies"
                        ng-change="vm.studyChanged()"
                        required>
                    <option value=""></option>
                </select>
                <div ng-show="subjectWizardForm.study.$invalid && subjectWizardForm.study.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.study.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
            <div class="control-container" has-authority="ACL_SITECOORD">
                <select class="form-control" id="field_study2" name="study" ng-model="vm.subject.studyId"
                        ng-options="study.id as study.name for study in vm.studiesToDisplay"
                        ng-change="vm.studyChanged()"
                        required>
                    <option value=""></option>
                </select>
                <div ng-show="subjectWizardForm.study.$invalid && subjectWizardForm.study.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.study.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="passApp.subject.siteId" for="field_site">Site ID</label>
            <div class="control-container" has-authority="ACL_CLINICIAN">
                <input id="field_site" name="site" type="text" class="form-control"
                       maxlength="25"
                       ng-model="vm.subject.siteReference"
                       ng-disabled="!vm.sitesLoaded"
                       capitalize
                       uib-typeahead="site.externalReference for site in vm.sites | filter:$viewValue | orderBy:'externalReference'"
                       typeahead-show-on-focus
                       typeahead-min-length="0" typeahead-select-on-exact="true" ng-mouseenter="vm.loadSites()">
            </div>
            <div class="control-container" has-authority="ACL_SITECOORD">
                <input id="field_site2" name="site" type="text" class="form-control"
                       maxlength="25"
                       ng-model="vm.subject.siteReference"
                       ng-disabled="!vm.sitesLoaded"
                       capitalize
                       uib-typeahead="site.externalReference for site in vm.sites | filter:$viewValue | orderBy:'externalReference'"
                       typeahead-show-on-focus
                       typeahead-min-length="0" typeahead-select-on-exact="true" ng-mouseenter="vm.loadSites()">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.externalReference" for="field_externalReference">Subject ID</label>
            <div class="control-container">
                <input type="text" class="form-control" name="externalReference" id="field_externalReference"
                       maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                       ng-model="vm.subject.externalReference"
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                       required
                       subjectid-validator
                       ng-disabled="subjectWizardForm.study.$invalid"
                       subjectid="{{vm.subject.id}}"
                       valid-study="{{vm.subject.studyId}}"
                />
                <div ng-show="subjectWizardForm.externalReference.$invalid && subjectWizardForm.externalReference.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.externalReference.$error.pattern">
                        <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                    </div>
                    <div class="error-block" ng-show="subjectWizardForm.externalReference.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                    <div class="error-block" ng-show="subjectWizardForm.externalReference.$error.subjectId">
                        <span translate="passApp.subject.validation.externalReference.duplicate">Subject ID already in use for the selected study</span>
                    </div>
                </div>
                <div ng-show="subjectWizardForm.externalReference.$pending">
                    <div class="help-block">
                        <span translate="passApp.subject.validation.externalReference.pending">Checking subject ID availability...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="passApp.subject.firstName" for="field_firstName">First Name</label>
            <div class="control-container">
                <input type="text" class="form-control" name="firstName" id="field_firstName"
                       maxlength="25"
                       ng-model="vm.subject.firstName"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="passApp.subject.lastName" for="field_lastName">Last Name</label>
            <div class="control-container">
                <input type="text" class="form-control" name="lastName" id="field_lastName"
                       maxlength="25"
                       ng-model="vm.subject.lastName"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.gender">Gender</label>
            <div class="control-container">
                <div class="radio-btn-group">
                    <div class="control-radio">
                        <input type="radio" name="gender" ng-model="vm.subject.gender" ng-required="!vm.subject.gender" value="MALE">
                        <label translate="passApp.Gender.MALE">M</label>
                    </div>
                    <div class="control-radio">
                        <input type="radio" name="gender" ng-model="vm.subject.gender" ng-required="!vm.subject.gender" value="FEMALE">
                        <label translate="passApp.Gender.FEMALE">F</label>
                    </div>
                </div>
                <div ng-show="subjectWizardForm.gender.$invalid && subjectWizardForm.gender.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.gender.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
            <div class="control-container">
                <div class="input-group">
                    <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth"
                           onkeydown="if (event.keyCode === 8) event.preventDefault()"
                           ng-click="vm.openCalendar('dateOfBirth')"
                           uib-datepicker-popup="{{vm.dateOfBirthPicker.format}}"
                           is-open="vm.datePickerOpenStatus.dateOfBirth"
                           on-open-focus="false"
                           show-button-bar="false"
                           datepicker-options="vm.dateOfBirthPicker.dateOptions"
                           ng-model="vm.subject.dateOfBirth"
                           placeholder="dd/mm/yyyy"
                           required
                           readonly
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn pr-btn pr-btn-default pr-btn-muted-alt" ng-click="vm.openCalendar('dateOfBirth')"><span class="pr-icon pr-icon-calendar"></span></button>
                    </span>
                </div>
                <div ng-show="subjectWizardForm.dateOfBirth.$invalid && subjectWizardForm.dateOfBirth.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.dateOfBirth.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                    <div class="error-block" ng-show="subjectWizardForm.dateOfBirth.$error.date">
                        <span translate="entity.validation.date">Invalid date. Please use format dd/mm/yyyy.</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button class="btn pr-btn pr-btn-alt" ui-sref="subject.new.demographics"
           ng-click="vm.validateProceed($event, subjectWizardForm);"
           ng-disabled="subjectWizardForm.$invalid">
            <span translate="entity.navigation.next">Next</span>&nbsp;&gt;
        </button>
    </div>
</footer>

