<div class="pr-tabs-justified">
    <ul class="nav nav-tabs nav-justified">
        <li ng-class="{ 'active': vm.activeTab === 'identity' }">
            <button type="button" class="btn pr-btn" ng-click="vm.selectTab('identity')" blur>
                <span>Identity</span>
            </button>
        </li>
        <li ng-class="{ 'active': vm.activeTab === 'demographics' }">
            <button type="button" class="btn pr-btn" ng-click="vm.selectTab('demographics')" blur>
                <span>Demographics</span>
            </button>
        </li>
        <li ng-class="{ 'active': vm.activeTab === 'hstats' }">
            <button type="button" class="btn pr-btn" ng-click="vm.selectTab('hstats')" blur>
                <span>Attributes</span>
            </button>
        </li>
    </ul>
    <div class="tab-content" ng-show="vm.activeTab !== null" style="padding-bottom: 5px;">
        <div class="tab-pane" ng-class="{ 'active': vm.activeTab === 'identity' }">
            <div class="row">
                <div class="col-sm-5">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.firstName">First name</dt>
                        <dd>{{vm.subject.firstName | default:'global.notAvailable'}}</dd>
                        <dt translate="passApp.subject.lastName">Last name</dt>
                        <dd>{{vm.subject.lastName | default:'global.notAvailable'}}</dd>
                        <dt translate="passApp.subject.dateOfBirth">Date of Birth</dt>
                        <dd>{{vm.subject.dateOfBirth | date:'mediumDate'}}</dd>
                        <dt translate="passApp.subject.gender">Gender</dt>
                        <dd translate="{{'passApp.Gender.' + vm.subject.gender}}">{{vm.subject.gender}}</dd>
                    </dl>
                </div>

                <div class="col-sm-5">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.externalReference">Subject ID</dt>
                        <dd>{{vm.subject.externalReference | default:'global.notAvailable'}}</dd>
                        <dt translate="passApp.subject.study">Study</dt>
                        <dd>{{vm.subject.studyName | default:'global.notAvailable'}}</dd>
                        <dt translate="passApp.subject.siteId">Site ID</dt>
                        <dd>{{vm.subject.siteReference | default:'global.notAvailable'}}</dd>
                    </dl>
                </div>
                <div class="col-sm-2 text-right" style="display: block;" >
                    <button type="button"
                            class="btn pr-btn pr-btn-primary"
                            ng-disabled="vm.subjectConfigStatus === true"
                            ng-click="vm.identityStateChange()">
                        <span class="pr-icon pr-icon-edit"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                    <dd translate="passApp.subject.validation.identityMessage"
                        ng-show="vm.subjectConfigStatus === true"
                        style="font-weight: bold;color: #f99778;margin-bottom: 0px;">
                        {{vm.messageToDisplay}}</dd>
            </div>
        </div>
        <div class="tab-pane" ng-class="{ 'active': vm.activeTab === 'demographics' }">
            <div class="row">
                <div class="col-sm-5">
                    <dl class="pr-key-value-pairs">
                        <dt translate="global.form.street">Street Address</dt>
                        <dd>{{vm.subject.streetAddress | default:'global.notAvailable'}}</dd>
                        <dt translate="global.form.city">City</dt>
                        <dd>{{vm.subject.city | default:'global.notAvailable'}}</dd>
                        <dt translate="global.form.zipCode">Zip Code</dt>
                        <dd>{{vm.subject.zipCode | default:'global.notAvailable'}}</dd>
                        <dt translate="global.form.state">State</dt>
                        <dd>{{vm.subject.state | default:'global.notAvailable'}}</dd>
                        <dt translate="global.form.country">Country</dt>
                        <dd>{{vm.subject.country | country | default:'global.notAvailable'}}</dd>
                    </dl>
                </div>
                <div class="col-sm-5">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.phoneNumber">Phone Number</dt>
                        <dd>{{vm.subject.phoneNumber | default:'global.notAvailable'}}</dd>
                        <dt translate="passApp.subject.email">Email</dt>
                        <dd>{{vm.subject.email | default:'global.notAvailable'}}</dd>
                        <dt translate="passApp.subject.timezone">Timezone</dt>
                        <dd>{{vm.subject.timeZone | default:'global.notAvailable'}}</dd>
                    </dl>
                </div>
                <div class="col-sm-2 text-right" style="display: block;">
                    <button type="button" class="btn pr-btn pr-btn-primary" ui-sref="subject-edit.demographics({id: vm.subject.id})">
                        <span class="pr-icon pr-icon-edit"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-pane" ng-class="{ 'active': vm.activeTab === 'hstats' }">
            <div class="row">
                <div class="col-sm-5">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.height">Height</dt>
                        <dd>
                            <span>{{vm.subject.height}}</span>
                            <span translate="{{'passApp.HeightUnit.' + vm.subject.heightUnit}}"></span>
                        </dd>
                    </dl>
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.weight">Weight</dt>
                        <dd>
                            <span>{{vm.subject.weight}}</span>
                            <span translate="{{'passApp.WeightUnit.' + vm.subject.weightUnit}}"></span>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-5">
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.wearingPosition">Wearing Position</dt>
                        <dd>
                            <span>{{vm.subject.wearingPosition}}</span>
                            <!--<span translate="{{'passApp.wearingPosition.' + vm.subject.weightUnit}}"></span>-->
                        </dd>
                    </dl>
                    <dl class="pr-key-value-pairs">
                        <dt translate="passApp.subject.dominantHand">Dominant Hand</dt>
                        <dd>
                            <span>{{vm.subject.dominantHand}}</span>
                            <!--<span translate="{{'passApp.dominantHand.' + vm.subject.weightUnit}}"></span>-->
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2 text-right" style="display: block;">
                    <button type="button" class="btn pr-btn pr-btn-primary" ui-sref="subject-edit.hstats({id: vm.subject.id})">
                        <span class="pr-icon pr-icon-edit"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
