<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label class="control-label" translate="passApp.subject.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <div class="control-container">
                <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                       ng-maxlength=25
                       ng-model="vm.subject.phoneNumber"
                />
                <div ng-show="(subjectWizardForm.phoneNumber.$dirty || subjectWizardForm.phoneNumber.$touched) && subjectWizardForm.phoneNumber.$invalid">
                    <div class="error-block" ng-show="subjectWizardForm.phoneNumber.$error.maxlength">
                        <span translate="global.messages.validate.phonenumber.maxlength">Phone number cannot be longer than 25 characters.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="passApp.subject.email" for="field_email">Email</label>
            <div class="control-container">
                <input type="text" class="form-control" name="email" id="field_email"
                       maxlength="60" ng-pattern="PATTERNS.EMAIL"
                       ng-model="vm.subject.email"
                />
                <div ng-show="subjectWizardForm.email.$invalid && subjectWizardForm.email.$touched">
                    <div class="error-block" ng-show="subjectWizardForm.email.$error.pattern">
                        <span translate="global.messages.validate.email.invalid">Invalid email.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.street" for="field_streetAddress">Street Address</label>
            <div class="control-container">
                <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                       maxlength="25"
                       ng-model="vm.subject.streetAddress"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.city" for="field_city">City</label>
            <div class="control-container">
                <input type="text" class="form-control" name="city" id="field_city"
                       maxlength="25"
                       ng-model="vm.subject.city"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.zipCode" for="field_zipCode">ZIP Code</label>
            <div class="control-container">
                <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                       maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                       ng-model="vm.subject.zipCode"
                />
                <div ng-show="(subjectWizardForm.zipCode.$dirty || subjectWizardForm.zipCode.$touched) && subjectWizardForm.zipCode.$invalid">
                    <div class="error-block" ng-show="subjectWizardForm.zipCode.$error.pattern">
                        <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.state" for="field_state">State</label>
            <div class="control-container">
                <input type="text" class="form-control" name="state" id="field_state"
                       maxlength="25" ng-pattern="/^[A-Za-z0-9\s\.\'\-]{0,25}$/"
                       ng-model="vm.subject.state"
                />
                <div ng-show="(subjectWizardForm.state.$dirty || subjectWizardForm.state.$touched) && subjectWizardForm.state.$invalid">
                    <div class="error-block" ng-show="subjectWizardForm.state.$error.pattern">
                        <span translate="entity.validation.invalidInput.alphanumeric">Invalid input.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.country" for="field_country">Country</label>
            <div class="control-container">
                <select class="form-control" id="field_country" name="country" ng-model="vm.subject.country"
                        ng-options="key as value for (key , value) in vm.countries">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label control-label-required" translate="passApp.subject.timezone" for="field_timezone">Time Zone</label>
            <div class="control-container">
                <timezone-selector id="field_timezone" name="timezone"
                                   ng-model="vm.subject.timeZone"
                                   display-utc="true"
                                   show-local="true"
                                   set-local="true"
                                   width="100%">
            </div>
        </div>
    </fieldset>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">
        <button class="btn pr-btn pr-btn-alt" ui-sref="subject.new.identity">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button class="btn pr-btn pr-btn-alt" ui-sref="subject.new.hstats"
           ng-click="vm.validateProceed($event, subjectWizardForm);"
           ng-disabled="subjectWizardForm.$invalid">
            <span translate="entity.navigation.next">Next</span>&nbsp;&gt;
        </button>
    </div>
</footer>

