<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.subject.home.title">Subjects</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="subject.new" >
                <span translate="passApp.subject.home.createLabel">Add Subject</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
            <!--<p>Search for subject by name, subject ID, study, site ID or assigned monitor</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" blur ng-click="vm.clearSearch()">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" blur>
                    <span class="pr-icon pr-icon-search"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-right" role="button" blur ng-click="vm.toggleAdvancedSearch()">
                    <span>Advanced</span>
                    <span class="pr-icon" ng-class="advancedSearchCollapsed ? 'pr-icon-toggle-on' : 'pr-icon-toggle-off'"></span>
                </button>
            </span>
        </div>
        <div style="margin-top: 5px;">
            <div id="filter-panel" uib-collapse="advancedSearchCollapsed">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.subject.firstName">First Name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.firstName" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.subject.lastName">Last Name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.lastName" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.subject.externalReference">Subject ID</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.externalReference" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.subject.study">Study</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.study_name" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.subject.siteId">Site ID</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.site_externalReference" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.subject.monitor">Device SN</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.monitor_serialNumber" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="firstName" translate="passApp.subject.firstName">First Name</option>
                    <option value="lastName" translate="passApp.subject.lastName">Last Name</option>
                    <option value="externalReference" translate="passApp.subject.externalReference">Subject ID</option>
                    <option value="studyName" translate="passApp.subject.study">Study</option>
                    <option value="siteExternalReference" translate="passApp.subject.siteId">Site ID</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <ul class="pr-results">
        <li class="pr-result" ng-repeat="subject in vm.subjects">
            <button type="button" ng-click="vm.selectSubject(subject)">
                <h3 class="pr-result-title">
                    <span ng-show="subject.firstName || subject.lastName">{{subject.firstName}} {{subject.lastName}}</span>
                    <span ng-hide="subject.firstName || subject.lastName" style="font-style: italic">anonymous</span>
                </h3>
                <div class="row">
                    <div class="col-sm-4" style="padding-right: 0px">
                        <div>
                            <strong><span translate="passApp.subject.externalReference">Subject ID</span></strong>:
                            <span>{{subject.externalReference}}</span>
                        </div>
                        <div>
                            <strong><span translate="passApp.subject.uniqueIdentifier">Unique Identifier</span></strong>:
                            <span>{{subject.uniqueIdentifier}}</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <strong><span translate="passApp.subject.dateOfBirth">Date of Birth</span></strong>:
                            <span>{{subject.dateOfBirth | date:'mediumDate'}}</span>
                        </div>
                        <div>
                            <strong><span translate="passApp.subject.gender">Gender</span></strong>:
                            <span translate="{{'passApp.Gender.' + subject.gender}}">{{subject.gender}}</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <strong><span translate="passApp.subject.study">Study</span></strong>:
                            <span><a ng-click="vm.navigateToStudyDetails(subject.studyId)">{{subject.studyName}}</a></span>
                        </div>
                        <div ng-show="subject.siteId">
                            <strong><span translate="passApp.subject.siteId">Site ID</span></strong>:
                            <span>{{subject.siteReference}}</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div ng-show="subject.monitorSerialNumber">
                            <strong><span translate="passApp.subject.monitor">Device SN</span></strong>:
                            <span>{{subject.monitorSerialNumber}}</span>
                        </div>
                        <div ng-show="false">
                            <strong><span translate="passApp.subject.dataUpload">Data upload</span></strong>:
                            <span></span>
                        </div>
                    </div>
                </div>
            </button>
        </li>
    </ul>
</div>

<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
</div>
