
<div class="pr-wizard">
    <header class="modal-header">
        <h3 class="modal-title" id="mySubjectLabel" translate="passApp.subject.home.createLabel">Add Subject</h3>

        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="pr-wizard-steps-indicator pr-wizard-steps-3">
            <ul class="clearfix">
                <li class="pr-wizard-step"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 1}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="subject.new.identity">
                    <span class="pr-wizard-step-label">Identity</span>
                </li>
                <li class="pr-wizard-step"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 2, 'pr-wizard-step-open': vm.currentStepIndex < 2}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="subject.new.demographics">
                    <span class="pr-wizard-step-label">Demographics</span>
                </li>
                <li class="pr-wizard-step"
                    ng-class="{'pr-wizard-step-open': vm.currentStepIndex < 3}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="subject.new.hstats">
                    <span class="pr-wizard-step-label">Attributes</span>
                </li>
            </ul>
        </div>
    </header>

    <form name="subjectWizardForm" class="form form-horizontal" role="form" novalidate>

        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view="wizard" ng-init="vm.setWizardState('subject.new.identity')"></div>

    </form>

</div>
