<form id="resetForm" role="form" class="form-horizontal pr-auth-password-reset" autocomplete="off" ng-cloak>
    <div class="pr-notification-local-banner">
        <div class="alert alert-warning" ng-show="vm.errorEmailNotExists">
            <div class="alert-body">
                <span translate="reset.request.messages.notfound"><strong>E-Mail address isn't registered!</strong> Please check and try again.</span>
            </div>
        </div>
        <div class="alert alert-success" ng-show="vm.success == 'OK'">
            <div class="alert-body">
                <span translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</span>
            </div>
        </div>
    </div>
    <fieldset ng-show="!vm.success" >
        <legend>Reset your password</legend>
        <div class="form-group">
            <div ng-hide="vm.error" class="alert alert-info" style="margin-top: 10px;">
                <p translate="reset.request.messages.info">Enter the e-mail address you used to register.</p>
            </div>

            <input autofocus type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                   ng-model="vm.resetAccount.email" ng-minlength=5 ng-maxlength=100 required>
            <div ng-show="form.email.$dirty && form.email.$invalid">
                <div class="error-block" ng-show="form.email.$error.required">
                    <span translate="global.messages.validate.email.required">Your e-mail is required.</span>
                </div>
                <div class="error-block" ng-show="form.email.$error.email">
                    <span translate="global.messages.validate.email.invalid">Your e-mail is invalid.</span>
                </div>
                <div class="error-block" ng-show="form.email.$error.minlength">
                    <span translate="global.messages.validate.email.minlength">Your e-mail is required to be at least 5 characters.</span>
                </div>
                <div class="error-block" ng-show="form.email.$error.maxlength">
                    <span translate="global.messages.validate.email.maxlength">Your e-mail cannot be longer than 100 characters.</span>
                </div>
            </div>

            <div ng-show="vm.error" class="alert alert-danger" style="margin-top: 10px;">
                <p translate="reset.request.messages.error">Your password couldn't be reset.</p>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="pr-btn pr-btn-alt" ng-click="vm.clear()">
                <span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" ng-disabled="form.$invalid" class="pr-btn pr-btn-submit" ng-click="vm.requestReset()">
                <span translate="reset.request.form.button">Reset</span>
            </button>
        </div>
    </fieldset>
</form>
