<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.popNumber.home.title">POP numbers</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="pop-number.new" >
                <span translate="passApp.popNumber.home.createLabel">Add POP number</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
        <!--<p>Search for study by ...</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" onfocus="blur()"
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" onfocus="blur()">
                    <span class="pr-icon pr-icon-search"></span>
                </button>
            </span>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="number" translate="passApp.popNumber.number">Number</option>
                    <option value="createDate" translate="passApp.popNumber.createDate">Create Date</option>
                    <option value="user" translate="passApp.popNumber.user">User</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="passApp.popNumber.number">Number</span></th>
                    <th><span translate="passApp.popNumber.createDate">Create Date</span></th>
                    <th><span translate="passApp.popNumber.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="popNumber in vm.popNumbers track by popNumber.id">
                    <td><a ui-sref="pop-number-detail({id:popNumber.id})">{{popNumber.number | popnumber}}</a></td>
                    <td>{{popNumber.createDate | date }}</td>
                    <td>{{popNumber.user}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ng-show="!popNumber.user"
                                    ui-sref="pop-number.delete({id:popNumber.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>
