<div class="pr-wizard">
    <form name="editForm" class="form-horizontal" role="form" novalidate>

        <header class="modal-header">
            <h3 class="modal-title" translate="passApp.popNumber.home.createLabel">Add POP number</h3>
        </header>
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" translate="passApp.popNumber.number">Number</label>
                    <div class="control-container">
                        <div class="input-group">
                            <pop-number popnumber='vm.number' ng-change="vm.clearValidationMessages()"></pop-number>
                            <span class="input-group-btn">
                            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.addNumber()"
                                    ng-disabled="vm.isValidating">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span translate="entity.action.add">Add</span>
                            </button>
                        </span>
                        </div>
                        <div ng-repeat="validationMessage in vm.validationMessages">
                            <div class="error-block">
                                <span translate="{{validationMessage}}">{{validationMessage}}</span>
                            </div>
                        </div>
                        <div ng-repeat="number in vm.numbers" class="form-control-static row">
                            <div class="col-md-1">
                                <a ng-click="vm.removeNumber('{{number}}')"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                            <div class="col-md-8">
                                {{number | popnumber}}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="passApp.popNumber.numberFile" for="field_upload">POP Number text file</label>
                    <div class="control-container">
                        <file-field id="field_upload" class="btn pr-btn pr-btn-alt" ng-model="vm.file" blur >Select File ...</file-field> <span style="margin-left: 10px;">{{vm.file.name}}</span>
                        <div class="error-block" ng-show="vm.fileValidationError.message" style="margin-top: 10px; margin-bottom: 0">
                            <span translate="{{vm.fileValidationError.message}}"></span>
                            <ul>
                                <li ng-repeat="number in vm.fileValidationError.numbers">{{number.number}}:<br/><span translate="{{number.error}}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" class="btn pr-btn pr-btn-primary" ng-click="vm.save()"
                        ng-disabled="isSaving || (vm.numbers.length == 0 && !vm.file)">
                    <span translate="entity.action.save">Save</span>
                </button>
            </div>
        </footer>
    </form>
</div>
