
<div>
    <h2><span translate="passApp.popNumber.detail.title">POP number</span>: {{vm.popNumber.number | popnumber}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="passApp.popNumber.number">Number</span></dt>
        <dd>
            <span>{{vm.popNumber.number | popnumber}}</span>
        </dd>
        <dt><span translate="passApp.popNumber.createDate">Create Date</span></dt>
        <dd>
            <span>{{vm.popNumber.createDate | date}}</span>
        </dd>
        <dt><span translate="passApp.popNumber.user">User</span></dt>
        <dd>
            <span>{{vm.popNumber.user}}</span>
        </dd>
    </dl>

    <hr/>
    <button type="submit"
            onclick="window.history.back()"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
