<div>
    <h2><span translate="userManagement.detail.title">User</span> "{{vm.user.login}}"</h2>
    <div ng-show="vm.user.locked" class="alert alert-warning">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        <span>This user is locked</span>
    </div>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="userManagement.login">Login</span></dt>
        <dd><span>{{vm.user.login}}</span></dd>
        <dt><span translate="userManagement.firstName">First Name</span></dt>
        <dd>{{vm.user.firstName}}</dd>
        <dt><span translate="userManagement.lastName">Last Name</span></dt>
        <dd>{{vm.user.lastName}}</dd>
        <dt><span translate="userManagement.email">Email</span></dt>
        <dd>{{vm.user.email}}</dd>
        <dt><span translate="userManagement.validated">Validated</span></dt>
        <dd>{{vm.user.activated}}</dd>
        <!--<dt><span translate="userManagement.langKey">Lang Key</span></dt>-->
        <!--<dd>{{vm.user.langKey}}</dd>-->
        <dt><span translate="userManagement.roles">Roles</span></dt>
        <dd>
            <div ng-repeat="authority in vm.user.authorities | filter:'!ROLE_USER'">
                <span class="label label-info" translate="{{'Authority.' + authority}}">{{ authority }}</span>
            </div>
            <div ng-repeat="membership in vm.user.memberships">
                <div ng-repeat="accessLevel in vm.accessLevels" ng-if="!vm.currentCompany || membership.company.id === vm.currentCompany.id">
                            <span class="label" ng-class="{'label-info': vm.user.activated && !vm.user.locked && membership.enabled, 'label-default': !vm.user.activated || vm.user.locked || !membership.enabled}"
                                  uib-tooltip="{{vm.getAccessLevelTooltip(membership, accessLevel)}}"
                                  translate="{{'Authority.' + accessLevel.accessLevel}}">{{ accessLevel.accessLevel }}</span>
                </div>
            </div>
            <!--<div ng-show="vm.currentCompany" ng-repeat="membership in vm.user.memberships | filter: {company: {id: vm.currentCompany.id}}">-->
                <!--<div ng-repeat="accessLevel in membership.accessLevels">-->
                            <!--<span class="label label-info" uib-tooltip="{{vm.getAccessLevelTooltip(membership, accessLevel)}}"-->
                                  <!--translate="{{'Authority.' + accessLevel.accessLevel}}">{{ accessLevel.accessLevel }}</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div ng-hide="vm.currentCompany" ng-repeat="membership in vm.user.memberships">-->
                <!--<div ng-repeat="accessLevel in membership.accessLevels">-->
                            <!--<span class="label label-info" uib-tooltip="{{vm.getAccessLevelTooltip(membership, accessLevel)}}"-->
                                  <!--translate="{{'Authority.' + accessLevel.accessLevel}}">{{ accessLevel.accessLevel }}</span>-->
                <!--</div>-->
            <!--</div>-->
        </dd>
    </dl>
    <div style="width: 100%; text-align: right">
        <button type="button" ng-disabled="!vm.currentCompany"
                ui-sref="user-management-detail.edit({login:vm.user.login})"
                class="btn pr-btn pr-btn-primary">
            <span translate="entity.action.edit">Edit</span>
        </button>
        <button type="submit" ng-disabled="vm.currentAccount.login==vm.user.login || !vm.currentCompany"
                ui-sref="user-management-detail.delete({login:vm.user.login})"
                class="btn pr-btn pr-btn-alt">
            <span translate="entity.action.delete">Delete</span>
        </button>
    </div>

    <h4>Date log</h4>
    <hr />
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="userManagement.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.user.createdDate | date:'medium'}} (by {{vm.user.createdBy}})</span>
        </dd>
        <dt><span translate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{vm.user.lastModifiedDate | date:'medium'}} (by {{vm.user.lastModifiedBy}})</span>
        </dd>
        <dt><span translate="userManagement.passwordChangedDate">Password changed date</span></dt>
        <dd>
            <span>{{vm.user.passwordChanged | date:'medium'}}</span>
        </dd>
    </dl>

    <hr/>
    <button type="submit"
            ui-sref="user-management"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
