<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" autocomplete="off">
    <header class="modal-header">
        <h3 class="modal-title" translate="userManagement.home.createOrEditLabel">
            Create or edit a User</h3>
    </header>
    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="pr-notification-local-banner">
            <div class="alert alert-warning" ng-show="vm.userNotAllowed">
                <div class="alert-body">
                    <span>This user can not be assigned to your company</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" ng-class="{'control-label-required': vm.user.id === null}"
                   translate="userManagement.email">E-mail</label>
            <div class="control-container" ng-show="vm.user.id === null">
                <input type="text" class="form-control" id="email" name="email"
                       maxlength="60"
                       ng-pattern="/^(?=[A-Za-z0-9@._%+-]{5,60}$)[A-Za-z0-9._%+-]{1,20}@(?:(?=[A-Za-z0-9-]{1,20}\.)[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*\.){1,8}[A-Za-z0-9]{2,20}$/"
                       ng-model="vm.user.email" ng-minlength=5 ng-maxlength=60
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                       ng-required="vm.user.id === null">

                <div ng-show="(editForm.email.$touched || editForm.email.$dirty) && editForm.email.$invalid">
                    <div class="error-block" ng-show="editForm.firstName.$error.maxlength">
                        <span translate="entity.validation.maxlength" translate-value-max="50">This field cannot be longer than 50 characters.</span>
                    </div>
                    <div class="error-block" ng-show="editForm.email.$error.required">
                        <span translate="entity.validation.required">This field is required.</span>
                    </div>
                    <div class="error-block" ng-show="editForm.email.$error.pattern">
                        <span translate="global.messages.validate.email.invalid">E-mail is invalid.</span>
                    </div>
                    <div class="error-block" ng-show="editForm.email.$error.minlength">
                        <span translate="global.messages.validate.email.minlength">E-mail is required to be at least 5 characters.</span>
                    </div>
                    <div class="error-block" ng-show="editForm.email.$error.maxlength">
                        <span translate="global.messages.validate.email.maxlength">E-mail cannot be longer than 60 characters.</span>
                    </div>
                </div>
            </div>
            <div class="control-container" ng-hide="vm.user.id === null">
                <p class="form-control-static">{{vm.user.email}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.firstName">First Name</label>
            <div class="control-container">
                <input type="text" class="form-control" name="firstName"
                       ng-model="vm.user.firstName" maxlength="50" ng-maxlength="50">

                <div
                    ng-show="(editForm.firstName.$touched || editForm.firstName.$dirty) && editForm.firstName.$invalid">
                    <div class="error-block" ng-show="editForm.firstName.$error.maxlength">
                        <span translate="entity.validation.maxlength" translate-value-max="50">This field cannot be longer than 50 characters.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.lastName">Last Name</label>
            <div class="control-container">
                <input type="text" class="form-control" name="lastName"
                       ng-model="vm.user.lastName" maxlength="50" ng-maxlength="50">

                <div ng-show="(editForm.lastName.$touched || editForm.lastName.$dirty) && editForm.lastName.$invalid">
                    <div class="error-block" ng-show="editForm.lastName.$error.maxlength">
                        <span translate="entity.validation.maxlength" translate-value-max="50">This field cannot be longer than 50 characters.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label control-label-required" translate="userManagement.roles">Roles</label>
            <div class="control-container">
                <div>
                    <label><input type="checkbox"
                                  ng-disabled="vm.isChecked('ACL_SITECOORD')||vm.isChecked('ACL_COMPADMIN')"
                                  checklist-model="vm.accesslevels" value="ACL_COMPADMIN"> <span
                        translate="Authority.ACL_COMPADMIN">Company Administrator</span></label>
                </div>
                <div>
                    <label><input type="checkbox" ng-disabled="vm.isChecked('ACL_SITECOORD')"
                                  checklist-model="vm.accesslevels" value="ACL_CLINICIAN"> <span
                        translate="Authority.ACL_CLINICIAN">Clinician</span></label>
                </div>
                <div>
                    <label><input type="checkbox"
                                  ng-disabled="vm.isChecked('ACL_CLINICIAN') || vm.isChecked('ACL_COMPADMIN')"
                                  ng-click="vm.toggleSiteCoord()"
                                  checklist-model="vm.accesslevels" value="ACL_SITECOORD"> <span>Site Coordinator</span></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"
                   translate="userManagement.study">Study</label>
            <div class="control-container" style="padding-left: 20px">
                <select class="form-control" id="field_study" name="study"
                        ng-disabled="!vm.isChecked('ACL_SITECOORD')"
                        ng-model="vm.sitecoord.study"
                        ng-options="study as study.name for study in vm.studies | orderBy:'name'"
                        ng-change="vm.studyChanged()" ng-required="vm.isChecked('ACL_SITECOORD')">
                    <option value="">- Select study -</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.assignedSites">Assigned Sites</label>
            <div class="control-container" style="padding-left: 20px;margin-top: 5px;">
                <div class="input-group" style="width: 400px">
                    <!--ng-model="vm.checkedSites" ng-options="site as site for site in vm.selectedSites"-->
                    <!--ng-disabled="!vm.isChecked('ACL_SITECOORD') || !vm.sitecoord.study"-->
                    <!--<textarea class="form-control" id="field_site" name="site"
                            ng-model = "vm.selectedSites"
                            ng-disabled = true >
                    </textarea>-->
                    <select class="form-control" id="field_site" name="site"
                            ng-disabled="!vm.isChecked('ACL_SITECOORD') || !vm.sitecoord.study"
                            ng-model="vm.checkedSites" ng-options="site as site for site in vm.preSelectedSites"
                            ng-required="vm.isChecked('ACL_SITECOORD')" multiple=""
                            ng-click="vm.openSiteSelection()">
                    </select>
<!--                    <div class="input-group-addon">
                        <button class="pr-icon pr-icon-add" ng-click="vm.openSiteSelection()"></button>
                    </div>-->
                </div>
            </div>
        </div>

            <div class="form-group">
                <label class="control-label" translate="userManagement.activated">Activated</label>
                <div class="control-container">
                    <label for="locked">
                        <input type="checkbox" id="locked" ng-model="vm.active">
                    </label>
                </div>
            </div>

            <div class="form-group" ng-show="vm.user.id !== null" style="margin-top: 20px;">
                <label class="control-label">Password age</label>
                <div class="control-container">
                    <div class="input-group" style="width: 150px">
                        <input type="text" class="form-control" name="passwordAge"
                               ng-model="vm.user.passwordAge" numbers-only>
                        <div class="input-group-addon">
                            <span>days</span>
                        </div>

                    </div>
                    (for V&V testing only)
                </div>
            </div>

        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" class="btn pr-btn pr-btn-primary"
                        ng-disabled="editForm.$invalid || vm.accesslevels === null || vm.accesslevels.length === 0 || isSaving">
                    <span translate="entity.action.save">Save</span>
                </button>
            </div>
        </footer>
</form>
