<section xmlns: class="pr-section">
    <header class="pr-section-header">
        <h2 translate="userManagement.home.title">Users</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="user-management.new"
                    ng-hide="vm.isProductSupport">
                <span translate="userManagement.home.createLabel">Add User</span>
            </button>
        </div>
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="newSearchModel" placeholder="Enter Search Term"
                   autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" blur>
                    <span class="pr-icon pr-icon-search"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-right" role="button" onfocus="blur()"
                        ng-click="vm.toggleAdvancedSearch()">
                    <span>Advanced</span>
                    <span class="pr-icon"
                          ng-class="advancedSearchCollapsed ? 'pr-icon-toggle-on' : 'pr-icon-toggle-off'"></span>
                </button>
            </span>
        </div>
        <div style="margin-top: 5px;">
            <div id="filter-panel" uib-collapse="advancedSearchCollapsed" ng-init="advancedSearchCollapsed = true">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" style='margin-bottom: 5px;'>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="userManagement.lastName">Last
                                Name</label></div>
                            <div class="col-lg-4"><input class="form-control" placeholder="Enter Last Name"
                                                         ng-model="searchModel.lastName"
                                                         ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label>Company</label></div>
                            <div class="col-lg-4"><input class="form-control" placeholder="Enter Company"
                                                         ng-model="searchModel.company"
                                                         ng-disabled="!vm.isProductSupport==true"
                                                         ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="userManagement.email">Email</label>
                            </div>
                            <div class="col-lg-4"><input class="form-control" placeholder="Enter Email"
                                                         ng-model="searchModel.email"
                                                         ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label
                                translate="userManagement.accountStatus">Account status</label></div>
                            <div class="col-lg-4">
                                <select class="form-control" ng-model="searchModel.status"
                                        ng-model-options="vm.searchModelOptions">
                                    <option value="NOT_VALIDATED" translate="userManagement.not-validated">Not
                                        validated
                                    </option>
                                    <option value="LOCKED" translate="userManagement.locked">Locked</option>
                                    <option value="ACTIVE" selected translate="userManagement.activated">Active</option>
                                    <option value="INACTIVE" translate="userManagement.inactivated">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="pr-results-options clearfix form-inline pull-right form-group form-group-sm"
                             style='margin-top: 5px; margin-bottom: 0px;'>
                            <button type="submit" class="btn pr-btn pr-btn-primary"
                                    ng-disabled="editForm.$invalid || isSaving" ng-click="vm.clearAdvSearch()">
                                <span>Clear</span>
                            </button>

                            <button type="submit" class="btn pr-btn pr-btn-primary"
                                    ng-disabled="editForm.$invalid || isSaving" ng-click="vm.advancedSearch()">
                                <span>Search</span>
                            </button>
                        </div>
                        <!--              <div class="col-lg-2" style="padding-top: 7px;"><label translate="userManagement.lastName">LastName</label></div>
                                      <div class="col-lg-4">
                                          <input class="form-control" ng-model="searchModel.lastName" ng-model-options="vm.searchModelOptions">
                                      </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right" ng-cloak>
            <div class="form-group form-group-sm" ng-cloak>
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate">
                    <option value="firstName" translate="userManagement.firstName">FirstName</option>
                    <option value="lastName" translate="userManagement.lastName">LastName</option>
                    <option value="email" translate="userManagement.email">Email</option>
                    <option ng-if="vm.isProductSupport==true" value="companies">Company</option>
                    <option value="accountStatus" translate="userManagement.accountStatus">Account Status</option>
                    <option value="authorities" translate="userManagement.roles">Roles</option>
                    <option value="createdDate" translate="userManagement.createdDate">Created Date</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false"
                        uib-btn-checkbox ng-model="vm.reverse">
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-hide="vm.reverse"
                          ng-click="vm.sort(vm.predicate, true)"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-show="vm.reverse"
                          ng-click="vm.sort(vm.predicate, false)"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <div class="table-responsive" style="max-height:500px;overflow-y:auto">
        <table class="table table-condensed table-striped">
            <thead style="background-color: #62656759">
            <tr>
                <th translate="userManagement.firstName">First Name</th>
                <th translate="userManagement.lastName">Last Name</th>
                <th translate="userManagement.email">Email</th>
                <th ng-show="vm.isProductSupport==true">Company</th>
                <th translate="userManagement.accountStatus">Account status</th>
                <th translate="userManagement.roles">Roles</th>
                <th translate="userManagement.createdDate">Created Date</th>
                <!-- <th translate="userManagement.lastModifiedDate">Last Modified Date</th>
                 <th translate="userManagement.lastModifiedBy">Last Modified By</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users | filter: newSearchModel | orderBy:vm.predicate:vm.reverse">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <div ng-if="vm.isProductSupport==false">
                        <a ui-sref="user-management-detail({login:user.email})">{{user.email}}</a>
                    </div>
                    <div ng-if="vm.isProductSupport">
                        {{user.email}}
                    </div>

                </td>
                <td ng-show="vm.isProductSupport==true">
                    <div ng-repeat="company in user.companies track by $index">
                        <span>{{ company }}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="accountStatus in user.accountStatus track by $index">
                            <span class="label label-inactive" ng-show="accountStatus === 'InActive'"
                                  translate="userManagement.inactivated"
                                  uib-tooltip="{{'userManagement.tooltips.inActive' | translate}}">Inactive</span>
                        <span class="label label-info" ng-show="accountStatus === 'Active'"
                              translate="userManagement.activated"
                              uib-tooltip="{{'userManagement.tooltips.active' | translate}}">Active</span>

                        <span class="label label-danger" ng-show="accountStatus === 'Locked'"
                              translate="userManagement.locked"
                              uib-tooltip="{{'userManagement.tooltips.locked' | translate}}">Locked</span>
                        <span class="label label-warning" ng-show="accountStatus === 'Unverified'"
                              translate="userManagement.not-validated"
                              uib-tooltip="{{'userManagement.tooltips.unverified' | translate}}">Unverified</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="role in user.authorities = (user.authorities | orderBy) track by $index" ng-if="user.authorities[$index -1] != role">
                    <!--<div ng-repeat="role in user.authorities track by $index">-->
                        <span>{{ role }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" >
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.transition()"></ul>
    </div>
</div>
