<form name="editForm" role="form" class="form-horizontal" novalidate>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.js-multiselect').multiselect({
            right: '#js_multiselect_to_1',
            rightAll: '#js_right_All_1',
            rightSelected: '#js_right_Selected_1',
            leftSelected: '#js_left_Selected_1',
            leftAll: '#js_left_All_1',
        });
    });
</script>


<div class="modal-content" style="width: 661px;">
    <header class="modal-header">
        <h3 class="modal-title">Site Assignment</h3>
    </header>
    <div class="modal-body" style="
    width: 685px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    ">
        <div class="row">
            <div class="col-xs-4" style="width: 301px; padding-left: 11px; padding-right: 0px">
                <label translate="userManagement.availableSites" style="font-weight: bolder; text-align: center">
                    <b> Available Sites </b></label>
                <select name="from[]" class="js-multiselect form-control" size="8" multiple="multiple"
                        style="width: 286px; height: 313px;">
                    <option style="width: 244px;" ng-repeat="site in vm.availableSites" value="{{site}}">
                        {{site}}
                    </option>
                </select>
            </div>
            <div class="col-xs-1">
                <br/><br/><br/>
                <button type="button" id="js_right_All_1" class="btn btn-block"><i
                    class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="js_right_Selected_1" class="btn btn-block"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="js_left_Selected_1" class="btn btn-block"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="js_left_All_1" class="btn btn-block"><i
                    class="glyphicon glyphicon-backward"></i></button>
            </div>
            <div class="col-xs-4" style="width: 322px; padding-left: 11px; padding-right: 11px">
                <label class="force-word-break" translate="userManagement.selectedSites" style="font-weight: bolder;"><b>Selected Sites</b></label>
                <select name="to[]" id="js_multiselect_to_1" class="form-control" size="8" multiple="multiple" ng-model="selectedSites"
                        style="width: 286px; height: 178px;">
                </select>
                <label class="force-word-break" translate="userManagement.assignedSites" style="font-weight: bolder;"><b>Assigned Sites</b></label>
                <select id="preSelected1" class="form-control" size="8" multiple="multiple" disabled="disabled"
                        style="width: 286px; height: 113px;">
                    <option style="color: green; width: 244px;" ng-repeat="site in vm.addedSites" value="{{site}}">
                        {{site}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <footer class="modal-footer" style="
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    ">
        <div class="form-actions">
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.cancel()">
                <span translate="entity.action.cancel">Close</span>
            </button>
            <button type="submit" class="btn pr-btn pr-btn-primary" ng-click="vm.saveSelection()">
                <span translate="entity.action.save">Save</span>
            </button>
        </div>
    </footer>
</div>
</form>
