<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.site.home.title">Sites</h2>
        <div class="btn-group">
            <button blur class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="site.new">
                <span translate="passApp.site.home.createLabel">Add Site</span>
            </button>
        </div>
        <div class="pr-section-header-body" ng-show="vm.study">
            <p>Sites for study {{vm.study.name}}</p>
        </div>
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" blur
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" blur>
                    <span class="pr-icon pr-icon-search"></span>
                </button>
                 <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-right" role="button" onfocus="blur()" ng-click="vm.toggleAdvancedSearch()">
                    <span>Advanced</span>
                    <span class="pr-icon" ng-class="advancedSearchCollapsed ? 'pr-icon-toggle-on' : 'pr-icon-toggle-off'"></span>
                </button>
           </span>
        </div>
        <div style="margin-top: 5px;">
            <div id="filter-panel" uib-collapse="advancedSearchCollapsed" ng-init="advancedSearchCollapsed = true">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.site.externalReference">Site ID</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.externalReference" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label>Site coordinator name</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.coordinator_name" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label>Site coordinator email</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.coordinator_email" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="form-group form-group-sm pull-left">
            <label>Action</label>:
            <button type="button" class="btn pr-btn pr-btn-default" ng-disabled="vm.selectedSites.length == 0" ng-click="vm.delete()">
                <span translate="entity.action.delete">Delete</span>
            </button>
        </div>
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="externalReference" translate="passApp.site.externalReference">Site ID</option>
                    <option value="createdDate" translate="passApp.site.dateCreated">Date Created</option>
                    <option value="createdBy" translate="passApp.site.createdBy">Created By</option>
                    <option value="lastModifiedDate" translate="passApp.site.dateLastModified">Date Last Modified</option>
                    <option value="lastModifiedBy" translate="passApp.site.modifiedBy">Modified By</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <ul class="pr-results">
        <li class="pr-result" ng-repeat="site in vm.sites track by $index">
            <label class="pr-checkbox pr-checkbox-checkbox"
                   ng-class="{'pr-checkbox-on': site.selected, 'pr-checkbox-off': !site.selected}"
                   ng-hide="site.numberOfSubjects"
                   ng-model="site.selected"
                   ng-click="vm.toggleSiteSelection(site)"
                   blur style="float:left;margin-right: 10px;position: absolute; margin-top: 15px; margin-left: 15px;">
                <span class="pr-checkbox-check"></span>
            </label>
            <button type="button" ng-click="vm.selectSite(site)">
                <h3 class="pr-result-title" style="margin-left: 30px;">
                    <span>{{site.externalReference}}</span>
                </h3>
                <div class="row" style="padding-left: 30px;">
                    <div class="col-sm-3">
                        <div ng-repeat="coordinator in site.coordinators">
                            <div>
                                <strong><span>Site coordinator</span></strong>:
                                <span>{{coordinator.firstName}} {{coordinator.lastName}}</span>
                            </div>
                            <div>
                                <strong><span>Email</span></strong>:
                                <span>{{coordinator.email}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <strong><span translate="passApp.site.numberOfSubjects">Number of subjects</span></strong>:
                            <span>{{site.numberOfSubjects}}</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <strong><span translate="passApp.site.dateCreated">Date Created</span></strong>:
                            <span>{{site.createdDate | date:'mediumDate'}}</span>
                        </div>
                        <div>
                            <strong><span translate="passApp.site.createdBy">Created By</span></strong>:
                            <span>{{site.createdBy}}</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <strong><span translate="passApp.site.dateLastModified">Date Last Modified</span></strong>:
                            <span>{{site.lastModifiedDate | date:'mediumDate'}}</span>
                        </div>
                        <div>
                            <strong><span translate="passApp.site.modifiedBy">Modified By</span></strong>:
                            <span>{{site.lastModifiedBy}}</span>
                        </div>
                    </div>
                </div>
            </button>
        </li>
    </ul>
</div>

<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
</div>

<hr />
<button type="submit"
        ui-sref="study-detail({id:vm.study.id})"
        class="btn pr-btn pr-btn-alt">
    <span translate="entity.action.back">Back</span>
</button>
