<header class="modal-header">
    <h3 class="modal-title" translate="passApp.site.delete.title">Confirm remove operation</h3>
</header>
<div class="modal-body">
    <p>Are you sure you want to delete the selected site(s)?</p>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.cancel()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn pr-btn pr-btn-primary" ng-click="vm.ok()">
            <span translate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</footer>
