<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.site.subject.title">Subjects and Site</h2>
        <!--<div class="btn-group">-->
            <!--<button blur class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="site.new" ng-disabled="true">-->
                <!--<span translate="passApp.site.home.createLabel">Add Site</span>-->
            <!--</button>-->
        <!--</div>-->
        <div class="pr-section-header-body" ng-show="vm.site">
            <p>Subjects for site {{vm.site.externalReference}} (study: {{vm.site.studyName}})</p>
        </div>
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" blur
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" blur>
                    <span class="pr-icon pr-icon-search"></span>
                </button>
            </span>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="externalReference" translate="passApp.subject.externalReference">Subject ID</option>
                    <option value="firstName" translate="passApp.subject.firstName">First name</option>
                    <option value="lastName" translate="passApp.subject.lastName">Last name</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="passApp.subject.externalReference">Subject ID</span></th>
                <th><span translate="passApp.subject.firstName">First name</span></th>
                <th><span translate="passApp.subject.lastName">Last name</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="subject in vm.subjects track by subject.id">
                <td>{{subject.externalReference}}</td>
                <td>{{subject.firstName}}</td>
                <td>{{subject.lastName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>

<hr />
<button type="submit"
        ui-sref="site({studyId:vm.site.studyId})"
        class="btn pr-btn pr-btn-alt">
    <span translate="entity.action.back">Back</span>
</button>
