
<div class="pr-wizard">
    <form name="editForm" role="form" class="form-horizontal" novalidate>

        <header class="modal-header">
            <h3 class="modal-title" translate="passApp.site.home.createLabel">Add Site</h3>
        </header>
        <div class="modal-body">
            <!--<jhi-alert-error></jhi-alert-error>-->
            <div class="form-group">
                <label class="control-label control-label-required">Study</label>
                <div class="control-container">
                    <p class="form-control-static">{{vm.study.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.site.externalReference" for="field_externalReference">Site ID</label>
                <div class="control-container">
                    <div class="input-group">
                        <input type="text" class="form-control" name="externalReference" id="field_externalReference"
                               maxlength="25"
                               capitalize
                               ng-change="vm.clearValidationMessages()"
                               ng-model="vm.siteReference"
                        />
                        <span class="input-group-btn">
                            <button type="button" id="btnAddSite" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-disabled="!vm.siteReference" ng-click="vm.addSiteReference()"
                                    ng-disabled="vm.isValidating">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span translate="entity.action.add">Add</span>
                            </button>
                        </span>
                    </div>
                    <div ng-repeat="validationMessage in vm.validationMessages">
                        <div class="error-block">
                            <span translate="{{validationMessage}}">{{validationMessage}}</span>
                        </div>
                    </div>
                    <div ng-repeat="siteReference in vm.siteReferences" class="form-control-static row">
                        <div class="col-md-1">
                            <a ng-click="vm.removeSiteReference('{{siteReference}}')"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <div class="col-md-6">
                            {{siteReference}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.site.externalReferenceFile" for="field_upload">Site ID text file</label>
                <div class="control-container">
                    <file-field id="field_upload" class="btn pr-btn pr-btn-alt" ng-model="vm.file" onfocus="blur();" >Select File ...</file-field> <span style="margin-left: 10px;">{{vm.file.name}}</span>
                    <div class="error-block" ng-show="vm.fileValidationError.message" style="margin-top: 10px; margin-bottom: 0">
                        <span translate="{{vm.fileValidationError.message}}"></span>
                        <ul>
                            <li ng-repeat="siteReference in vm.fileValidationError.siteReferences">{{siteReference.reference}}: <span translate="{{siteReference.error}}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" class="btn pr-btn pr-btn-primary" ng-click="vm.save()"
                        ng-disabled="editForm.$invalid || isSaving || !vm.study || (vm.siteReferences.length == 0 && !vm.file)">
                    <span translate="entity.action.save">Save</span>
                </button>
            </div>
        </footer>
    </form>
</div>

<script>
    $(document).ready(function(){
        $('#field_externalReference').keypress(function(e){
            if(e.keyCode==13 && !$('#btnAddSite').is(':disabled'))
                $('#btnAddSite').click();
        });
    });
</script>
