
<div class="pr-wizard">
    <form name="editForm" role="form" class="form-horizontal" novalidate>

        <header class="modal-header">
            <h3 class="modal-title" id="myMonitorLabel" translate="passApp.monitor.home.createLabel">Create or edit a Monitor</h3>
        </header>
        <div class="modal-body">
            <!--<jhi-alert-error></jhi-alert-error>-->
            <div class="form-group">
                <label class="control-label control-label-required" translate="passApp.monitor.type" for="field_type">Device Type</label>
                <div class="control-container">
                    <select class="form-control" name="type" ng-model="vm.monitorType" id="field_type" required>
                        <option value="PHb" translate="passApp.MonitorType.PHb" selected="selected">PHb</option>
                    </select>
                    <div ng-show="(editForm.type.$touched || editForm.type.$dirty) && editForm.type.$invalid">
                        <div class="error-block" ng-show="editForm.type.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitor.serialNumber" for="field_serialNumber">Serial Number</label>
                <div class="control-container">
                    <div class="input-group">
                        <input type="text" class="form-control" name="serialNumber" id="field_serialNumber"
                               maxlength="32"
                               ng-disabled="!vm.monitorType"
                               ng-change="vm.clearValidationMessages()"
                               ng-model="vm.serialNumber"
                        />
                        <span class="input-group-btn">
                            <button type="button" id="btnAddSerialNumber" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-disabled="!vm.serialNumber" ng-click="vm.addSerialNumber()"
                                    ng-disabled="!vm.monitorType || vm.isValidating">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span translate="entity.action.add">Add</span>
                            </button>
                        </span>
                    </div>
                    <div ng-repeat="validationMessage in vm.validationMessages">
                        <div class="error-block">
                            <span translate="{{validationMessage}}">{{validationMessage}}</span>
                        </div>
                    </div>
                    <div ng-repeat="serialNumber in vm.serialNumbers" class="form-control-static row">
                        <div class="col-md-1">
                            <a ng-click="vm.removeSerialNumber('{{serialNumber}}')"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <div class="col-md-6">
                            {{serialNumber}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate="passApp.monitor.serialNumberFile" for="field_upload">Serial Number text file</label>
                <div class="control-container">
                    <file-field id="field_upload" class="btn pr-btn pr-btn-alt" ng-model="vm.file" onfocus="blur();" ng-change="vm.fileTypeCheck()">Select File ...</file-field> <span style="margin-left: 10px;">{{vm.file.name}}</span>
                    <div ng-repeat="validationMessage in vm.fileTypeValidationMessages">
                        <div class="error-block">
                            <span translate="{{validationMessage}}">{{validationMessage}}</span>
                        </div>
                    </div>
                    <div class="error-block" ng-show="vm.fileValidationError.message" style="margin-top: 10px; margin-bottom: 0">
                        <span translate="{{vm.fileValidationError.message}}"></span>
                        <ul>
                            <li ng-repeat="serialNumber in vm.fileValidationError.serialNumbers">{{serialNumber.serialNumber}}: <span translate="{{serialNumber.error}}"></span></li>
                        </ul>
                        <span translate="{{vm.messageForUser.message}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <footer class="modal-footer">
            <div class="form-actions-left">

            </div>
            <div class="form-actions">
                <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                    <span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" class="btn pr-btn pr-btn-primary" ng-click="vm.save()"
                        ng-disabled="editForm.$invalid || !vm.isSaving || (vm.serialNumbers.length == 0 && !vm.file)">
                    <span translate="entity.action.save">Save</span>
                </button>
            </div>
        </footer>
    </form>
</div>

<script>
    $(document).ready(function(){
        $('#field_serialNumber').keypress(function(e){
            if(e.keyCode==13 && !$('#btnAddSerialNumber').is(':disabled'))
                $('#btnAddSerialNumber').click();
        });
    });
</script>
