<form name="deleteForm" ng-submit="vm.confirmRemove(vm.monitor)">
    <header class="modal-header">
        <h3 class="modal-title" translate="passApp.monitor.delete.title">Confirm remove operation</h3>
    </header>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p translate="passApp.monitor.delete.question" translate-values="{id: '{{vm.monitor.serialNumber}}'}">Are you sure you want to delete this Monitor?</p>
    </div>
    <footer class="modal-footer">
        <div class="form-actions-left">

        </div>
        <div class="form-actions">
            <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
                <span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" class="btn pr-btn pr-btn-primary">
                <span translate="entity.action.confirm">Confirm</span>
            </button>
        </div>
    </footer>
</form>
