<section class="pr-section">
    <header class="pr-section-header">
        <h2 translate="passApp.monitor.home.title">Devices</h2>
        <div class="btn-group">
            <button onfocus="blur()" class="btn pr-btn pr-btn-alt has-label icon-left" ui-sref="monitor.new" >
                <span translate="passApp.monitor.home.createLabel">Add Device</span>
            </button>
        </div>
        <!--<div class="pr-section-header-body">-->
            <!--<p>Search for monitor by ...</p>-->
        <!--</div>-->
    </header>
    <jhi-alert></jhi-alert>
    <div class="pr-search" role="search">
        <div class="search-term-input-group">
            <input class="form-control search-term" ng-model="searchModel.$" ng-model-options="vm.searchModelOptions" placeholder="Enter Search Term" autocomplete="off">
            <span class="search-term-input-group-btn">
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left pr-search-btn-reset" role="button" onfocus="blur()"
                        ng-if="false">
                    <span class="pr-icon pr-icon-close"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-left" role="button" onfocus="blur()">
                    <span class="pr-icon pr-icon-search"></span>
                </button>
                <button class="btn pr-btn pr-btn-link pr-btn-alt has-icon icon-right" role="button" onfocus="blur()" ng-click="vm.toggleAdvancedSearch()">
                    <span>Advanced</span>
                    <span class="pr-icon" ng-class="advancedSearchCollapsed ? 'pr-icon-toggle-on' : 'pr-icon-toggle-off'"></span>
                </button>
            </span>
        </div>
        <div style="margin-top: 5px;">
            <div id="filter-panel" uib-collapse="advancedSearchCollapsed" ng-init="advancedSearchCollapsed = true">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitor.serialNumber">Serial Number</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.serialNumber" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitor.type">Device Type</label></div>
                            <div class="col-lg-4">
                                <select class="form-control" ng-model="searchModel.type">
                                    <option value="" ></option>
                                    <option value="PHb" translate="passApp.MonitorType.PHb" selected>PHb</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitor.assignedSubject">Subject</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.assignedSubject_name" ng-model-options="vm.searchModelOptions"></div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitor.study">Study</label></div>
                            <div class="col-lg-4"><input class="form-control" ng-model="searchModel.study_name" ng-model-options="vm.searchModelOptions"></div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.study.studyStatus">Study Status</label></div>
                            <div class="col-lg-4">
                                <select class="form-control" ng-model="searchModel.study_status">
                                    <option value="ALL" translate="passApp.StudyStatus.ALL">All</option>
                                    <option value="ACTIVE" translate="passApp.StudyStatus.ACTIVE" selected>ACTIVE</option>
                                    <option value="INACTIVE" translate="passApp.StudyStatus.INACTIVE">INACTIVE</option>
                                </select>
                            </div>
                            <div class="col-lg-2" style="padding-top: 7px;"><label translate="passApp.monitor.monitorStatus">Device Status</label></div>
                            <div class="col-lg-4">
                                <select class="form-control" ng-model="searchModel.status">
                                    <option value="" ></option>
                                    <option value="UNASSIGNED" translate="passApp.MonitorStatus.UNASSIGNED">UNASSIGNED</option>
                                    <option value="ASSIGNED" translate="passApp.MonitorStatus.ASSIGNED">ASSIGNED</option>
                                    <option has-authority="ACL_CLINICIAN" value="DISABLED" translate="passApp.MonitorStatus.DISABLED">DISABLED</option>
                                    <option has-authority="ACL_CLINICIAN" value="REMOVED" translate="passApp.MonitorStatus.REMOVED">REMOVED</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="pr-results-options clearfix">
    <div class="form-inline">
        <div class="form-group form-group-sm pull-left">
            <label>Action</label>:
            <button type="button" class="btn pr-btn pr-btn-default" ng-disabled="vm.isSaving || vm.selectedMonitors.length == 0 || !vm.allowUnassign" ng-click="vm.unassign()">
                <span translate="passApp.monitorAction.UNASSIGNED">Unassign</span>
            </button>
            <button type="button" class="btn pr-btn pr-btn-default" ng-disabled="vm.isSaving || vm.selectedMonitors.length == 0 || !vm.allowRemove" ng-click="vm.remove()">
                <span translate="passApp.monitorAction.REMOVE">Remove</span>
            </button>
            <button type="button" class="btn pr-btn pr-btn-default" ng-disabled="vm.isSaving || vm.selectedMonitors.length == 0 || !vm.allowDisable" ng-click="vm.disable()">
                <span translate="passApp.monitorAction.DISABLE">Disable</span>
            </button>
            <button type="button" class="btn pr-btn pr-btn-default" ng-disabled="vm.isSaving || vm.selectedMonitors.length == 0 || !vm.allowRegister" ng-click="vm.register()">
                <span translate="passApp.monitorAction.REREGISTER">Re-Register</span>
            </button>
        </div>
        <div class="pull-right">
            <div class="form-group form-group-sm">
                <label translate="global.form.sortBy">Sort By</label>:
                <select class="form-control" ng-model="vm.predicate" ng-change="vm.loadAll()">
                    <option value="serialNumber" translate="passApp.monitor.serialNumber">Serial Number</option>
                    <option value="type" translate="passApp.monitor.type">Type</option>
                    <option value="assignedSubjectId" translate="passApp.monitor.assignedSubject">Assigned Subject</option>
                    <option value="assignedSubjectStudyName" translate="passApp.monitor.study">Study</option>
                    <option value="assignedSubjectStudyStatus" translate="passApp.study.studyStatus">Study Status</option>
                    <option value="monitorCreatedDate" translate="passApp.monitor.registeredDate">Registered Date</option>
                    <option value="status" translate="passApp.monitor.monitorStatus">Device Status</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button type="button" class="pr-btn-alt btn pr-btn has-icon icon-left" role="button" label="false" uib-btn-checkbox ng-model="vm.reverse" ng-click="vm.loadAll()" blur>
                    <span class="pr-icon pr-icon-sort-asc" aria-hidden="true" ng-show="vm.reverse"></span>
                    <span class="pr-icon pr-icon-sort-desc" aria-hidden="true" ng-hide="vm.reverse"></span>
                </button>
            </div>
        </div>
    </div>
</aside>

<div class="pr-notification-local-banner">
    <div class="alert alert-warning" ng-show="vm.errorMultipleStatusses">
        <div class="alert-body">
            <span translate="passApp.monitor.error.selectedDevices">Selected devices do not have the same status</span>
        </div>
    </div>
</div>

<div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span></span></th>
                    <th><span translate="passApp.monitor.serialNumber">Serial Number</span></th>
                    <th><span translate="passApp.monitor.type">Type</span></th>
                    <th><span translate="passApp.monitor.assignedSubject">Assigned Subject</span></th>
                    <th><span translate="passApp.monitor.study">Study</span></th>
                    <th><span translate="passApp.study.studyStatus">Study Status</span></th>
                    <th><span translate="passApp.monitor.registeredDate">Registered Date</span></th>
                    <th><span translate="passApp.monitor.monitorStatus">Device Status</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                  <tr ng-repeat="monitor in vm.monitors track by monitor.id">

                    <td style="padding-left: 10px; width: 40px;">
                      <label class="pr-checkbox pr-checkbox-checkbox" ng-class="{'pr-checkbox-on': monitor.selected, 'pr-checkbox-off': !monitor.selected}"
                             ng-click="vm.toggleMonitorSelection(monitor)"
                             blur style="position: relative; top: 4px;" >
                          <span class="pr-checkbox-check"></span>
                      </label>
                    </td>
                    <td><a ng-click="vm.navigateToMonitorDetails(monitor.id)">{{monitor.serialNumber}}</a></td>
                    <td translate="{{monitor.type}}">{{monitor.type}}</td>
                    <td>
                        <a ng-if="monitor.assignedSubjectId" ng-click="vm.navigateToSubjectDetails(monitor.assignedSubjectId)">
                            <span ng-if="monitor.assignedSubjectFirstName || monitor.assignedSubjectLastName">
                                {{monitor.assignedSubjectFirstName}} {{monitor.assignedSubjectLastName}}
                            </span>
                                <span ng-if="!monitor.assignedSubjectFirstName && !monitor.assignedSubjectLastName">
                                &lt;no name&gt;
                            </span>
                        </a>
                    </td>

                    <td>
                        <a ng-if="monitor.studyId" ng-click="vm.navigateToStudyDetails(monitor.studyId)">

                            {{monitor.studyName}}

                            <span ng-if="!monitor.studyName">
                                &lt;no study&gt;
                            </span>
                        </a>
                    </td>
                    <td><span translate="{{'passApp.StudyStatus.' + monitor.studyStatus}}">{{monitor.studyStatus}}</span></td>
                    <td>{{monitor.monitorCreatedDate | date:'medium'}}</td>
                    <td><span translate="{{'passApp.MonitorStatus.' + monitor.status}}">{{monitor.status}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <ul uib-pagination class="pagination" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
    </div>
</div>


