<header class="modal-header">
    <h3 class="modal-title">Confirm unassign</h3>
</header>
<div class="modal-body">
    <p translate="passApp.monitor.error.selectedDevicesConf">The selected devices are assigned to a subject, unassigning may result in inconsistent data. Do you still wish to proceed?</p>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.cancel()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn pr-btn pr-btn-primary" ng-click="vm.ok()">
            <span translate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</footer>
