
<div>
    <h2><span translate="passApp.monitor.detail.title">Monitor</span>: {{vm.monitor.serialNumber}}</h2>
    <hr />
    <!--<jhi-alert></jhi-alert>-->
    <dl class="dl-horizontal">
        <dt><span translate="passApp.monitor.serialNumber">Serial Number</span></dt>
        <dd>
            <span>{{vm.monitor.serialNumber}}</span>
        </dd>
        <dt><span translate="passApp.monitor.type">Type</span></dt>
        <dd>
            <span translate="{{'passApp.MonitorType.' + vm.monitor.type}}">{{vm.monitor.type}}</span>
        </dd>
        <!--<dt><span translate="passApp.monitor.company">Company</span></dt>-->
        <!--<dd>-->
            <!--<a ui-sref="company-detail({id:vm.monitor.companyId})">{{vm.monitor.companyName}}</a>-->
        <!--</dd>-->
        <dt><span translate="passApp.monitor.assignedSubject">Assigned Subject</span></dt>
        <dd>
            <a ng-if="vm.monitor.assignedSubjectId" ui-sref="subject-detail.analysis({id:vm.monitor.assignedSubjectId})">
                            <span ng-if="vm.monitor.assignedSubjectFirstName || vm.monitor.assignedSubjectLastName">
                                {{vm.monitor.assignedSubjectFirstName}} {{vm.monitor.assignedSubjectLastName}}
                            </span>
                <span ng-if="!vm.monitor.assignedSubjectFirstName && !vm.monitor.assignedSubjectLastName">
                    &lt;no name&gt;
                </span>
            </a>
        </dd>
        <dt><span translate="passApp.monitor.study">Study</span></dt>
        <dd>
            <a ng-if="vm.monitor.studyId" ui-sref="study-detail({id:vm.monitor.studyId})">
                <span>
                    {{vm.monitor.studyName}}
                </span>
            </a>
        </dd>
        <dt><span translate="passApp.monitor.registeredDate">Study</span></dt>
        <dd>
            {{vm.monitor.monitorCreatedDate | date:'medium'}}
        </dd>
        <dt><span translate="passApp.monitor.monitorStatus">Study</span></dt>
        <dd>
            <span translate="{{'passApp.MonitorStatus.' + vm.monitor.status}}">{{vm.monitor.status}}</span>
        </dd>
    </dl>
    <div style="width: 100%; text-align: right">
        <div ng-switch="vm.monitor.status">
            <div ng-switch-when="ASSIGNED">
                <button type="submit"
                        ng-click="vm.changeStatus('UNASSIGNED')"
                        class="btn pr-btn pr-btn-primary">
                    <span translate="passApp.MonitorStatusChangeAction.UNASSIGN_SUBJECT"></span>
                </button>
            </div>
            <div ng-switch-when="UNASSIGNED">
                <button type="submit"
                        ng-click="vm.changeStatus('DISABLED')"
                        class="btn pr-btn pr-btn-primary">
                    <span translate="passApp.MonitorStatusChangeAction.DISABLE"></span>
                </button>
                <button type="submit"
                        ng-click="vm.changeStatus('REMOVED')"
                        class="btn pr-btn pr-btn-primary">
                    <span translate="passApp.MonitorStatusChangeAction.REMOVE"></span>
                </button>
            </div>
            <div ng-switch-when="DISABLED">
                <button type="submit"
                        ng-click="vm.changeStatus('UNASSIGNED')"
                        class="btn pr-btn pr-btn-primary">
                    <span translate="passApp.MonitorStatusChangeAction.ENABLE"></span>
                </button>
                <button type="submit"
                        ui-sref="monitor-detail.delete({id:vm.monitor.id})" ui-sref-opts="{location: 'replace'}"
                        class="btn pr-btn pr-btn-primary">
                    <span translate="passApp.MonitorStatusChangeAction.REMOVE"></span>
                </button>
            </div>
            <div ng-switch-default></div>
        </div>
    </div>

    <h4>History</h4>
    <hr />
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th style="width: 125px;"><span translate="passApp.monitorHistory.changeAction">Status</span></th>
                <th><span translate="passApp.monitorHistory.assignment">Assignment</span></th>
                <th style="width: 300px;"><span translate="passApp.monitor.study">Study</span></th>
                <th style="width: 200px;"><span translate="passApp.monitorHistory.dateTime">Time</span></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="monitorHistoryRecord in vm.monitorHistory | orderBy: 'createdDate':true">
                    <td>
                        <span translate="{{'passApp.MonitorStatusChangeAction.' + monitorHistoryRecord.changeAction}}">{{monitorHistoryRecord.changeAction}}</span>
                    </td>
                    <td>
                        <div ng-switch="monitorHistoryRecord.changeAction">
                            <div ng-switch-when="REGISTER">
                                <span translate="passApp.monitorHistory.assignmentDescription.REGISTER" translate-values="{ company: monitorHistoryRecord.companyName }"></span>
                            </div>
                            <div ng-switch-when="RE_REGISTER">
                                <span translate="passApp.monitorHistory.assignmentDescription.REGISTER" translate-values="{ company: monitorHistoryRecord.companyName }"></span>
                            </div>
                            <div ng-switch-when="ASSIGN_SUBJECT">
                                <span translate="passApp.monitorHistory.assignmentDescription.ASSIGN_SUBJECT" translate-values="{ subjectReference: monitorHistoryRecord.assignedSubjectReference, subjectName: monitorHistoryRecord.assignedSubjectName }"></span>
                            </div>
                            <div ng-switch-when="UNASSIGN_SUBJECT">
                                <span translate="passApp.monitorHistory.assignmentDescription.UNASSIGN_SUBJECT" translate-values="{ subjectReference: monitorHistoryRecord.assignedSubjectReference, subjectName: monitorHistoryRecord.assignedSubjectName }"></span>
                            </div>
                            <div ng-switch-when="DISABLE">
                                <span translate="passApp.monitorHistory.assignmentDescription.DISABLE"></span>
                            </div>
                            <div ng-switch-when="ENABLE">
                                <span translate="passApp.monitorHistory.assignmentDescription.ENABLE"></span>
                            </div>
                            <div ng-switch-when="REMOVE">
                                <span translate="passApp.monitorHistory.assignmentDescription.REMOVE" translate-values="{ company: monitorHistoryRecord.companyName }"></span>
                            </div>
                            <div ng-switch-default>Unknown action</div>
                        </div>
                    </td>
                    <td>{{monitorHistoryRecord.assignedSubjectStudyName}}</td>
                    <td>{{monitorHistoryRecord.createdDate | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr/>
    <button type="submit"
            ng-click="vm.navigateBack()"
            class="btn pr-btn pr-btn-alt">
        <span translate="entity.action.back">Back</span>
    </button>
</div>
