<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PASS</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">

    <script src="//www.crsc.philips.com/crsc/scripts/_page.webfont.all.js"></script>
    <script language="JavaScript">
        _page.webfont.load(
            "centrale_sans_thin",
            "centrale_sans_thin_italic",
            "centrale_sans_light",
            "centrale_sans_light_italic",
            "centrale_sans_book",
            "centrale_sans_book_italic"
        );
    </script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/angular-timezone-selector/dist/angular-timezone-selector.css">
    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css content/css/main.css -->
    <!--<link rel="stylesheet" href="content/css/ei-light.css">-->
    <!--<link rel="stylesheet" href="content/css/main.css">-->
    <link rel="stylesheet" href="content/css/philips_repironics.css">
    <!--<link rel="stylesheet" href="content/css/pass.css">-->
    <!-- endbuild -->
</head>
<body ng-app="passApp" authenticated-class="authenticated" class="has-fixed-topnav">
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<page-ribbon></page-ribbon>

<div ng-cloak class="auth" is-authenticated="false">
    <div class="pr-login-screen-layout">
        <h1 class="shield">Philips</h1>
        <h2 class="appname text-center"><span translate="global.title"></span></h2>
        <div>
            <div class="col-md-12" ui-view="auth" ng-cloak>
            </div>
            <div class="col-md-12 footer">
                <p class="col-md-6 col-xs-12">
                    <span>Respironics Inc., 1001 Murry Ridge Lane, Murrysville, PA 15668 USA</span>
                    <!--| <a href="#" target="_blank" translate="" class="ng-scope">Privacy Notice</a>-->
                </p>
                <p class="col-md-6 col-xs-12 ng-binding">© 2018 Koninklijke Philips N.V. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>


<div ng-cloak is-authenticated="true">
    <div ui-view="navbar"></div>

    <div class="container api-background content">
        <password-expiration-check></password-expiration-check>
        <div class="pr-main-view">
            <div ui-view="secondary_navbar" has-any-authority="ACL_CLINICIAN,ACL_SITECOORD"></div>
            <div ui-view="user_context"></div>

            <div ui-view="content" ng-cloak>
                <!-- Angular views -->
            </div>

            <!--<div class="footer" ng-cloak>-->
            <!--<p><span class="footer-version">Philips Actigraphy Service System</span> <span class="footer-version">v{{VERSION}}</span></p>-->
            <!--</div>-->
        </div>
    </div>
</div>

<section data-ng-controller="SessionTimeoutCtrl">
</section>

<script type="text/ng-template" id="warning-dialog.html">
    <div class="modal-header">
        <h3 translate="global.messages.info.idle">Due to inactivity, you will be logged out automatically</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
        <uib-progressbar max="5" value="5" animate="false" class="progress-striped active"><span
            translate="global.messages.info.idleCountDown" translate-values="{countdown: countdown}">You'll be logged out in {{countdown}} second(s).</span>
        </uib-progressbar>
    </div>

</script>

<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>-->

<!-- build:js app/vendor.js -->
<!-- bower:js -->
<script src="bower_components/ag-grid-pass/ag-grid.min.js"></script>
<script src="bower_components/es6-shim/es6-shim.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
<script src="bower_components/multiselect-two-sides/dist/js/multiselect.min.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<script src="bower_components/jstzdetect/jstz.min.js"></script>
<script src="bower_components/messageformat/messageformat.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/sockjs-client/dist/sockjs.js"></script>
<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
<script src="bower_components/es6-shim/es6-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/angular-timezone-selector/dist/angular-timezone-selector.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script
    src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
<script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ng-idle/angular-idle.js"></script>
<script src="bower_components/angular-bootstrap-file-field/src/angular-bootstrap-file-field.js"></script>



<!-- endinject -->
<!-- endbuild -->

<!-- build:js app/app.js  -->
<!-- inject:js -->
<script src="app/templates.js"></script>
<script src="app/app.module.js"></script>
<script src="app/services/user/user.service.js"></script>
<script src="app/services/profiles/profile.service.js"></script>
<script src="app/services/profiles/page-ribbon.directive.js"></script>
<script src="app/services/country/country.service.js"></script>
<script src="app/services/config/config.service.js"></script>
<script src="app/services/auth/sessions.service.js"></script>
<script src="app/services/auth/register.service.js"></script>
<script src="app/services/auth/principal.service.js"></script>
<script src="app/services/auth/password-reset-init.service.js"></script>
<script src="app/services/auth/password-reset-finish.service.js"></script>
<script src="app/services/auth/password.service.js"></script>
<script src="app/services/auth/has-authority.directive.js"></script>
<script src="app/services/auth/has-any-authority.directive.js"></script>
<script src="app/services/auth/is-authenticated.directive.js"></script>
<script src="app/services/auth/auth.session.service.js"></script>
<script src="app/services/auth/auth.service.js"></script>
<script src="app/services/auth/activate.service.js"></script>
<script src="app/services/auth/account.service.js"></script>
<script src="app/layouts/navbar/navbar.controller.js"></script>
<script src="app/layouts/navbar/active-menu.directive.js"></script>
<script src="app/layouts/navbar/active-link.directive.js"></script>
<script src="app/layouts/error/error.state.js"></script>
<script src="app/layouts/about/about-dialog.controller.js"></script>
<script src="app/layouts/user-info/user-info.controller.js"></script>
<script src="app/home/login.service.js"></script>
<script src="app/home/home.state.js"></script>
<script src="app/home/home.controller.js"></script>
<script src="app/home/login.controller.js"></script>
<script src="app/home/register-company.controller.js"></script>
<script src="app/entities/subject/analysis.service.js"></script>
<script src="app/entities/subject/pagination.service.js"></script>
<script src="app/entities/subject/subject-detail-analysis.controller.js"></script>
<script src="app/entities/subject/subject-dialog.controller.js"></script>
<script src="app/entities/subject/subject-detail.controller.js"></script>
<script src="app/entities/subject/subject-delete-dialog.controller.js"></script>
<script src="app/entities/subject/subject-export.controller.js"></script>
<script src="app/entities/subject/subject.state.js"></script>
<script src="app/entities/subject/subject.service.js"></script>
<script src="app/entities/subject/tdrData.service.js"></script>
<script src="app/entities/feedback/feedbackData.js"></script>
<script src="app/entities/subject/subject.controller.js"></script>
<script src="app/entities/site/site.service.js"></script>
<script src="app/entities/site/site.controller.js"></script>
<script src="app/entities/site/site-detail.controller.js"></script>
<script src="app/entities/site/site-dialog.controller.js"></script>
<script src="app/entities/site/site.state.js"></script>
<script src="app/entities/study/study-dialog.controller.js"></script>
<script src="app/entities/study/study-detail.controller.js"></script>
<script src="app/entities/study/study-delete-dialog.controller.js"></script>
<script src="app/entities/study/study.state.js"></script>
<script src="app/entities/study/study.service.js"></script>
<script src="app/entities/study/study.controller.js"></script>
<script src="app/entities/pop-number/pop-number-dialog.controller.js"></script>
<script src="app/entities/pop-number/pop-number-detail.controller.js"></script>
<script src="app/entities/pop-number/pop-number-delete-dialog.controller.js"></script>
<script src="app/entities/pop-number/pop-number.state.js"></script>
<script src="app/entities/pop-number/pop-number.service.js"></script>
<script src="app/entities/pop-number/pop-number.controller.js"></script>
<script src="app/entities/monitor/monitor-dialog.controller.js"></script>
<script src="app/entities/monitor/monitor-detail.controller.js"></script>
<script src="app/entities/monitor/monitor-delete-dialog.controller.js"></script>
<script src="app/entities/monitor/monitor.state.js"></script>
<script src="app/entities/monitor/monitor.service.js"></script>
<script src="app/entities/monitor/monitor-history.service.js"></script>
<script src="app/entities/monitor/monitor.controller.js"></script>
<script src="app/entities/monitorConfiguration/configuration.state.js"></script>
<script src="app/entities/monitorConfiguration/configuration.service.js"></script>
<script src="app/entities/monitorConfiguration/configuration.controller.js"></script>
<script src="app/entities/monitorConfiguration/configuration-detail.controller.js"></script>
<script src="app/entities/monitorConfiguration/configuration-dialog.controller.js"></script>
<script src="app/entities/monitorConfiguration/configuration-delete-dialog.controller.js"></script>
<script src="app/entities/monitorAssignment/assignment.state.js"></script>
<script src="app/entities/monitorAssignment/assignment.service.js"></script>
<script src="app/entities/monitorAssignment/assignment.controller.js"></script>
<script src="app/entities/monitorAssignment/assignment-dialog.controller.js"></script>
<script src="app/entities/monitorAssignment/assignment-delete-dialog.controller.js"></script>
<script src="app/entities/entity.state.js"></script>
<script src="app/entities/company/company-dialog.controller.js"></script>
<script src="app/entities/company/company-detail.controller.js"></script>
<script src="app/entities/company/company-delete-dialog.controller.js"></script>
<script src="app/entities/company/company.state.js"></script>
<script src="app/entities/company/company.service.js"></script>
<script src="app/entities/company/company.controller.js"></script>
<script src="app/directives/popnumber/popnumber-directive.js"></script>
<script src="app/directives/password-expiration-check/password-expiration-check-directive.js"></script>
<script src="app/directives/custom-filters.js"></script>
<script src="app/directives/custom-validators.js"></script>
<script src="app/directives/custom-directives.js"></script>
<script src="app/directives/checklist-model.js"></script>
<script src="app/components/util/truncate-words.filter.js"></script>
<script src="app/components/util/truncate-characters.filter.js"></script>
<script src="app/components/util/sort-by.directive.js"></script>
<script src="app/components/util/sort.directive.js"></script>
<script src="app/components/util/parse-links.service.js"></script>
<script src="app/components/util/pagination-util.service.js"></script>
<script src="app/components/util/jhi-item-count.directive.js"></script>
<script src="app/components/util/jhi-item-count-analysis.directive.js"></script>
<script src="app/components/util/date-util.service.js"></script>
<script src="app/components/util/data-util.service.js"></script>
<script src="app/components/util/capitalize.filter.js"></script>
<script src="app/components/util/base64.service.js"></script>
<script src="app/components/language/language.service.js"></script>
<script src="app/components/language/language.filter.js"></script>
<script src="app/components/language/language.controller.js"></script>
<script src="app/components/language/language.constants.js"></script>
<script src="app/components/form/show-validation.directive.js"></script>
<script src="app/components/form/pagination.constants.js"></script>
<script src="app/components/form/minbytes.directive.js"></script>
<script src="app/components/form/maxbytes.directive.js"></script>
<script src="app/components/alert/alert-error.directive.js"></script>
<script src="app/components/alert/alert.service.js"></script>
<script src="app/components/alert/alert.directive.js"></script>
<script src="app/blocks/interceptor/notification.interceptor.js"></script>
<script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>
<script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>
<script src="app/blocks/handlers/translation.handler.js"></script>
<script src="app/blocks/handlers/state.handler.js"></script>
<script src="app/blocks/config/uib-pagination.config.js"></script>
<script src="app/blocks/config/uib-pager.config.js"></script>
<script src="app/blocks/config/translation-storage.provider.js"></script>
<script src="app/blocks/config/translation.config.js"></script>
<script src="app/blocks/config/localstorage.config.js"></script>
<script src="app/blocks/config/http.config.js"></script>
<script src="app/blocks/config/compile.config.js"></script>
<script src="app/blocks/config/alert.config.js"></script>
<script src="app/app.state.js"></script>
<script src="app/app.constants.js"></script>
<script src="app/admin/user-management/user-management-dialog.controller.js"></script>
<script src="app/admin/user-management/user-management-detail.controller.js"></script>
<script src="app/admin/user-management/user-management-siteselection-dialog.controller.js"></script>
<script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>
<script src="app/admin/user-management/user-management.state.js"></script>
<script src="app/admin/user-management/user-management.controller.js"></script>
<script src="app/admin/tracker/tracker.state.js"></script>
<script src="app/admin/tracker/tracker.service.js"></script>
<script src="app/admin/tracker/tracker.controller.js"></script>
<script src="app/admin/password-policy/password-policy.state.js"></script>
<script src="app/admin/password-policy/password-policy.service.js"></script>
<script src="app/admin/password-policy/password-policy.controller.js"></script>
<script src="app/admin/metrics/metrics.state.js"></script>
<script src="app/admin/metrics/metrics.service.js"></script>
<script src="app/admin/metrics/metrics.modal.controller.js"></script>
<script src="app/admin/metrics/metrics.controller.js"></script>
<script src="app/admin/logs/logs.state.js"></script>
<script src="app/admin/logs/logs.service.js"></script>
<script src="app/admin/logs/logs.controller.js"></script>
<script src="app/admin/health/health.state.js"></script>
<script src="app/admin/health/health.service.js"></script>
<script src="app/admin/health/health.modal.controller.js"></script>
<script src="app/admin/health/health.controller.js"></script>
<script src="app/admin/docs/docs.state.js"></script>
<script src="app/admin/configuration/configuration.state.js"></script>
<script src="app/admin/configuration/configuration.service.js"></script>
<script src="app/admin/configuration/configuration.controller.js"></script>
<script src="app/admin/audits/audits.state.js"></script>
<script src="app/admin/audits/audits.service.js"></script>
<script src="app/admin/audits/audits.controller.js"></script>
<script src="app/admin/admin.state.js"></script>
<script src="app/account/social/social-register.controller.js"></script>
<script src="app/account/social/social.state.js"></script>
<script src="app/account/social/social.service.js"></script>
<script src="app/account/social/directive/social.directive.js"></script>
<script src="app/account/settings/settings.state.js"></script>
<script src="app/account/settings/settings.controller.js"></script>
<script src="app/account/sessions/sessions.state.js"></script>
<script src="app/account/sessions/sessions.controller.js"></script>
<script src="app/account/reset/request/reset.request.state.js"></script>
<script src="app/account/reset/request/reset.request.controller.js"></script>
<script src="app/account/reset/finish/reset.finish.state.js"></script>
<script src="app/account/reset/finish/reset.finish.controller.js"></script>
<script src="app/account/register/register.state.js"></script>
<script src="app/account/register/register.controller.js"></script>
<script src="app/account/password/password-strength-bar.directive.js"></script>
<script src="app/account/password/password.state.js"></script>
<script src="app/account/password/password.controller.js"></script>
<script src="app/account/activate/activate.state.js"></script>
<script src="app/account/activate/activate.controller.js"></script>
<script src="app/account/account.state.js"></script>
<!-- endinject -->
<!-- endbuild -->

<script src="content/js/ei-1.1/jquery-ui-1.11.4.custom.min.js"></script>
<script src="content/js/ei-1.1/jquery.easing.min.js"></script>
<script src="content/js/ei-1.1/jquery.mousewheel.min.js"></script>
<script src="content/js/ei-1.1/jquery.mCustomScrollbar.min.js"></script>
<script src="content/js/ei-1.1/enscroll-custom.min.js"></script>
<script src="content/js/ei-1.1/toolkit.min.js"></script>
<script src="content/js/ei-1.1/toolkit.angular.min.js"></script>

</body>
</html>
