@font-face {
    font-family: CentraleSans;
    src: url(../fonts/CentraleSans-Thin.eot);
    src: url(../fonts/CentraleSans-Thin.eot?#iefix) format('embedded-opentype'),url(../fonts/CentraleSans-Thin.woff) format('woff'),url(../fonts/CentraleSans-Thin.ttf) format('truetype');
    font-style:normal;
    font-weight:100
}

@font-face {
    font-family: CentraleSans;
    src: url(../fonts/CentraleSans-Light.eot);
    src: url(../fonts/CentraleSans-Light.eot?#iefix) format('embedded-opentype'),url(../fonts/CentraleSans-Light.woff) format('woff'),url(../fonts/CentraleSans-Light.ttf) format('truetype');
    font-style:normal;
    font-weight:200
}

@font-face {
    font-family:CentraleSans;
    src:url(../fonts/CentraleSans-Book.eot);
    src:url(../fonts/CentraleSans-Book.eot?#iefix) format('embedded-opentype'),url(../fonts/CentraleSans-Book.woff) format('woff'),url(../fonts/CentraleSans-Book.ttf) format('truetype');
    font-style:normal;font-weight:400
}

@font-face {
    font-family:CentraleSans;
    src:url(../fonts/CentraleSans-BookItalic.eot);
    src:url(../fonts/CentraleSans-BookItalic.eot?#iefix) format('embedded-opentype'),url(../fonts/CentraleSans-BookItalic.woff) format('woff'),url(../fonts/CentraleSans-BookItalic.ttf) format('truetype');
    font-style:italic;
    font-weight:400
}

@font-face {
    font-family:CentraleSans;
    src:url(../fonts/CentraleSans-Medium.eot);
    src:url(../fonts/CentraleSans-Medium.eot?#iefix) format('embedded-opentype'),url(../fonts/CentraleSans-Medium.woff) format('woff'),url(../fonts/CentraleSans-Medium.ttf) format('truetype');
    font-style:normal;
    font-weight:700
}

@font-face {
    font-family:CentraleSans;
    src:url(../fonts/CentraleSans-MediumItalic.eot);
    src:url(../fonts/CentraleSans-MediumItalic.eot?#iefix) format('embedded-opentype'),url(../fonts/CentraleSans-MediumItalic.woff) format('woff'),url(../fonts/CentraleSans-MediumItalic.ttf) format('truetype');
    font-style:italic;
    font-weight:700
}

html {
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0 0 0 0;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    -webkit-font-smoothing: subpixel-antialiased
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    font-size: 10px
}

body {
    /*font-family: CentraleSans,sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
    /*color: #464646;*/
    /*background-color: #0089c4;*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow-x:hidden;*/
    background-color: #fff
    margin: 0;
    font-family: CentraleSans, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #464646
}

.authenticated {
    background-color: #fff;
    color: #4f4d48;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: bold;
    color: #555; }
body h1 {
    font-size: 2em;
    margin: .67em 0; }
body h2 {
    font-size: 1.5em;
    margin: .75em 0; }
body h3 {
    font-size: 1.17em;
    margin: .83em 0; }
body h4 {
    font-size: 1em;
    margin: 1.12em 0; }
body h5 {
    font-size: .83em;
    margin: 1.5em 0; }
body h6 {
    font-size: .75em;
    margin: 1.67em 0; }

hr {
    border-top: 1px solid #9b978e;
}

div.auth {
    background: #0089c4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div.auth .logo-background {
    background: linear-gradient(-35deg, #29ABF6 0%, #81D0FF 40%, #0096ED 100%);
    padding: 100px 0;
    margin-bottom: 2em;
    text-align: center;
}

div.auth .logo-background-condensed {
    padding: 50px 0;
}

div.auth .content {
    margin-bottom: 70px;
}

div.auth .eula h1 {
    color: #555;
}

div.auth h1 {
    color: #efefef;
}
div.auth .logo {
    height: 137px;
    width: 107px;
}

div.auth a {
    color:#ffffff;
}

div.auth form {
    padding-top: 2em;
}
div.auth label {
    color: #BEBEBE;
}
/*div.auth button {*/
/*border-radius: 2px;*/
/*margin-top: 0;*/
/*}*/

div.auth a.forgot {
    margin-top: 5px;
}

div.auth .alert-message {
    color:#ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.auth .footer {
    background-color: #005A8B;
}

.auth .footer .brand {
    margin-top: 0.6em;
    margin-bottom: 0.8em;
}

.auth .footer .legal {
    color: #888888;
    font-size: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.auth .footer .info {
    color:#efefef;
    font-size: 0.8em;
    padding-top: 1.4em;
    margin-bottom: 0.8em;
}

.btn {
    border-radius: 2px;
    padding: 6px 20px;
    height: 35px;
}

.btn-primary, div.auth a.btn-primary {
    /*Philips Bright Blue*/
    color: #ffffff;
    background-color: #0066a1;
    border-color: #0066a1;
}

.btn-primary:hover, div.auth a.btn-primary:hover {
    color: #ffffff;
    background-color: #00518c;
    border-color: #00518c;
}

.btn-default, div.auth a.btn-default {
    /*Philips Bright Blue*/
    color: #0066a1;
    background-color: #ffffff;
    border-color: #7fb2d0;
}

.btn-default:hover, div.auth a.btn-default:hover {
    color: #0066a1;
    background-color: #f2f7fa;
    border-color: #7fb2d0;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #772432;
    opacity: 0.6;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 230px;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    /*font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    margin: 1px 0;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
    font-size: 12px;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
/*.navbar-brand.logo {*/
    /*padding: 5px 15px;*/
/*}*/

.logo .logo-img {
    height: 45px;
    display: inline-block;
    position: absolute;
    top: 2px;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}


/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

.well {
    background-color: #e9e3da;
    border: 1px solid #D5CFC4;
    border-radius: 0px;
}

.footer {
    text-align: right;
}

.footer-version {
    font-size: 10px;
    color: #9b978e;
}

.modal-content {
    background-color: #e9e3da;
}

#subjectDetails {
    font-size: small;
    margin-bottom: 20px;
}

#subjectDetails .form-group {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 200px;
    }
    .dl-horizontal dd {
        margin-left: 220px;
    }
}
@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dd {
        /*border-bottom: 1px solid #eee;*/
        padding-left: 220px;
    }
}

/* ==========================================================================
Multi-step wizard
========================================================================== */
.step {
    margin-left: 10px;
    margin-right: 10px;
    color: #A5895C;
}

a.step:hover, a.step:focus {
    text-decoration: none;
    color: #A5895C;
    cursor: default;
}

.activeStep {
    font-weight: bold;
    color: #D66E05;
}

a.activeStep:hover, a.activeStep:focus {
    text-decoration: none;
    color: #D66E05;
    cursor: default;
}

/* ==========================================================================
Forms
========================================================================== */
div.required > label:before {
    color: #e32;
    content: '* ';
    display:inline;
}

.tab-pane {
    /*border-left: 1px solid #9b978e;*/
    /*border-right: 1px solid #9b978e;*/
    /*border-bottom: 1px solid #9b978e;*/
    border: 1px solid #9b978e;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.search-container {
    margin-bottom: 20px;
}

#subjectDetails form {
    margin-top: 5px;
}

.eula {
    height:300px;
    overflow:auto;
    background-color:azure;
    color:black;
    scrollbar-base-color:gold;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding:10px;
}

/******************************/
/* Philips Respironics styling */
/******************************/
body.has-fixed-topnav {
    padding-top: 44px
}

.pr-primary-navbar {
    background-image: linear-gradient(35deg, #0f204b 0, #0f204b 65%, #0066a1 100%);
    background-color: #0f204b;
    text-align: center;
    line-height: 48px;
    height: 44px;
    z-index: 1000
}

.pr-primary-navbar .dropdown-toggle:active,
.pr-primary-navbar .dropdown-toggle:focus,
.pr-primary-navbar .dropdown-toggle:hover,
.pr-primary-navbar .pr-primary-navbar-app-nav a:active,
.pr-primary-navbar .pr-primary-navbar-app-nav a:focus,
.pr-primary-navbar .pr-primary-navbar-app-nav a:hover {
    background-color: transparent
}

.pr-primary-navbar a {
    transition: background-color .3s ease, color .3s ease, border .3s ease;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    display: block
}

.pr-primary-navbar a:active,
.pr-primary-navbar a:focus,
.pr-primary-navbar a:hover {
    text-decoration: none;
    color: #fff
}

.pr-primary-navbar .pr-primary-navbar-wrap {
    padding: 0 11px;
    margin: 0 auto;
    min-width: 960px;
    max-width: 1200px;
    position: relative
}

.has-toolbar .pr-primary-navbar .pr-primary-navbar-wrap {
    padding-left: 66px
}

@media only screen and (min-width:1350px) {
    .has-toolbar .pr-primary-navbar .pr-primary-navbar-wrap {
        padding-left: 11px
    }
}

.pr-primary-navbar .pr-primary-navbar-brand {
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, .8);
    padding: 0;
    margin: 0;
    z-index: 10;
    position: relative;
    float: left
}

.pr-primary-navbar .pr-primary-navbar-app-nav>ul,
.pr-primary-navbar .pr-primary-navbar-user-nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.pr-primary-navbar .pr-primary-navbar-app-nav>ul a,
.pr-primary-navbar .pr-primary-navbar-user-nav>ul a {
    line-height: 22px
}

.pr-primary-navbar .pr-primary-navbar-app-nav>ul>li,
.pr-primary-navbar .pr-primary-navbar-user-nav>ul>li {
    display: inline-block
}

.pr-primary-navbar .pr-primary-navbar-app-nav>ul>li.active>a,
.pr-primary-navbar .pr-primary-navbar-user-nav>ul>li.active>a {
    color: #fff
}

.pr-primary-navbar .dropdown.open .dropdown-toggle {
    background-color: transparent;
    color: #fff
}

.pr-primary-navbar .dropdown-toggle {
    font-size: 12px;
    cursor: pointer;
    padding: 0 0 0 20px;
    margin: 0
}

.pr-primary-navbar .dropdown-menu {
    max-height: 500px;
    margin-top: 10px;
    overflow-y: auto
}
.pr-primary-navbar .dropdown-menu .divider {
    margin: 5px 0
}

.pr-primary-navbar .dropdown-menu>li>a {
    font-size: 12px;
    margin: 0
}

.pr-primary-navbar .collapse.in {
    display: block!important
}

.pr-primary-navbar .pr-primary-navbar-app-nav {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0
}

.pr-primary-navbar .pr-primary-navbar-app-nav a {
    font-size: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding: 0 5px;
    margin: 0 15px
}

.pr-primary-navbar .pr-primary-navbar-app-nav>ul>li.active a {
    border-bottom-color: #fff
}

.pr-primary-navbar .pr-primary-navbar-user-nav {
    float: right
}

.pr-primary-navbar .pr-primary-navbar-user-nav .pr-icon {
    margin-top: -2px;
    margin-left: 2px
}

.pr-primary-navbar.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0
}

body #pr-main-view:after {
    clear: both
}

/******************************/
/* bootstrap menu overrides */
/******************************/
.navbar-default .navbar-brand {
    font: 18px 'CentraleSans', sans-serif;
    font-weight: 100;

    /*transition: background-color .3s ease,color .3s ease,border .3s ease;*/
    color: rgba(255,255,255,.8);
    text-decoration: none;
    display: block;
}
.navbar-default {
    font-size: 14px;
    background-image: linear-gradient(35deg,#0f204b 0,#0f204b 65%,#0066a1 100%);
    background-color: #0f204b;
    border-width: 0px;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #555;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #555;
    background-color: #E2BE84;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #D2A356;
}
.navbar-default .navbar-toggle {
    border-color: #a5895c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E2BE84;
}
/*.navbar-default .navbar-toggle .icon-bar {*/
/*background-color: #a5895c;*/
/*}*/
/*.navbar-default .navbar-toggle:hover .icon-bar,*/
/*.navbar-default .navbar-toggle:focus .icon-bar {*/
/*background-color: #dcd5c3;*/
/*}*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #E2BE84;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #DCD5C3;
}

.navbar-default .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #555;
    white-space: nowrap;
    background-color: #DCD5C3;
}

.navbar-default .dropdown-menu > li > a:hover {
    background-color: #E2BE84;
}

/******************************/
/* UICC EI light 1.1 overrides */
/******************************/
.pt-slider.ui-slider-horizontal {
    margin-bottom: 8px;
}

.pt-slider {
    font-family: 'Philips Healthcare Font';
    color: #4f4d48;
    line-height: normal;
    width: 0.5em;
    position: relative; }
.pt-slider ul, .pt-slider ol {
    margin-top: 0px;
    margin-bottom: 0px; }
.pt-slider div, .pt-slider ul, .pt-slider ol, .pt-slider li {
    box-sizing: content-box; }
.pt-slider a:link {
    color: #52c3f1; }
.pt-slider a:focus {
    outline: 0; }
.pt-slider .pt-slider-tooltip {
    background-image: linear-gradient(rgba(248, 235, 198, 0.9), rgba(255, 226, 166, 0.9));
    border-radius: 0.3571428571em;
    box-shadow: 0 0.2142857143em 0.2142857143em rgba(0, 0, 0, 0.1);
    user-select: none;
    text-align: center;
    min-width: 1.4285714286em;
    border: 0.0714285714em solid #363431;
    color: black;
    display: none;
    font-size: 1em;
    padding: 0.2142857143em;
    position: absolute;
    z-index: 999; }
.pt-slider .pt-slider-label {
    user-select: none;
    font-weight: 600;
    font-size: 1.2142857143em;
    color: #4f4d48;
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center; }
.pt-slider .pt-slider-label.ui-state-active {
    color: #12110f;
    background: none;
    border: none; }
.pt-slider span.ui-slider-handle {
    box-shadow: inset 0 0.0714285714em 0 #f8f6f3;
    background-image: linear-gradient(#eee9e2, #c5bfb5);
    border-radius: 0.2142857143em;
    outline: none;
    border: 0.0714285714em solid #9b978e;
    position: absolute;
    z-index: 2; }
.pt-slider span.ui-slider-handle:hover {
    background-image: linear-gradient(#f8f6f3, #d5cfc4); }
.pt-slider span.ui-slider-handle.ui-state-active {
    box-shadow: inset 0 0.0714285714em 0 #e3ddd1;
    background-image: linear-gradient(#c5bfb5, #eee9e2); }
.pt-slider .ui-slider-range {
    border: 0;
    position: absolute;
    background-color: #ffd67a; }
.pt-slider.ui-slider-horizontal {
    background-image: linear-gradient(#b7b2a8, #d5cfc4);
    border-radius: 0.1428571429em;
    margin-bottom: 8px;
    border: 0.0714285714em solid #9b978e;
    height: 0.5em;
    width: 14.2857142857em; }
.pt-slider.ui-slider-horizontal .ui-slider-handle {
    top: 0;
    width: 0.8571428571em;
    height: 1.7142857143em;
    margin: -0.6428571429em 0 0 -0.6428571429em; }
.pt-slider.ui-slider-horizontal .pt-slider-label {
    margin-top: 2em;
    width: 7.1428571429em;
    margin-left: -3.7142857143em; }
.pt-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 0.3571428571em;
    margin-top: 0.0714285714em; }
.pt-slider.ui-slider-vertical {
    background-image: linear-gradient(#b7b2a8, #d5cfc4);
    border-radius: 0.1428571429em;
    border: 0.0714285714em solid #9b978e;
    margin: 1.4285714286em 1.4285714286em 0.3571428571em 0;
    width: 0.5em;
    height: 14.2857142857em; }
.pt-slider.ui-slider-vertical .ui-slider-handle {
    left: 0;
    margin: 0 0 -0.5em -0.6428571429em;
    width: 1.7142857143em;
    height: 0.8571428571em; }
.pt-slider.ui-slider-vertical .pt-slider-label {
    margin-left: 2em;
    margin-top: -0.7142857143em;
    vertical-align: middle;
    left: 0; }
.pt-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    margin-left: -0.0714285714em;
    width: 0.3571428571em; }
.pt-slider.ui-state-disabled {
    box-shadow: none;
    background-image: none;
    background-color: #d5cfc4;
    border: 0.0714285714em solid #b7b2a8; }
.pt-slider.ui-state-disabled .pt-slider-label {
    color: #9b978e; }
.pt-slider.ui-state-disabled .ui-slider-handle {
    box-shadow: none;
    background-image: none;
    background-color: #e3ddd1;
    border: 0.0714285714em solid #b7b2a8;
    cursor: default; }
.pt-slider.ui-state-disabled .ui-slider-handle:hover {
    background-image: none; }

.pt-moviebar .pt-moviebar-visual-part .pt-panel-framerate .pt-slider-framerate {
    margin: 0 auto; }
.pt-moviebar .pt-moviebar-visual-part .pt-panel-framerate .pt-slider-framerate.ui-slider-vertical .ui-slider-handle {
    margin-left: -10px; }
.pt-moviebar .pt-moviebar-visual-part .pt-panel-framerate .pt-slider-framerate .pt-hidden {
    display: none; }
.pt-moviebar .pt-moviebar-visual-part .pt-panel-framerate.pt-hover-framerate-popup .pt-slider-framerate {
    display: block; }

.color-red {
    color: red !important;
}

.color-green {
    color: green !important;
}

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    font-size: 10pt;
    font-weight: normal;
}
