<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section class="pr-section">
            <header class="pr-section-header">
                <h2 translate="settings.title" translate-values="{username: '{{vm.settingsAccount.login}}'}">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>
            </header>
        </section>

        <form name="form" role="form" class="form-horizontal" autocomplete="off" novalidate ng-submit="vm.save()">
            <div class="pr-notification-local-banner">
                <div class="alert alert-success" ng-show="vm.success">
                    <div class="alert-body">
                        <span translate="settings.messages.success"><strong>Settings saved!</strong></span>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                    <div class="alert-body">
                        <span translate="settings.messages.error.emailexists"><strong>E-mail is already in use!</strong> Please choose another one.</span>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="vm.error">
                    <div class="alert-body">
                        <span translate="settings.messages.error.fail"><strong>An error has occurred!</strong> Settings could not be saved.</span>
                    </div>
                </div>
            </div>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="firstName" translate="settings.form.firstname">First Name</label>
                    <div class="control-container">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                               ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=25 required maxlength="25">
                        <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                            <div class="error-block" ng-show="form.firstName.$error.required">
                                <span translate="settings.messages.validate.firstname.required">Your first name is required.</span>
                            </div>
                            <div class="error-block" ng-show="form.firstName.$error.minlength">
                                <span translate="settings.messages.validate.firstname.minlength">Your first name is required to be at least 1 character.</span>
                            </div>
                            <div class="error-block" ng-show="form.firstName.$error.maxlength">
                                <span translate="settings.messages.validate.firstname.maxlength">Your first name cannot be longer than 25 characters.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName" translate="settings.form.lastname">Last Name</label>
                    <div class="control-container">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                               ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=25 required maxlength="25">
                        <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                            <div class="error-block" ng-show="form.lastName.$error.required">
                                <span translate="settings.messages.validate.lastname.required">Your last name is required.</span>
                            </div>
                            <div class="error-block" ng-show="form.lastName.$error.minlength">
                                <span translate="settings.messages.validate.lastname.minlength">Your last name is required to be at least 1 character.</span>
                            </div>
                            <div class="error-block" ng-show="form.lastName.$error.maxlength">
                                <span translate="settings.messages.validate.lastname.maxlength">Your last name cannot be longer than 25 characters.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="langKey" translate="settings.form.language">Language</label>
                    <div class="control-container">
                        <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages"></select>
                    </div>
                </div>
            </fieldset>
            <div class="pull-right">
                <button type="submit" ng-disabled="form.$invalid" class="btn pr-btn pr-btn-primary" translate="settings.form.button">Save</button>
            </div>
        </form>
    </div>
</div>
