<div class="modal-body">
    <form name="form" role="form" class="form-horizontal" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label class="control-label control-label-required" for="streetAddress" translate="global.form.street">Street Address</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="streetAddress" name="streetAddress" placeholder="{{'global.form.street.placeholder' | translate}}"
                           ng-model="vm.registerAccount.companyStreetAddress" ng-maxlength=25 required>

                    <div ng-show="form.streetAddress.$invalid && form.streetAddress.$touched">
                        <div class="error-block" ng-show="form.streetAddress.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.streetAddress.$error.maxlength">
                            <span translate="global.messages.validate.streetAddress.maxlength">Street address cannot be longer than 25 characters.</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label control-label-required" translate="global.form.city" for="field_city">City</label>
                <div class="control-container">
                    <input type="text" class="form-control" name="city" id="field_city" placeholder="{{'global.form.city.placeholder' | translate}}"
                           ng-maxlength="25" ng-model="vm.registerAccount.companyCity" required/>

                    <div ng-show="form.city.$invalid && form.city.$touched">
                        <div class="error-block" ng-show="form.city.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.city.$error.maxlength">
                            <span translate="global.messages.validate.city.maxlength">City cannot be longer than 25 characters.</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" translate="global.form.zipCode" for="field_zipCode">ZIP Code</label>
                <div class="control-container">
                    <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                           ng-maxlength="25"
                           ng-model="vm.registerAccount.companyZipCode" required placeholder="{{'global.form.zipCode.placeholder' | translate}}"/>
                    <div ng-show="(form.zipCode.$dirty || form.zipCode.$touched) && form.zipCode.$invalid">
                        <div class="error-block" ng-show="form.zipCode.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.zipCode.$error.maxlength">
                            <span translate="global.messages.validate.zipCode.maxlength">Zip cannot be longer than 25 characters.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" translate="global.form.state" for="field_state">State</label>
                <div class="control-container">
                    <input type="text" class="form-control" name="state" id="field_state"
                           ng-maxlength="25"
                           ng-model="vm.registerAccount.companyState" required placeholder="{{'global.form.state.placeholder' | translate}}"/>
                    <div ng-show="(form.state.$dirty || form.state.$touched) && form.state.$invalid">
                        <div class="error-block" ng-show="form.state.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.state.$error.maxlength">
                            <span translate="global.messages.validate.state.maxlength">State cannot be longer than 25 characters.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" translate="global.form.country" for="field_country">Country</label>
                <div class="control-container">
                    <select class="form-control" id="field_country" name="country" ng-model="vm.registerAccount.companyCountry"
                            ng-options="key as value for (key , value) in vm.countries" required>
                        <option value=""></option>
                    </select>
                    <div ng-show="(form.country.$dirty || form.country.$touched) && form.country.$invalid">
                        <div class="error-block" ng-show="form.country.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">
        <button class="btn pr-btn pr-btn-alt" ui-sref="register.security">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button class="btn pr-btn pr-btn-alt" ui-sref="register.agreement"
                ng-click="vm.validateProceed($event, form);"
                ng-disabled="form.$invalid">
            <span translate="entity.navigation.next">Next</span>&nbsp;&gt;
        </button>
    </div>
</footer>
