<div class="modal-body" ng-hide="vm.success">
    <form name="form" role="form" class="form-horizontal" novalidate>
        <div class="col-md-12">
            <div style="max-height: 300px; overflow-y: auto;">
                <static-include template-path="\content\eula\eula.html"></static-include>
            </div>

            <input type="checkbox" name="eulaChecked" ng-model="vm.checkEula" ng-true-value="true" check-required />
            <label style="color:blue">I accept the terms and conditions</label>
            <div ng-show="form.eulaChecked.$invalid">
                <div class="error-block" ng-show="form.eulaChecked.$error.checkRequired">
                    <span>You have not read the terms and conditions.</span>
                </div>
            </div>
        </div>
        <div class="pr-notification-local-banner">
            <div class="alert alert-danger" ng-show="vm.error">
                <div class="alert-body">
                    <span translate="register.messages.error.fail"><strong>Registration failed!</strong> Please try again later.</span>
                </div>
            </div>
        </div>
    </form>
</div>
<footer class="modal-footer" ng-hide="vm.success">
    <div class="form-actions-left">
        <button class="btn pr-btn pr-btn-alt" ui-sref="register.company">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn pr-btn pr-btn-alt" ng-click="vm.register()" ng-disabled="!vm.checkEula">
            <span translate="entity.action.submit">Submit</span>
        </button>
    </div>
</footer>

<div class="modal-body" ng-show="vm.success">
    <form name="form" role="form" class="form-horizontal" novalidate>
        <div class="pr-notification-local-banner">
            <div class="alert alert-success">
                <div class="alert-body">
                    <span translate="register.messages.success"><strong>Registration saved!</strong> Please check your email for confirmation.</span>
                </div>
            </div>
        </div>
    </form>
</div>
<footer class="modal-footer" ng-show="vm.success">
    <div class="form-actions-left">
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.close">Close</span>
        </button>
    </div>
</footer>
