
<div class="pr-wizard">
    <header class="modal-header">
        <h3 class="modal-title">Registration</h3>

        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="pr-wizard-steps-indicator pr-wizard-steps-4" ng-hide="vm.success">
            <ul class="clearfix">
                <li class="pr-wizard-step pr-wizard-step-open"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 1}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="register.identity">
                    <span class="pr-wizard-step-label">Identity</span>
                </li>
                <li class="pr-wizard-step pr-wizard-step-open"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 2, 'pr-wizard-step-open': vm.currentStepIndex < 2}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="register.security">
                    <span class="pr-wizard-step-label">Security</span>
                </li>
                <li class="pr-wizard-step pr-wizard-step-open"
                    ng-class="{'pr-wizard-step-visited': vm.currentStepIndex > 3, 'pr-wizard-step-open': vm.currentStepIndex < 3}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="register.company">
                    <span class="pr-wizard-step-label">Company</span>
                </li>
                <li class="pr-wizard-step pr-wizard-step-open"
                    ng-class="{'pr-wizard-step-open': vm.currentStepIndex < 4}"
                    ui-sref-active="pr-wizard-step-active" ui-sref="register.agreement">
                    <span class="pr-wizard-step-label">License Agreement</span>
                </li>
            </ul>
        </div>
    </header>

    <!-- our nested state views will be injected here -->
    <div id="form-views" ui-view="wizard" ng-init="vm.setWizardState('register.identity')"></div>

</div>
