<div class="modal-body">
    <form name="form" role="form" class="form-horizontal" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label class="control-label control-label-required" for="firstName" translate="global.form.firstname">First name</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'global.form.firstname.placeholder' | translate}}"
                           ng-model="vm.registerAccount.firstName" ng-maxlength=25 required>
                    <div ng-show="form.firstName.$invalid && form.firstName.$touched">
                        <div class="error-block" ng-show="form.firstName.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.firstName.$error.maxlength">
                            <span translate="global.messages.validate.firstname.maxlength">First name cannot be longer than 25 characters.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label control-label-required" for="lastName" translate="global.form.lastname">Last name</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'global.form.lastname.placeholder' | translate}}"
                           ng-model="vm.registerAccount.lastName" ng-maxlength=25 required>
                    <div ng-show="form.lastName.$invalid && form.lastName.$touched">
                        <div class="error-block" ng-show="form.lastName.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.lastName.$error.maxlength">
                            <span translate="global.messages.validate.lastname.maxlength">Last name cannot be longer than 25 characters.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" translate="global.form.popnumber">POP number</label>
                <div class="control-container">
                    <pop-number popnumber='vm.registerAccount.popNumber'
                                ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                                maxlength="39"
                                pop-available-validator
                                required></pop-number>
                    <div ng-show="form.popnumber.$invalid && form.popnumber.$touched">
                        <div class="error-block" ng-show="form.popnumber.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.popnumber.$error.popnumber">
                            <span translate="global.messages.validate.popnumber.invalid">Invalid POP number.</span>
                        </div>
                        <div class="error-block" ng-show="form.popnumber.$error.popUnknown">
                            <span translate="global.messages.validate.popnumber.unknown">The POP is unknown or already in use.</span>
                        </div>
                    </div>
                    <div ng-show="form.popnumber.$pending">
                        <div class="help-block">
                            <span translate="global.messages.validate.popnumber.pending">Validating POP number...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" for="companyName" translate="global.form.companyName">Company name</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="{{'global.form.companyName.placeholder' | translate}}"
                           ng-model="vm.registerAccount.companyName" ng-maxlength=25 required>
                    <div ng-show="form.companyName.$invalid && form.companyName.$touched">
                        <div class="error-block" ng-show="form.companyName.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.companyName.$error.maxlength">
                            <span translate="global.messages.validate.companyname.maxlength">Company name cannot be longer than 25 characters.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" for="phoneNumber" translate="global.form.phonenumber">Phone number</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="{{'global.form.phonenumber.placeholder' | translate}}"
                           ng-model="vm.registerAccount.contactPhoneNumber" ng-maxlength=25 required>
                    <div ng-show="form.phoneNumber.$invalid && form.phoneNumber.$touched">
                        <div class="error-block" ng-show="form.phoneNumber.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.phoneNumber.$error.maxlength">
                            <span translate="global.messages.validate.phonenumber.maxlength">Phone number cannot be longer than 25 characters.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" for="email" translate="global.form.email">E-mail</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           maxlength="60" ng-pattern="/^(?=[A-Za-z0-9@._%+-]{5,60}$)[A-Za-z0-9._%+-]{1,20}@(?:(?=[A-Za-z0-9-]{1,20}\.)[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*\.){1,8}[A-Za-z0-9]{2,20}$/"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=60
                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                           email-exists-validator
                           required>
                    <div ng-show="form.email.$touched && form.email.$invalid">
                        <div class="error-block" ng-show="form.email.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.email.$error.pattern">
                            <span translate="global.messages.validate.email.invalid">E-mail is invalid.</span>
                        </div>
                        <div class="error-block" ng-show="form.email.$error.minlength">
                            <span translate="global.messages.validate.email.minlength">E-mail is required to be at least 5 characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.email.$error.maxlength">
                            <span translate="global.messages.validate.email.maxlength">E-mail cannot be longer than 60 characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.email.$error.emailExists">
                            <span translate="global.messages.validate.email.exists">Your e-mail address is already in use.</span>
                        </div>
                    </div>
                    <div ng-show="vm.errorEmailExists">
                        <div class="error-block">
                            <span translate="register.messages.error.emailexists"><strong>E-mail is already in use!</strong> Please choose another one.</span>
                        </div>
                    </div>
                    <div ng-show="form.email.$pending">
                        <div class="help-block" translate="global.messages.validate.email.pending">
                            <span>Checking for email conflicts...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" for="confirmEmail" translate="global.form.confirmemail">Confirm e-mail</label>
                <div class="control-container">
                    <input type="text" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="{{'global.form.confirmemail.placeholder' | translate}}"
                           maxlength="60" ng-pattern="/^(?=[A-Za-z0-9@._%+-]{5,60}$)[A-Za-z0-9._%+-]{1,20}@(?:(?=[A-Za-z0-9-]{1,20}\.)[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*\.){1,8}[A-Za-z0-9]{2,20}$/"
                           compare-to="vm.registerAccount.email"
                           ng-model="vm.confirmEmail" ng-minlength=5 ng-maxlength=60 required>
                    <div ng-show="form.confirmEmail.$touched && form.confirmEmail.$invalid">
                        <div class="error-block" ng-show="form.confirmEmail.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmEmail.$error.pattern">
                            <span translate="global.messages.validate.email.invalid">Your e-mail is invalid.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmEmail.$error.minlength">
                            <span translate="global.messages.validate.email.minlength">Your e-mail is required to be at least 5 characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmEmail.$error.maxlength">
                            <span translate="global.messages.validate.email.maxlength">Your e-mail cannot be longer than 60 characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmEmail.$error.compareTo">
                            <span translate="global.messages.error.dontmatch.email">The email and its confirmation do not match!</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">

    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button class="btn pr-btn pr-btn-alt" ui-sref="register.security"
                ng-click="vm.validateProceed($event, form);"
                ng-disabled="form.$invalid">
            <span translate="entity.navigation.next">Next</span>&nbsp;&gt;
        </button>
    </div>
</footer>
