<div class="modal-body">
    <form name="form" role="form" class="form-horizontal" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label class="control-label control-label-required" for="password" translate="global.form.password">Password</label>
                <div class="control-container">
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.password.placeholder' | translate}}"
                           ng-model="vm.registerAccount.password"
                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                           ng-minlength='{{vm.configuration.password.minLength}}'
                           ng-maxlength=50
                           password-strength-validator
                           required>
                    <div ng-show="form.password.$touched && form.password.$invalid">
                        <div class="error-block" ng-show="form.password.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.password.$error.minlength">
                            <span translate="global.messages.validate.newpassword.minlength" translate-values="{ minLength: vm.configuration.password.minLength }">Your password is required to be at least {{vm.configuration.password.minLength}} characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.password.$error.maxlength">
                            <span translate="global.messages.validate.newpassword.maxlength">Your password cannot be longer than 50 characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.password.$error.passwordStrength">
                            <span translate="global.messages.validate.newpassword.weak">Your password must contain 3 of the following items: uppercase letters, lowercase letters, numbers or symbols.</span>
                        </div>
                    </div>
                    <div ng-show="form.password.$pending">
                        <div class="help-block">
                            <span translate="global.messages.validate.newpassword.pending">Validating password strength...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-required" for="confirmPassword" translate="global.form.confirmpassword">Confirm Password</label>
                <div class="control-container">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="vm.confirmPassword"
                           ng-minlength='{{vm.configuration.password.minLength}}'
                           ng-maxlength=50
                           compare-to="vm.registerAccount.password"
                           required>
                    <div ng-show="form.confirmPassword.$touched && form.confirmPassword.$invalid">
                        <div class="error-block" ng-show="form.confirmPassword.$error.required">
                            <span translate="entity.validation.required">This field is required.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmPassword.$error.minlength">
                            <span translate="global.messages.validate.confirmpassword.minlength" translate-values="{ minLength: vm.configuration.password.minLength }">Your confirmation password is required to be at least {{vm.configuration.password.minLength}} characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmPassword.$error.maxlength">
                            <span translate="global.messages.validate.confirmpassword.maxlength">Your confirmation password cannot be longer than 50 characters.</span>
                        </div>
                        <div class="error-block" ng-show="form.confirmPassword.$error.compareTo">
                            <span translate="global.messages.error.dontmatch.password">The password and its confirmation do not match!</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<footer class="modal-footer">
    <div class="form-actions-left">
        <button class="btn pr-btn pr-btn-alt" ui-sref="register.identity">&lt;&nbsp;Previous</button>
    </div>
    <div class="form-actions">
        <button type="button" class="btn pr-btn pr-btn-alt" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button class="btn pr-btn pr-btn-alt" ui-sref="register.company"
                ng-click="vm.validateProceed($event, form);"
                ng-disabled="form.$invalid">
            <span translate="entity.navigation.next">Next</span>&nbsp;&gt;
        </button>
    </div>
</footer>
